  <div class="grid-operation">

    <!-- Row 1 -->
    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Bangladesh</h1>

      <div class="country-numbers">
        <h2 class="serif">September 2017</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span> <small>million</small></span>
        <span class="label">people in need of humanitarian assistance </span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">161</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">67</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">25</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">13,394</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">12,573</span> <span>mt</span></span>
        <span class="label">Road Transport</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/bangladesh.jpg" alt="Alexandra Parisien, Bangladesh" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Bangladesh</h1>
        <p>
          The Logistics Sector was activated in Bangladesh in October 2017 to support the humanitarian community in Cox’s Bazar, with coordination, information management, and common services as part of the government-led humanitarian response. The overall logistics gaps and bottlenecks that the Logistics Sector has been addressing in Cox’s Bazar district include a general shortage of available warehousing, limited commercial facilities to manage additional demands, and high utilisation of existing emergency and disaster management infrastructure.  
		</p>
          <p>
            The onset of COVID-19 in 2020 caused a rapid shift in the Logistics Sector’s activities, from an initial scale down to opening new storage facilities and addressing emerging gaps in collaboration with the government, humanitarian partners, Inter Sector Coordination Group (ISCG), and other key stakeholders. A COVID-19 Special Hub was established to support the Health Sector, with five Mobile Storage Units (MSU) and a temperature-controlled unit as surge capacity in Cox’s Bazar and Unchiprang hub, in addition to the already existing hubs in Madhu Chara, Balukhali and Teknaf in partnership with WFP and Handicap International/Atlas Logistique. As part of this partnership, the Logistics Sector also made a dedicated humanitarian truck fleet available to partners to transport COVID-19 response materials to Isolation and Treatment Centres and other response locations within the camps. Moreover, in response to government-imposed restrictions in the camps during the height of COVID-19, the Logistics Sector developed a fully digital system, the Humanitarian Access Project, to validate Refugee Relief and Repatriation Commissioner (RRRC) approved humanitarian vehicles, in order to not only contain the spread of the pandemic to the camps but also to reduce delays and bottlenecks at checkpoints. To date, the Logistics Sector has supported 161 organisations, government bodies and suppliers through the Humanitarian Access Project. The Logistics Sector also made available six solar direct drive vaccine refrigerators for the cold storage of vaccines and medicine at Severe Acute Respiratory Infection (SARI) Isolation and Treatment Centres (ITCs), of which three have been loaned out to the International Organization for Migration (IOM) and Médecins Sans Frontières (MSF). 
          </p>
          <p>
            In order to ensure that the humanitarian community has access to the resources required for operational support, emergency preparedness, and minimising duplication of effort, 25 coordination meetings were organised that were attended by 58 organisations with an average participation rate of 23 people per meeting. Furthermore, as part of the capacity strengthening effort, five trainings were organised for 60 people from 23 organisations.  
          </p>
		 <p>
			To support operational decision making, respond to common logistics challenges and improve the efficiency of the logistical response, especially during the pandemic as well as the cyclone and monsoon seasons, vital information was collected on existing stocks and suppliers of Personal Protective Equipment (PPE), ITC locations, ports, customs, WFP COVID-19 global transport services, as well as the impact on logistics by Cyclone Amphan. This information was shared through 67 key information products. Various assessments such as warehouse capacity, traffic count and road assessments were also carried out over the year. 
          </p>
          <p>
			Coordination between partners continued to be paramount to the humanitarian operation. The Logistics Sector conducted regular coordination meetings and co-chaired Health Logistics inter-sector coordination meetings with the Health Sector. The meetings provided a forum for partners to raise issues that impacted their ability to respond such as traffic control, roads management and storage constraints. Where deemed appropriate, the Logistics Sector then advocated for solutions to the issues raised on behalf of the community. In total, 32 coordination meetings and health logistics meetings were held over the course of the year. 
          </p>
          <p>
            In terms of services facilitated, 13,394 m3 (7572 mt) of relief items were stored for 26 organisations and 38,479 m3 (12,573 mt) of relief items were transported for 25 organisations in 2020, using 4146 trucks. In response to the COVID-19 outbreak, a total of 2535 litres of hand sanitizer was distributed among 37 organisations to facilitate office hygiene and staff wellbeing. 
          </p>
          <p>
            The Logistics Sector also prepositioned standby logistics assets including MSUs, generators, tarpaulins, sandbags and car kits across three hubs (Madhuchara, Balukhali and Teknaf hub) for partners to loan to enable rapid scale up or mitigation of disruption due to natural disasters. To date, the Logistics Sector has loaned out a variety of logistics equipment including refugee housing units, fridges, generators and MSUs to 22 partners for operational support in SARI ITCs. The Sector also supported partners with heavy machineries placing dry containers in different camps for monsoon & cyclone preparedness.
		  </p>
		  <p>
        In support of the humanitarian community, the Logistics Cluster facilitated the procurement of COVID-19 response items from the United Nations Humanitarian Response Depot (UNHRD) for WFP, IOM and UNHCR. In collaboration with the World Food Programme (WFP), the Logistics Sector also facilitated the shipment of 10,000 protective gowns, donated by Join Together Society (JTS) in South Korea, from China to Bangladesh for the COVID-19 response in Cox’s Bazar using the WFP Global Aviation Service.  
      </p>
      <p>
        Moving into 2021, the Logistics Sector anticipates a cautious reduction in COVID-19 specific support activities. Coordination and information sharing will continue focusing on emergency preparedness and response, capacity building trainings and stronger engagement with national level partners.
      </p>
          
        </div>

        <!-- Row 3 -->
        <div class="numbers">
          <div class="text-center">
            <span class="serif"><span class="title">US$XX</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <!-- <div class="text-center">
            <span class="serif"><span class="title">US$3.1</span> <small>million</small></span>
            <span class="label">funds available in 2019</span>
          </div> -->


          <div class="text-center">
            <div class="fund-percentage fund-percentage-100 layout-column layout-center">
              <span class="fund-value">XX%</span>
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>
    </div>

    </div>

    <div class="overlay overlay-blue"></div>
