  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Central African Republic (CAR)</h1>

      <div class="country-numbers">
        <h2 class="serif">November 2013</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">2.8</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance </span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">22</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">2,572 </span><span>mt</span></span>
        <span class="label">Road transport</span>
	  </div>
	  
	  <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">371 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">14,145</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/car.jpg" alt="Central African Republic" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Central African Republic (CAR)</h1>
        <p>
          The Logistics Cluster in Central African Republic (CAR) was activated in 2013 following the logistics related gaps to meet growing humanitarian needs, identified through UN agencies and NGOs. The country has been facing a gradual deterioration of the situation with 2.8 million people in need of humanitarian assistance, 1.9 million of whom in acute need in 2020.  
    </p>
    <p>
      Particularly, logistical challenges linked to physical accessibility are a key obstacle in delivering aid to the most vulnerable communities affected by regular shocks. Successive crises have considerably deteriorated the already limited access infrastructures, including roads, bridges and airstrips across the country, isolating entire zones. Moreover, the lack of maintenance of those infrastructures, combined with the inadequate logistics capacity (such as the lack of availability of commercial transport and local suppliers, storage spaces, etc) is especially challenging for emergency assistance during the rainy season when roads, bridges and ferries are deteriorating even faster. In addition, the volatility of the security situation is a second major factor hampering the delivery of aid in a country hit by successive conflicts, acts of banditry and activities of armed groups. Such a complex logistics environment limits dramatically the prospects to bring sufficient assistance to the most vulnerable groups who depend greatly on humanitarian assistance and protection. 
    </p>
		<p>
      In 2020, the Logistics Cluster continued working closely with partners in-country to facilitate access to common services such as storage, road and air transport to solve operational issues identified and provide coordination and information management. 
    </p>
    <p>
      To begin, common storage spaces were made available for the humanitarian community. In Bangui, two warehouses, managed by Première Urgence Internationale (PUI) on behalf of the cluster, were provided. This includes a temperature-controlled storage site for medical items and specialized nutritious food. In addition, 9 Mobile Storage Units (MSUs) were made available in the province, managed by different INGO partners and UN agencies based on their capacity and field presence. A total of 14,145 m3 of humanitarian cargo was stored over the course of the year. In Addition, Humanity and Inclusion (HI), on behalf of the Cluster, coordinates a common road transport service and in 2020, 2,562 MT of humanitarian aid was transported on behalf of 30 organizations from Bangui, Bambari and Bossangoa to various hot spots around the country. In order to support the emergency operations of organizations working with the populations most severely affected by shocks (security, natural and epidemic), the Logistics Cluster facilitates an emergency air freight service to the hardest to reach destinations by road. In 2020, 371 MT of priority cargo were transported on behalf of 31 organizations to priority zones (east and northeast mainly). Last but not least, capacity building aimed at reinforcing technical skills for national logisticians and ultimately the logistics response of the entire humanitarian community is a key area of a sustainable response. the Logistics Cluster facilitated two training courses in 2020. 
    </p>
    <p>
      Then, the coordination role undertaken by the Logistics Cluster is a key element in the humanitarian response, helping to reduce costs, create synergies, and avoid duplication of efforts. To this end, 22 Logistics Cluster coordination meetings were held in Bangui, and logistics working group meetings were organized in the province to maintain open discussions around logistical needs. Information Management (customs, local market, accessibility mapping, etc) is another key element of the response. 
    </p>
    <p>
      In 2020, the COVID19 pandemic hampered some of the activities due to the sanitary restrictions. Trainings scheduled for the year had to be almost entirely cancelled due to the COVID-19 epidemic situation and infrastructure rehabilitation projects, a major focus of the humanitarian response in CAR, were delayed. Furthermore, at the height of the crisis a certain number of logistics risks were observed which could slow down the logistics chain; stockouts, border blockages, and customs bottlenecks. To support the COVID19 response, the Logistics Cluster received airlifts at Bangui airport, organized by the Global Service Provision Team in HQ, delivering Covid-19 items for humanitarian health partners working in CAR. 
    </p>
        
       
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$1.8</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$3</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->


        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>