  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Ethiopia</h1>

      <div class="country-numbers">
        <h2 class="serif">November 2008</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">12.8</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">203</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">237</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">55</span></span>
        <span class="label">Coordination meetings</span>
      </div>


    </div>

    <div class="hidden-md-up">
      <img src="images/ethiopia.jpg" alt="Ethiopia" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Ethiopia</h1>
        <p>
			The Logistics Cluster is jointly led by the National Disaster Risk Management Commission (NDRMC) for response coordination and ensure ability to transport goods throughout the country. The Logistics Cluster also works along the Emergency Coordination Center (ECC) in charge of coordinating multi-sector response to humanitarian crises in country. 
        </p>
        <p>
            Services under the Logistics Cluster are streamlined in close coordination with other Cluster lead agencies and respond to partners and Government gaps. The logistics, air and land transportation services, including storage services are provided by the Logistics Cluster will serve the entire community, including the UN, NGOs and Government, providing essential support to supply chains and the movement of humanitarian actors. The services support the other Clusters logistics operational support and increasing their capacity accordingly where there are identified gaps. Services rendered are done based on prioritization of needs.
        </p>
        <p>
            Additionally, OCHA and the Logistics Cluster continue to closely work with the National Disaster Risk Management Commission (NDRMC) to streamline coordination of cargo movements ensuring safe and secure access to Tigray and bordering areas in Amhara and Afar Regions. 
        </p>
        <p>
            In one month, the Logistics Cluster set up the following services to support the humanitarian community in responding to the Tigray response:
        </p>
        <ul>
            <li>
                The Logistics Cluster established 3 logistics hubs in key strategic locations (Gondar – Kombolcha – Semera) to provide humanitarian partners with access to common storage facilities, dedicated transport, and truck assembly points. 
            </li>
            <li>
                In Gondar, the Logistics Cluster has made available a 2400 m2 storage capacity for partners to position their stocks in Gondar. There is currently one dedicated Logistics Cluster officer on the ground for coordination. Recruitment is ongoing for 2 logistics assistants and one storekeeper.
            </li>
            <li>
                In Kombolcha, the Logistics Cluster has made available a 900m2 storage capacity for partners to position their stocks in Kombolcha. There is currently one dedicated Logistics Cluster officer on the ground for coordination, and two dedicated convoy leaders.  Recruitment is ongoing for 2 logistics assistants and one storekeeper.
            </li>
            <li>
                In Semera, the Logistics Cluster is setting up two mobile storage units with a capacity of 640 m2 for partners to position their stocks in Semera. There is currently one dedicated Logistics Cluster officer on the ground for coordination. Recruitment is ongoing for a logistics assistant and storekeepers.
            </li>
            <li>
                The Logistics Cluster has facilitated access to dedicated fleets to support the humanitarian community. 
            </li>
        </ul>
        <p>
            In addition, the Logistics Cluster continues to provide coordination and information management to the humanitarian community: 
        </p>
        <ul>
            <li>
                Coordination: The Logistics Cluster provides the fundamental link to overall logistics efforts across the country, through coordination activities and technical support provided to enhance collaboration between relevant authorities from the Government of Ethiopia and humanitarian partners, but also to minimize duplications of efforts and streamline logistics activities and ensure efficient utilization of existing assets. Moreover, the Logistics Cluster facilitates regular meetings with key representatives to identify logistics challenges and propose mitigating activities. 
            </li>
            <li>
                Information Management (including GIS): The Logistics Cluster provides essential information management support, including GIS mapping, physical road constraint map to enable a smooth and coherent flow of relevant information to all partners, from Government, UN Agencies and NGOs. To bolster information management and provide clear cargo tracking, the Logistics Cluster will use its system for cargo tracking along to reinforce partners’ and Government’s humanitarian tracking. 
            </li>
            <li>
                Infrastructure and earthworks: benefiting from WFP’s unique Engineering team, earthworks to improve infrastructure for both work and storage areas are also provided by the Logistics Cluster which can include but not limited to elevation works, shading, rehabilitation works. Funding will be utilized for road improvements where it is impacting humanitarian access. 
            </li>
        </ul>
        
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$2.5</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$3.6</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->


        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>