  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Lebanon</h1>

      <div class="country-numbers">
        <h2 class="serif">XXX 2020</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">870,000</span> </span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">31</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">55</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">9</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">1,305 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">1,761</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>


    </div>

    <div class="hidden-md-up">
      <img src="images/lebanon.jpg" alt="Lebanon" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Lebanon</h1>
        <p>
			On 4 August, a warehouse at the port of Beirut exploded, causing widespread casualties and material damage. The port suffered considerably and surrounding commercial and residential neighbourhoods were affected too. The humanitarian community was expecting to face a number of critical logistics challenges in the required multi-agency and multi-sector response, and as such, an in-country Logistics Sector was activated in Lebanon in response to the explosion. 
        </p>
        <p>
            A dedicated Logistics Sector Coordinator was immediately deployed to Beirut after the blast, to support the coordination and information sharing with partners. In order to minimise duplication of efforts within the humanitarian community, the Logistics Sector coordinated with the Emergency Operation Cell (EOC), other sectors, agencies and humanitarian organisation, and participated regularly in meetings with the Humanitarian Country Team (HCT), Inter-Coordination Mechanism and other coordination structures. A dedicated civil-military coordination officer based in Beirut was tasked with the continuous liaising and communication with the country’s armed forces assigned to responding to the crisis, as well as foreign military actors supporting the humanitarian response. 
        </p>
        <p>
            In total, 11 coordination meetings were held in Beirut/online. These meetings served as a platform for partners to discuss common logistics challenges such as a fuel shortage and importation and customs procedures. Furthermore, three Global Calls were organised to facilitate coordination and share information on a global level, with the first meeting held on 10 August and attended by 28 organisations. 
        </p>
        <p>
            In the initial days after the explosion, the Logistics Sector conducted assessments of the ports in Beirut and Tripoli and warehousing in Beirut. Findings of the assessments were shared through the coordination meetings and on the dedicated Logistics Sector website. Other information products created include detailed city maps and a map displaying the impact of the explosion through high resolution satellite imagery, which the Logistics Sector had access to thanks to the Global Logistics Cluster partnership with Airbus. 
        </p>
        <p>
            As the response developed, the Logistics Sector supported partners with the facilitation of importation and understanding of customs procedures in collaboration with OCHA. A WhatsApp group was established to support with customs procedures, with an OCHA focal point included in the group to answer any customs related queries. Various essential documents, such as tax exemption regulations, were shared through the Logistics Sector channels. Furthermore, the Logistics Sector and OCHA worked together to establish a facilitated approval process for medical cargo. 
        </p>
	  </div>
	  
	  <div class="numbers">
        


        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="">CLOSED <br/>OPERATION</span>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="overlay overlay-blue"></div>
