  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">South Sudan</h1>

      <div class="country-numbers">
        <h2 class="serif">October 2011</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">190</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">234</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">31</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif">
			<svg class="highlight-icon red">
				<use xlink:href="sprite.svg#Logistics"></use>
			</svg>
			  <span class="title">6,481 </span><span>mt</span></span>
          <span class="label">Road, River and Air transport</span>
        </div>

      <div class="country-numbers">
		<span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> 
			<span class="title">48 </span></span>
        <span class="label">INTER-AGENCY HUMANITARIAN CONVOYS Coordinated BY ROAD AND RIVER</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/2018/ssd.jpg" alt="Lila Ricart, Information Management Officer, South Sudan" class="img-fluid" />
    </div>

    <div class="operation-right">

      <div class="text">
        <h1 class="title hidden-md-down">South Sudan</h1>
        <p>
          The Logistics Cluster was activated in the country in 2011, and since then humanitarian organisations receive logistics support enabling them to deliver humanitarian assistance in ever changing environment severely affected by poor infrastructure, seasonality, insecurity and most recently impacts of COVID-19 on supply chain resilience and access. Only last year, 190 organisations were supported with coordination, information management and common logistics services.

		</p>
		<p>
			Every year, seasonal changes increase operational costs at different times of the year and in 2020, major roads remained physically inaccessible longer than usual not only shortening the humanitarian cargo pre-positioning window during the dry season, but also increasing the reliance of humanitarian partners on costly air transport. For a second consecutive year, the Logistics Cluster team had to adjust the provision of its services to respond to the flooding emergency, affecting over 1 million people. This emergency also further exacerbated road conditions and made the Juba – Bor road inaccessible for months, critical to pre-position cargo destined to Jonglei and Upper Nile States. To address this major bottleneck the cluster coordinated, for the first time since its activation, a river movement from Juba to Bor, transporting over 160 mt of life-saving cargo. Additionally, a helicopter was deployed in order to deliver cargo from Bor to remote locations affected by flooding. 
		</p>
      <p>
        Despite physical road access constraints, the Logistics Cluster continued advocating for better planning and cargo prepositioning ahead of the rainy season which resulted in transporting 47% of cargo through road and river transport modalities, translated into a 14% decreased reliance on air operations. The Logistics Cluster achieved operational efficiencies by continuing by expanding both road and river use. In 2020, a total of 27 river movements, 10 more than in 2019, has been facilitated which enabled the transportation of 2325 metric tons of cargo through waterways. For the first time since the implementation of the Beyond Responses project, more than 1000 mt of lifesaving has been transported to deep field locations using roads. The cluster also coordinated a total of 42 humanitarian convoys along the major supply roads, which enabled partners to transport approximately 16,500 metric tons to major logistics hubs across South Sudan. 
      </p>

        <p>
          Coordination and Information Management continued to be the backbone of the Logistics Cluster support offered to partners contributing to operational decision-making and improving the efficiency of the overall logistics response. In total, 234 information products were published on the country-dedicated website, which included 52 Physical Access Constraints maps, which reflects physical status of roads and continues to be the most visited products across all the Logistics Cluster operations. The cluster also facilitated a total of 31 coordination meetings and represented logistics partners in seven national coordination mechanisms, including the Inter-Cluster Coordination Group.
        </p>
        <p>
          COVID-19 restrictions have further impacted the availability of food, fuel, and other essential goods, significantly restricting existing humanitarian operations. The Logistics Cluster South Sudan participated in the National Steering Committee on COVID-19, co-leading the Operations Support and Logistics pillar, coordinating closely with the government, WHO and other partners, as well as sharing information and guidance with partners. As part of the National Response Plan, the Logistics Cluster supported WHO with expanding bed capacity at the Dr John Garang multi-purpose Infectious Diseases Unit by donating and installing a mobile storage unit at the site. Furthermore, the cluster-managed common storage capacity in Juba was close to tripled to accommodate the anticipated high volumes of COVID-19 supplies. In order to ensure scarce in-country stocks of Personal Protective Equipment (PPE) were prioritized across the country to meet the needs of the COVID-19 response, the Logistics Cluster launched the central storage and management of PPE on behalf of the humanitarian community in South Sudan. As a result, more than 3.2 million PPE items were allocated by the COVID-19 Inter-Agency Technical Team and dispatched by the Logistics Cluster in Juba to 93 organisations from the common pool created by IOM, WFP and WHO.
        </p>
        <p>
          Due to COVID-19 global pandemic, Logistics Cluster trainings were put on hold since March 2020. However, only in January and February, 230 participants from 96 organisations attended 8 physical/onsite sessions. Since March, the Logistics Cluster South Sudan actively encouraged participants to access a free e-learning platform featuring a selection of logistics trainings available to Logistics Cluster partners globally.
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$26.9</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$26.3</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-98 layout-column layout-center">
            <span class="fund-value">98%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
