  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Syria</h1>

      <div class="country-numbers">
        <h2 class="serif">January 2013</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">11.7</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">77</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Coordination meetings</span>
      </div>


      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">264,000 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">16,000</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/syria.jpg" alt="Syria" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Syria</h1>
        <p>
          The Logistics Cluster was activated in Syria in January 2013 and In September 2014, the Whole of Syria (WoS) approach was adopted as a result of the UN Security Council Resolution 2165. The resolution brought together separate regional operations into a single framework. Eight years on, the Syrian context remains one of the most complex humanitarian crises worldwide, with an estimated 11.7 million people in need of humanitarian and protection assistance in 2019 (OCHA).
		</p>
		<p>
			In 2020, the Logistics Cluster supported 77 partners including UN agencies, NGOs INGOs and national societies responding regionally to the Syria crisis by facilitating access to crucial free-to-user logistics services. Information management and GIS collaboration led to the development of new IM products, maps and data collection tools to ensure physical access updates in the northwest ahead of the winter season.
		</p>
        <p>
          The Logistics Cluster continued to provide critical support to the cross-border responses through the facilitation of Security Council-authorised cross-border transhipment services for UN agencies delivering humanitarian cargo to areas of Syria inaccessible from inside the country. Over the course of 2020, 12,082 Syrian trucks were transhipped from Turkey to Syria transporting just over 264,000 mt of humanitarian assistance through both Bab al-Hawa and Bab al-Salam border crossings. This is the highest number of truck transhipments recorded since transhipment operations began in 2014. 
        </p>
        <p>
          These achievements were made despite COVID-19 restrictions in Turkey and despite cross-border operations shrinking significantly. With the adoption of UN Security Council Resolution 2504 (2020) in January and Resolution 2533 (2020) in July, the border crossings of Al-Yarubiyah and Bab al-Salam respectively were excluded for UN transhipment operations.
        </p>
        <p>
          Inside Syria, access to a total storage capacity of 7,850 m² was secured to cover storage gaps in four strategic locations inside Syria, receiving over 16,000 m3 (equivalent of more than 480 x 20’ containers) valued at xx into storage 
        </p>
        <p>
          The Logistics Cluster also supported the humanitarian community through donations and loans of logistics assets such as MSUs and one generator.
        </p>
        <p>
          In 2020, no inter-agency convoys took place due to security concerns and the fact that approvals were not granted by all involved parties.
        </p>
        <h2>COVID-19</h2>
        <p>
          With the declaration of COVID-19 as global pandemic on 11 March 2020, operations changed in line with the overall response. Coordination meetings moved online, and trainings could not be held.
        </p>
        <p>
          In addition, a series of comprehensive COVID-19 preventive measures were put in place at the transhipment hubs. The Logistics Cluster doubled the Bab al-Hawa transhipment hub space from 5,000m2 to 10,000m2 and tripled office space to ensure physical distancing measures were fully implemented for all workers, drivers and staff operating at the hub.
        </p>
        <p>
          Inside Syria, the cluster received USD 200,000 from the SHF reserve allocation for the COVID-19 response to put in place and facilitate access to free-to-user air cargo transport services from Damascus to Qamishli to fast track the delivery of Health sector cargo, avoiding lengthy and cumbersome processes related to overland land transport.
        </p>
     
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$6.4</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$3.5</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-50 layout-column layout-center">
            <span class="fund-value">55%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
