  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Yemen</h1>

      <div class="country-numbers">
        <h2 class="serif">June 2011</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">24.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance </span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">61</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">63</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">xx</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">29,484 </span> <span>m<sup>3</sup></span></span>
          <span class="label">Road transport</span>
        </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">480 </span> <span>m<sup>3</sup></span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">25,638</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/yemen.jpg" alt="Yemen" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Yemen</h1>
        <p>
          After six years of brutal conflict, Yemen continued to retain the dismal record of largest humanitarian crisis in the world. Driven by escalating conflict and a protracted economic crisis, humanitarian needs continued to grow, leaving more than 80 percent of the population in need of humanitarian assistance and protection. The situation was further exacerbated by torrential rains, a severe fuel crisis, the threat of desert locusts and the COVID-19 pandemic. Fuel shortages from June onwards, especially felt in northern governorates, aggravated the humanitarian situation, reducing essential services and the transport of essential goods and restricting humanitarian operations, already severely hampered by a huge funding shortfall.<em>(source: OCHA)</em>
        </p>
        <p>
            The Logistics Cluster has been active in Yemen since June 2011 and has since continued to adapt to the persistently volatile operating environment in order to support humanitarian responders through coordination, information management, and access to common logistics services. In January 2020, a Gaps and Needs Analysis that had been initiated in 2019 was completed and it informed the revision of the Logistics Cluster Concept of Operations (ConOps). 
        </p>
        <p>
          Operating across three main hubs in Aden, Al Hodeidah and Sana’a, the Logistics Cluster supported 61 partners with coordination, information management and facilitation of access to common logistics services such as air cargo transport, sea cargo transport, inland road transport and storage of relief items.
        </p>
        <p>
          With the aim to maximise the use of available logistics resources in-country for the timely and effective delivery of humanitarian aid and avoid duplication of efforts, coordination meetings were held throughout the year - the majority of which online due to the ongoing COVID-19 pandemic. 63 information products were published on the dedicated operation webpage, which received 11,000 pageviews. 
        </p>
        <p>
          The Logistics Cluster facilitated the transport of a total of 29,484 m3 of cargo by air and sea into Yemen and by land across the country.
        </p>
        <p>
          Challenges affecting road transport between the south and the north of the country persisted throughout 2020. Furthermore, since June road transport services in the north of the country had to be ceased. Despite the challenges, the Logistics Cluster overall facilitated the road transport of 27,110 m3 of humanitarian supplies on behalf of 16 organisations, covering 29 locations across 9 governorates and 20 districts.
        </p>
        <p>
          In close coordination with partners, the air cargo transport departure point was shifted from Djibouti to Dubai, with connections to Sana’a and Aden. Over the course of the year, 480 m3 of cargo was airlifted through WFP-chartered flights on behalf of 12 partners. 97% of airlifted cargo was health-related.
        </p>
        <p>
          The Logistics Cluster facilitated the transport by sea of 1,894 m3 of humanitarian cargo on behalf of 15 organisations. For 1,118 m3 of these, the Logistics Cluster covered the costs for the Jeddah-Al Hodeidah leg of transport on behalf of partners – in recognition of the existing gap in containerized sea transport options serving Al Hodeidah seaport. 
        </p>
        <p>
          The two WFP-chartered vessels, VOS Apollo and VOS Theia, continued to play a crucial emergency rescue and evacuation role by remaining on stand-by at Aden and Al Hodeidah seaports, as per the in-country Security Management Team (SMT) request. 
        </p>
        <p>
          Across Aden, Bajil and Sana’a, 25,638 m3 of humanitarian cargo was received into common storage on behalf of 17 partners. In addition, the Logistics Cluster facilitated the loan of 10 MSUs to 5 organisations to ensure increased storage capacity when and where needed. The Logistics Cluster expanded its common storage capacity in Bajil, specifically to accommodate urgent health-related items to prevent the spread of the COVID-19 pandemic. Initially, the expansion was provided through Mobile Storage Units (MSUs); in the last quarter of the year, a new warehouse was secured in order to facilitate additional dedicated common storage space for partners. The new facility will open at the start of 2021 and will bring the total common storage capacity across Yemen to 14,880 m2. 
        </p>
       
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$56.2</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$42</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-70 layout-column layout-center">
            <span class="fund-value">75%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
