<div class="grid grid-pair">
	<div class="text-left text">
		<h1 class="title">Global Strategic Advisory Group</h1>
		<p class="serif">In 2020, Alex Marianelli joined the SAG as part of his role of Director of Supply Chain at WFP, replacing former Director of Supply Chain John Crisci. This year, exceptionally, there has not been a vote for SAG membership at the Global Logistics Meeting (GLM), due to the challenges of managing the vote in an online setting. The current SAG members have kindly agreed to remain in post until the next GLM in the spring of 2021. These members are:</p>
		<ul class="serif">
			<li>Non-governmental agency representatives: Susan Hodgson (Head of Humanitarian Supply Chain, Save the Children), Fabrice Perrot (Director of Logistics, Solidarités International), and Mary Jelliti (Logistics and Procurement Manager, GOAL).</li>
			<li>Governmental organisation representatives: Didier Merckx (Team Leader, Transport and Logistics & ECHO Flights, European Civil Protection and Humanitarian Aid Operations (ECHO)) and Theo Lingens (Deputy Head of Logistics Division, German Federal Agency for Technical Relief (THW)).</li>
			<li>Field Cluster Coordinator representative: Katja Hildebrand (Logistics Cluster Coordinator, Central African Republic).</li>
			<li>The Global Logistics Cluster Coordinator: Athalie Mayo, who serves as the Fixed Chair of the SAG.</li>
		</ul>
	</div>
	
	<div class="bg-photo" id="sag-photo">
		<div class="">
			<h2>GSAG Composition</h2>
			<p class="serif">The Strategic Advisory Group (SAG) usually meets face-to-face twice a year, in addition to monthly teleconferences. This year, the meetings were all held online. In addition to the regular sessions, the SAG supported the Logistics Cluster through a number of ad hoc meetings to provide guidance and advice. While the specific focus of most meetings was COVID-19, various other topics have also been discussed with the SAG. </p>
			<p class="serif">All partners or humanitarian stakeholders may utilise the SAG as their representative body to put issues on the Logistics Cluster agenda. The members can be contacted through <a href="mailto:sag-logs@logcluster.org">sag-logs@logcluster.org</a>.</p>
			<p class="serif">More information about the SAG can be found here: <a href="https://logcluster.org/strategic-advisory-group">https://logcluster.org/strategic-advisory-group</a></p>
		</div>
	</div>
</div>
