<div class="content">
    <div class="text-left text white">
        <h1 class="title">STRATEGY GOALS</h1>
        <div class="four-goals">
            <div>
                <h2>1) Prepare</h2>
                <p>Strengthen response capacity of national and regional actors</p>
                <ul>
                    <li>Global Logistics Cluster Preparedness Project</li>
                    <li>Log.ie</li>
                    <li>Logistics Capacity Assessments (LCA)</li>
                    <li>Trainings</li>
                </ul>
            </div>
            <div>
                <h2>2) Network</h2>
                <p>Engage with actors at local level</p>
                <p>Advocate for humanitarian logistics issues</p>
                <ul>
                    <li>The Logistics Cluster network in numbers</li>
                    <li>Humanitarian partnerships</li>
                    <li>Public-private partnerships</li>
                    <li>Cooperation with academia</li>
                </ul>
            </div>
            <div>
                <h2>3) Operate</h2>
                <p>Provide crucial operational coordination, services, and information</p>
                <ul>
                    <li>Gaps and Needs Analysis (GNA)</li>
                    <li>COVID-19</li>
                    <li>Sepsem</li>
                </ul>
            </div>
            <div>
                <h2>4) Learn</h2>
                <p>Continue learning by identifying gaps and share best practices.</p></li>
                <ul>
                    <li>Global Lo</li>gistics Meetings (GLM) 
                    <li>GNA</li>
                    <li>Logistics Operational Guide (LOG)</li>
                    <li>Surveys</li>
                </ul>
            </div>
        </div>
    </div>
</div>	

