<section id="bangladesh" class="blend blend-blue operation">

  <div class="grid-operation">

    <!-- Row 1 -->
    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Bangladesh</h1>

      <div class="country-numbers">
        <h2 class="serif">September 2017</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">1.2</span> <small>million</small></span>
        <span class="label">people in need of humanitarian assistance </span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">67</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">103</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">32</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">12,290</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/bangladesh.jpg" alt="Alexandra Parisien, Bangladesh" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Bangladesh</h1>
        <p>
			Since August 2017, an estimated 745,000 Rohingya have fled from Myanmar’s Rakhine state into Cox’s Bazar in Bangladesh. In 2019, the government-led response targeted 1.2 million people in need of humanitarian assistance, including a previously existing refugee population and local host communities. In an area with high risk of natural disasters, the size and complexity of the operation requires a well-integrated and coherent inter-agency response. 
		</p>
          <p>
			Throughout 2019, the Logistics Sector in Bangladesh supported 67 humanitarian and governmental organisations with coordination, information management and facilitation of access to common logistics services such as storage. 
          </p>
          <q>
			Partnerships between universities and humanitarian workers can generate knowledge and learning for both. Academics can disseminate the results of their research through training, as well as apply their knowledge to help humanitarian workers in solving real problems.
		  </q>
		  <p class="quote">- Professor Irineu de Brito Jr. from the São Paulo State University and researcher from the Center of Innovation of Logistics System from University of São Paulo </p>
          <p>
			With availability of sufficient storage identified by partners as a critical logistics gap for the response, the Logistics Sector facilitated access to free-to-user common storage at three logistics hubs – Madhu Chara and Balukhali, provided by WFP, and at Leda, Teknaf, provided by Humanity and Inclusion/Atlas Logistique. Six temperature-controlled 20-foot shipping containers were also made available to the humanitarian community for the storage of temperature-sensitive items such as pharmaceuticals. The Logistics Sector maintained a stock of prepositioned containers and Mobile Storage Units (MSUs) available for partners. In total, 12,290 m<sup>3</sup> of relief items were received for storage on behalf of 24 partner organisations in 2019.
          </p>
          <p>
			Coordination between partners continued to be paramount to the humanitarian operation. The Logistics Sector conducted regular coordination meetings and co-chaired Health Logistics inter-sector coordination meetings with the Health Sector. The meetings provided a forum for partners to raise issues that impacted their ability to respond such as traffic control, roads management and storage constraints. Where deemed appropriate, the Logistics Sector then advocated for solutions to the issues raised on behalf of the community. In total, 32 coordination meetings and health logistics meetings were held over the course of the year. 
          </p>
          <p>
			Information remained key to the response, and the Logistics Sector worked closely with partners to collect and share logistics information to improve operational decision-making. In 2019, 103 information updates were published on a dedicated webpage and five assessments were carried out together with partners to inform the sector response. 2019 also saw the roll-out of a pilot of the Physical Roads Access Constraints (PRAC) application, allowing the humanitarian community to share and see near real-time updates on physical road access constraints in one centralised platform. 
          </p>
          <p>
			Capacity building remained a focus of the Logistics Sector in Bangladesh. A total of 10 trainings were held on topics ranging from the basics of humanitarian logistics, advance logistics training, to MSU erection, cyclone preparedness and a simulation-based workshop held as part of the Global Logistics Cluster’s Preparedness Project. A total of 233 humanitarians from 50 organisations participated in these events which also benefitted from perspectives beyond the humanitarian community through collaboration and exchanges with academia and the commercial sector in relevant areas of expertise. 
		  </p>
		  <p>
			With the ever-present threat of cyclones and monsoons adding a layer of complexity to the humanitarian response, flexibility and strong emergency preparedness planning remained important. The Logistics Sector met with partners on preparedness activities throughout the year and made contingency stock available to partners during cyclone and monsoon season, including containers and asset protection boxes.
		  </p>
          
        </div>

        <!-- Row 3 -->
        <div class="numbers">
          <div class="text-center">
            <span class="serif"><span class="title">US$2.8</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <!-- <div class="text-center">
            <span class="serif"><span class="title">US$3.1</span> <small>million</small></span>
            <span class="label">funds available in 2019</span>
          </div> -->


          <div class="text-center">
            <div class="fund-percentage fund-percentage-100 layout-column layout-center">
              <span class="fund-value">100%</span>
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>
    </div>

    </div>

    <div class="overlay overlay-blue"></div>
  </section>
