<section id="bangladesh" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">September 2017</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">1.2</span> <small>million</small></span>
          <span class="label">people in need of humanitarian assistance <br><small class="dimmed"><i>[OCHA, October 2017]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">54</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">31</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">15</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">7,924</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">Bangladesh</h1>
        <p>
          Since 1992, Cox’s Bazar continues to experience an intermittent influx of refugees from Myanmar, periodically escalating to life threatening levels when their movement, access to services and livelihoods are restricted. A new influx of Undocumented Myanmar Nationals (UMN), estimated at 540,000 as of mid-October 2017, has eroded already compromised resources in the existing makeshift settlements and refugee camps at Kutupalong and Balukhali.</p>
        <p>
          WFP, together with the Ministry of Disaster Management and Relief (MoDMR), is co-chairing the Logistics Sector in Bangladesh, and as lead agency of the Logistics Cluster, is coordinating the Logistics Sector in Cox’s Bazar to support the logistics needs of the entire humanitarian community.
        </p>
        <p>
          The main logistics constraints faced by humanitarian organisations responding to the emergency are the lack of available storage facilities and clear custom procedures, as well as the ability to prepare for the potential damages and impairments which the upcoming cyclone season may cause.
        </p>
        <p>
          <strong>The Logistics Sector has set up a Logistics Hub</strong> in the space allocated by the Government; 15 Mobile Storage Units (MSUs) for a total of 2,184 m2 have been made available for all humanitarian organisations as well as for the government, on a free to user basis.
        </p>
        <p>
          The Logistics Sector has also been <strong>coordinating with the different governmental actors involved in the response</strong>, including the military, and managing and sharing information on custom procedures, access constraints and other key operational data.
        </p>
        <p>
          The Logistics Sector has also been gathering and compiling information on market assessments, price monitoring and local procurement to feed into the Bangladesh Logistics Capacity Assessment (LCA).
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$2.6</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$2.6</span> <small>million</small></span>
            <span class="label">received</span>
          </div>


          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
