<section id="bangladesh" class="blend blend-blue operation">

  <div class="grid-operation">

    <!-- Row 1 -->
    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Bangladesh</h1>

      <div class="country-numbers">
        <h2 class="serif">September 2017</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">1.3</span> <small>million</small></span>
        <span class="label">people in need of humanitarian assistance <br><small class="dimmed"><i>[OCHA, October 2018]</i></small></span>

      </div>

      <!-- <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">54</span></span>
        <span class="label">Organisations Supported</span>
      </div> -->

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">118</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">25</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">25,343</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/2018/bangladesh.jpg" alt="Alexandra Parisien, Bangladesh" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Bangladesh</h1>
        <p>
            In August 2017, within the space of a single month, 500,000 Rohingya people fled Myanmar’s Rakhine state seeking safety in Bangladesh.</p>
          <p>
              After one year, it was estimated that the number of new arrivals had reached approximately 907,000 with 14,922 since January 2018. Humanitarian organisations operating in Cox’s Bazar, in support of the government-led response, currently target 1.3 million people for humanitarian assistance, including host communities in the area.
          </p>
          <q>
              Before joining the Logistics Cluster, I was working with WHO, therefore I was acquainted with the reality and challenges of working in an emergency. However, the setting of Cox’s Bazar was daunting and, in my new role as Information Management Officer for the Logistics Sector, I had to learn how to make use of my skills and experience to coordinate with a large number of different partners. 
          </q>
          <p>
              The Logistics Sector in Bangladesh supports over sixty humanitarian organisations and government institutions with critical common logistics services and key information, such as access constraints maps.
          </p>
          <p>
              In 2018, the Logistics Sector coordinated the storage of 25,343 m<sup>3</sup> of relief items, including some 40,000 soap bars, over 10,000 blankets and 8,000 winter clothing items for children, on behalf of 23 different actors including national and international NGOs, and UN agencies. To handle common storage needs, three logistics hubs have been established in Cox’s Bazar since September 2017: Ukhiya and Madhu Chara, provided by WFP, and Teknaf, managed by Handicap International/Atlas Logistique. To allow for the return of the land back to the Ukhiya Degree College, Ukhiya Logistics Hub was phased out of service in October 2018.
          </p>
          <p>
              Further support has been provided through the loaning of 30 containers in several locations for the storage of rapid response goods, with 11 Mobile Storage Units also made available to the humanitarian community as required. 
          </p>
          <p>
              The common facilities have also been used to support organisations with the prepositioning of relief items as part of monsoon season preparation plans. The country’s exposure to natural hazards, such as heavy rains during the monsoon and cyclone seasons which cause flooding and infrastructure damage, coupled with the temporary nature of many settlements and shelters, presents a continuous challenge to humanitarian logistics operations, making preparedness actions vitally important.
          </p>
          <p class="quote">- Alexandra Parisien, Information Management Officer, Bangladesh </p>
        </div>

        <!-- Row 3 -->
        <div class="numbers">
          <div class="text-center">
            <span class="serif"><span class="title">$4.1</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="text-center">
            <span class="serif"><span class="title">$4.1</span> <small>million</small></span>
            <span class="label">received</span>
          </div>


          <div class="text-center">
            <div class="fund-percentage fund-percentage-100 layout-column layout-center">
              <span class="fund-value">100%</span>
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>
    </div>

    </div>

    <div class="overlay overlay-blue"></div>
  </section>
