<section id="burkina" class="blend blend-blue operation">

  <div class="grid-operation">

    <!-- Row 1 -->
    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Burkina Faso</h1>

      <div class="country-numbers">
        <h2 class="serif">October 2020</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span> <small>million</small></span>
        <span class="label">people in need of humanitarian assistance </span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">8</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">xx</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">xx</span> <span>mt</span></span>
        <span class="label">Road Transport</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/burkinafaso.jpg" alt="Burkina Faso" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Burkina Faso</h1>
        <p>
            The Logistics Cluster was activated in Burkina Faso in October 2020 due to the needs of the humanitarian community. A Gaps and Needs Analysis (GNA) conducted in July highlighted a number of challenges in the logistics response to the humanitarian crisis affecting the country. Specifically, the GNA identified the need for reinforced coordination among the logistics community; increased storage capacity in the main areas of response; and enhanced dissemination of logistics information. 
		</p>
          <p>
            In order to address these challenges, the Logistics Cluster designed a response strategy and started the implementation of a range of activities aimed at addressing these key priorities. At regional level, coordination groups for logisticians based in Kaya (Centre-Nord region), Fada N’Gourma (Est region), Ouahigouya (Nord region) and Dori (Sahel region) were set up. At national level, the Logistics Cluster initiated regular coordination meetings to increase cooperation and information sharing among participants. Between mid-October and late December, eight of those meetings took place, which were attended by a total 73 logisticians from 20 NGOs and four UN agencies. The Logistics Cluster participated in national logistics committees and civil-military coordination discussions to ensure coordination on these levels. 
          </p>
          <p>
            To increase partners’ storage capacity, the Logistics Cluster will make available four 10 x 32 m MSUs in early 2021. These MSUs will significantly support the logistics response of the humanitarian community in the following key regions: Centre Nord, Est, Nord and Sahel. In November, the Logistics Cluster was also able to start facilitating the access to 550 m3 of free-to-use storage in Kaya. Several partners responded to this opportunity and within weeks, the entire warehouse was filled with relief items to be distributed to the most affected populations. 
          </p>
          <p>
            A dedicated Information Management Officer was deployed to work alongside the Logistics Cluster Coordinator to produce operational information management products of relevance to partners. In addition, the Logistics Cluster is implementing a partnership approach to data collection for the production of maps displaying logistics access and damaged road infrastructure. In this regard, two specialised organisations have been identified and will provide the Logistics Cluster with ready-to-use geographical data. 
          </p>
          <p>
            In 2021, the Logistics Cluster will build on the momentum of its recent activation to scale up its services to the humanitarian community in Burkina Faso. Funding permitted, storage capacity in Kaya, Fada N’Gourma, Ouahigouya and Dori will triple and be resourced with warehouse management and cargo tracking services. The Logistics Cluster also intends to deploy temporary storage solutions close to critical areas of intervention, thereby enhancing the proximity and reactivity of the humanitarian response. 
          </p>
        </div>

        <!-- Row 3 -->
        <div class="numbers">
          <div class="text-center">
            <span class="serif"><span class="title">US$XX</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <!-- <div class="text-center">
            <span class="serif"><span class="title">US$3.1</span> <small>million</small></span>
            <span class="label">funds available in 2019</span>
          </div> -->


          <div class="text-center">
            <div class="fund-percentage fund-percentage-100 layout-column layout-center">
              <span class="fund-value">XX%</span>
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>
    </div>

    </div>

    <div class="overlay overlay-blue"></div>
  </section>
