<section id="cameroon" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Cameroon</h1>

      <div class="country-numbers">
        <h2 class="serif">November 2018</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">400,000</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, October 2018]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">19</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">13</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">4</span></span>
        <span class="label">Coordination meetings</span>
      </div>

    </div>

    <div class="hidden-md-up">
      <img src="images/2018/jose_2.jpg" alt="José Paulín, Information Management Officer, Cameroon" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Cameroon</h1>
        <p>
			In 2019, the Logistics Cluster continued to monitor the situation in Cameroon which is experiencing the impact of three distinct, complex humanitarian crises fuelled primarily by violence and insecurity. The cluster was activated in October 2018, specifically in relation to the North-West South-West crisis which saw insecurity and attacks against civilians cause mass movements of people.
		</p>
		<p>
			A Coordinator and an Information Management Officer were deployed to Cameroon to meet with partners and conduct a logistics gaps and needs analysis. Following consultations with humanitarian organisations working on the response as well as with the WFP Country Office, the in-country commercial logistics capacity was found to be sufficient to meet humanitarian needs and no additional cluster activities were required. The cluster was therefore moved to a dormant status. 
		</p>
        <p>
            Cameroon’s North-West and South-West regions host four million inhabitants and while it is unknown exactly how many have been impacted by the recent wave of violence, it is estimated that over 400,000 people have been displaced, and over one million people are in need of humanitarian assistance, including host communities and the neighbouring Littoral and West regions. 
          </p>
        <p>
            On 17 October, eight clusters, including the Logistics Cluster, were activated in response to the crisis in the Northwest and Southwest. I landed in Yaoundé one month later, following two colleagues who had already been deployed as surge capacity two weeks earlier to conduct the first assessments, reach out to partners on the ground and lay the basis for our response.
        </p>
        <q>
            After a couple days of meeting with partners in Yaoundé, I moved to Buea which has become the hub of the humanitarian response in the South-West. It is from here that we work to support local and international NGOs and UN agencies, and to gather and analyse all the information that we then share on the cluster website. 
        </q>
        <p>
            We chose to focus on these tasks in the first weeks following the cluster activation, in an effort to address the lack of logistics coordination and reliable information which can contribute to a slowdown of the response and the inefficient use of resources.
        </p>
        <p>
            In the meantime, we have also been assessing infrastructure, including available logistics facilities such as warehouses, in the South-West. As we gain a better understanding of the humanitarian needs and the requirements of the responding organisations, we are more accurately able to define a plan of activities for 2019. 
        </p>
        <p class="quote">- José Paulín, Information Management Officer, Cameroon </p>
      </div>

      <div class="text-right">

        <small>
          <i>*Needs assessment ongoing. Budget will be created as applicable.</i>
        </small>
      </div>

    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
