<section id="car" class="layout-column layout-center blend blend-blue operation">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">November 2013</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">2.4</span> <small>million</small></span>
          <span class="label">people in need of humanitarian assistance <br><small class="dimmed"><i>[OCHA, June 2017]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">85</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">55</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">20</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">8,590 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">19,757</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">Central African Republic (CAR)</h1>
        <p>
          In 2017 conflict intensified in the East, Center and West of Central African Republic further hindering access and putting additional strain on the logistics capacity of the humanitarian community.
        </p>
        <p>
          Despite many challenges, the Logistics Cluster has been providing significant support to several infrastructure rehabilitation projects carried out by ACTED (11 bridges, 1 ferry), Handicap International-Atlas Logistique (8 airstrips), Projet Londo (5 airstrips), and Fondation Suisse de Deminage (1 barge). These projects benefited local and international actors by allowing for safer and easier operations.
        </p>
        <p>
          <strong>Furthermore, the Logistics Cluster has been fostering a logistics setup that represents a best practice in inter-agency collaboration</strong> with humanitarian organisations actively participating in coordination meetings, sharing valuable operational information – consolidated in access constraints maps and other Information Management products – and providing common logistics services for the entire humanitarian community. 
        </p>
        <p>
          <strong>
            Common transport of relief items from Bangui, Bossangoa and Bambari is led by Handicap International-Atlas Logistique, while Première Urgence Internationale is in charge of storage in Bangui and Action Contre la Faim, Solidarités International and Handicap International manage mobile storage units loaned from WFP in Bambari, Kaga Bandoro and Bossangoa.
          </strong>
        </p>
        <p>
          Since August, the Logistics Cluster is also facilitating a common air cargo service to deliver life-saving items in difficult-to-access areas. By the end of 2017, fourteen rotations were performed which delivered 67 mt of WASH, Shelter, Health and Logistics items to two major hot spots Bangassou and Zemio.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$1.2</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$1.2</span> <small>million</small></span>
            <span class="label">received</span>
            <small class="dimmed"><i>additional US$ 671,000 were received on 21 November 2016</i></small>
          </div>


          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
