<section id="car" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight">
        <span class="title">2.2 million</span>
        <span class="label">people in need of humanitarian assistance*</span>
        <img src="images/manypeople.svg" alt="People icon" class="highlight-image">
        <small class="dimmed"><i>*[OCHA, November 2016]</i></small>
      </div>

      <div class="text">
        <h1 class="title">Central African Republic (CAR)</h1>
        <p>The Logistics Cluster has been playing an important role in supporting organisations to identify gaps and optimise the use of resources available at regional and local levels.</p>
        <p>
          Due to insufficient funding, the Logistics Cluster has been operating with minimal staff throughout 2016, restricting the effectiveness of critical coordination efforts <br>
          and the capacity to provide real-time information and data to the humanitarian community.
        </p>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
