<section id="car" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">
    <h1>Central African Republic (CAR)</h1>
    <h2 class="label">Complex protracted emergency</h2>

    <div class="text-center">
      <p>The Logistics Cluster has been playing an important role in supporting organisations to identify gaps and optimise the use of resources available at regional and local levels.</p>
      <p>
        Due to insufficient funding, the Logistics Cluster has been operating with minimal staff throughout 2016, restricting the effectiveness of critical coordination efforts <br>
        and the capacity to provide real-time information and data to the humanitarian community.
      </p>
      <i>*[OCHA, November 2016]</i>
    </div>

    <div class="highlight">
      <span class="number red">2.2 million</span>
      <span class="label">people in need of humanitarian assistance*</span>
      <!-- Insert people icons -->
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
