<section id="car" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">November 2013</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">2.2</span> <small>million</small></span>
          <span class="label">people in need of humanitarian assistance <br><small class="dimmed"><i> *[OCHA, November 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">53</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">70</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">24</span></span>
          <span class="label">Coordination meetings</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">Central African Republic (CAR)</h1>
        <p>The Logistics Cluster has been playing an important role in supporting organisations to identify gaps and optimise the use of resources available at regional and local levels.</p>
        <p>
          Due to insufficient funding, the Logistics Cluster has been operating with minimal staff throughout 2016, restricting the effectiveness of critical coordination efforts and the capacity to provide real-time information and data to the humanitarian community.
        </p>
        <p>Despite these challenges, the Logistics Cluster has been providing significant support to road and airstrip rehabilitation projects carried out by ACTED and Atlas Logistique/Handicap International respectively.</p>
        <p>
          Additionally, the cluster is supporting the organisation of common cargo transport, as well as common storage services in Bangui and the provinces of Bossangoa and Kaga Bandoro, benefitting more than 50 humanitarian organisations across the country.
        </p>
        <p>
          The Logistics Cluster has also been producing and sharing updated information management products crucial to ensuring effective coordination, including information on services offered by organisations such as Aviation Sans Frontière (ASF), ACTED, Premiere Urgence–Aide Medicale Internationale, Atlas Logistique/Handicap International and on how to access them.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$2.7</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$1.9</span> <small>million</small></span>
            <span class="label">received</span>
            <small class="dimmed"><i>additional US$ 671,000 were received on 21 November 2016</i></small>
          </div>


          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">68%</span>
              <img src="images/car-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
