<section id="car" class="blend blend-blue operation">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Central African Republic (CAR)</h1>

      <div class="country-numbers">
        <h2 class="serif">November 2013</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">2.4</span> <small>million</small></span>
        <span class="label">people in need of humanitarian assistance <br><small class="dimmed"><i>[OCHA, June 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">77</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">55</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">20</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">8,590 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">19,757</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Central African Republic (CAR)</h1>
        <p>
            I arrived in Central African Republic (CAR) at the end of August 2018 straight from Nigeria, where I had been the Sector Coordinator for two years.
        </p>
        <q>
            I am not new to the Logistics Cluster, or to a context where logistics constraints, poor infrastructure and fragile security make it difficult for humanitarian assistance to reach beneficiaries, but CAR has its own specific challenges. 
        </q>
        <p>
            The Logistics Cluster has been active in the country since 2013 in support of the humanitarian community, coordinating a logistics platform, as well as providing common transport and storage services. These services are managed by different organisations based on their capacity and presence on the ground, thus ensuring the best use of resources and the efficient delivery of humanitarian aid. 

        </p>
        <p>
            In Nigeria we had a similar setting, but while the sector’s main focus in Northern Nigeria is to address the lack of storage facilities, in CAR the primary logistics needs are related to the transport of humanitarian cargo.
        </p>
        <p>
            Road transport of relief items from Bangui, Bambari and Bossangoa is led by Humanity and Inclusion while Première Urgence Internationale is in charge of storage in Bangui. In addition, Solidarités International, Humanity and Inclusion and Action Contre la Faim manage Mobile Storage Units (MSUs) loaned by WFP in Kaga Bandoro, Bambari and Bossangoa respectively.
        </p>
        <p>
            Through these common services, 2,041 mt of humanitarian cargo was transported and 17,807 m3 of humanitarian cargo was stored across the common facilities in 2018.
        </p>
        <p>
            In addition, the Logistics Cluster also facilitates emergency airlifts managed by WFP which deliver lifesaving items to hard-to-access areas in the east of the country, including to Bangassou, Zemio, Obo, Alindao, Bria and Birao. These services started in September 2017 and continued throughout 2018 facilitating the transport of 365 mt of humanitarian aid to six locations. 
        </p>
        <p>
            Transport to hard-to-reach locations is integrated with common storage space, through three MSUs deployed to Zemio, Alindao and Bambari which are managed by ACTED, Action Contre la Faim and Humanity and Inclusion respectively. 
        </p>
        <p class="quote">- Katja Hildebrand, Logistics Cluster Coordinator, Central African Republic </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$1.2</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$1.2</span> <small>million</small></span>
          <span class="label">received</span>
        </div>


        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
