<section id="car" class="blend blend-blue operation">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Central African Republic (CAR)</h1>

      <div class="country-numbers">
        <h2 class="serif">November 2013</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">2.6</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance </span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">27</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">124</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">22</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">2,592 </span><span>mt</span></span>
        <span class="label">Road transport</span>
	  </div>
	  
	  <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">268 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">7,704 </span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/car.jpg" alt="Central African Republic" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Central African Republic (CAR)</h1>
        <p>
			In 2019, CAR was the third-largest humanitarian crisis in the world, with 2.6 million people in need of humanitarian assistance, 1.7 million of whom in acute need. The Logistics Cluster has been active in the country since 2013, supporting responding humanitarian organizations who face logistics constraints, poor infrastructure and ongoing insecurity which impede their ability to deliver humanitarian assistance. 
		</p>
		<p>
			In 2019, the Logistics Cluster worked closely with partners in-country to provide coordination and information management, and to facilitate access to common services such as storage, road and air transport. 
		</p>
        <q>
            I am not new to the Logistics Cluster, or to a context where logistics constraints, poor infrastructure and fragile security make it difficult for humanitarian assistance to reach beneficiaries, but CAR has its own specific challenges. 
		</q>
		<p class="quote">- Katja Hildebrand, Logistics Cluster Coordinator, Central African Republic </p>
		<p>
			Demonstrating the spirit of the Logistics Cluster, common storage was made available to the humanitarian community in nine locations across the country via a group of partners. A concrete common storage warehouse was managed by Première Urgence Internationale in Bangui, and other NGO partners were responsible for managing Mobile Storage Units in eight other locations. This totals 4,000 m2 of common storage space that was available to humanitarian organisations in-country, with a total of 7,074 m<sup>3</sup> of humanitarian cargo stored over the course of the year. Complementing this, Humanity and Inclusion provides a common road transport service for relief items from Bangui, Bambari and Bossangoa, with 2,592 mt of humanitarian cargo transported on behalf of 27 organisations in 2019. 
		</p>
		<p>
			Following an escalation of violence in Birao, a remote area in the far north of CAR, the Logistics Cluster increased support to partners operating in the area by facilitating access to airlifts for lifesaving cargo, thus reducing lead times dramatically. This was done in parallel to airlifts for priority cargo such as health, WASH and nutrition items to hard-to-reach areas in the east and south-east of the country, such as Zemio, Obo, Bangassou and Bria. Over the course of the year, the cluster facilitated 66 air rotations to 7 locations, transporting 268 mt of emergency relief items on behalf of 22 organisations. 
		</p>
		<p>
			To find sustainable solutions, infrastructure rehabilitation was a major focus of humanitarian organisations working in-country in 2019. Over 40 rehabilitation projects targeting airstrips, roads, bridges and ferries were undertaken by national and international NGOs, based on the Logistics Cluster’s gap analysis, to improve access for both humanitarian organisations carrying out their important work and local populations. 
		</p>
		<p>
			The coordination role undertaken by the Logistics Cluster is a key element in the humanitarian response, helping to reduce costs, create synergies, and avoid duplication of efforts. To this end, 22 Logistics Cluster coordination meetings were held in Bangui, and sub-office logistics working group meetings were organised to maintain an open discussion forum to improve the analysis of logistical needs. In addition, the cluster was an active member of the Inter-Cluster Coordination mechanism, the Civil-Military Coordination Forum and the Access Working Group, all chaired by OCHA, as well as the UNICEF-led Rapid Response Mechanism Steering Committee. 
		</p>
        
       
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$1.8</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$3</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div>


        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
