<section id="cover" class="layout-column layout-center blend">

  <img src="images/logo.svg" alt="Logistics Cluster Logo" class="logo">

  <div class="slide-center">
    <h1 class="text-shadow text-uppercase title">Year in Review 2017</h1>
  </div>

  <!-- Scroll visual hint -->
  <a href="#intro" class="link">
    scroll down
    <img src="images/down.svg" alt="Icon arrow down">
  </a>

  <div class="overlay"></div>

</section>
