<section id="cover" class="layout-column layout-center blend">

  <!-- <img src="images/logo.svg" alt="Logistics Cluster Logo" class="logo"> -->

  <div class="slide-end" style="z-index: 3">
    <h1 class="text-shadow text-uppercase title fade-down">Year in Review 2021</h1>
  </div>

  <!-- Scroll visual hint -->
  <a href="#intro" class="link" style="z-index: 2">
    scroll down
    <img src="images/down.svg" alt="Icon arrow down">
  </a>

  <div class="overlay" style="z-index: 1"></div>

</section>
