<section id="drc" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">November 2008</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.5</span> <small>million</small></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[OCHA, 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">126</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">72</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">34</span></span>
          <span class="label">Coordination meetings</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">DEMOCRATIC REPUBLIC OF CONGO (DRC)</h1>
        <p>The delivery of relief items to vulnerable populations in the DRC is deeply affected by the challenges related to covering a vast geographical area with limited logistics infrastructure and networks, often in poor condition, paired with growing insecurity and conflict, these conditions continue to hamper.</p>
        <p>
          The Logistics Cluster is operational in Kinshasa and in the provincial capitals of Bukavu, Goma, Bunia, Kalémie and Lubumbashi to coordinate the logistics response and to provide critical information improving access and reach to the affected populations.
        </p>
        <p>
          In addition in 2016, the Logistics Cluster continued to support and coordinate partners’ infrastructure rehabilitation projects: more than 560 km of roads and 50 bridges.
        </p>
        <p>
          In order to strengthen the government and the humanitarian community’s emergency preparedness measures and contingency plans, the Logistics Cluster has trained more than 480 people from 169 organisations in GIS data collection and analysis, hence supporting the development of a broader and more accurate record of the infrastructure in the DRC.
        </p>
        <p>
          In addition, in light of the threat of an imminent volcanic eruption in Goma, the Logistics Cluster will continue to work in close collaboration with the North Kivu Department of Civil Protection (DPC), regional government authorities, the Goma Volcanic Observatory (OVG) and the humanitarian community on the development of IT tools and systems to build their institutional capacity to respond to disasters, and to mitigate the possible effects on the population.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$1.2</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$400</span> <small>thousand</small></span>
            <span class="label">received</span>
          </div>


          <div class="right fund-percentage">
            <span class="fund-value">37%</span>
            <!-- Change svg chart -->
            <img src="images/car-fund.svg" alt="Funded percentage">
            <span class="label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
