<section id="drc" class="blend blend-blue operation">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">DEMOCRATIC REPUBLIC OF CONGO (DRC)</h1>

      <div class="country-numbers">
        <h2 class="serif">November 2008</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">12.8</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">203</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">237</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">55</span></span>
        <span class="label">Coordination meetings</span>
      </div>


    </div>

    <div class="hidden-md-up">
      <img src="images/drc.jpg" alt="DRC" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">DEMOCRATIC REPUBLIC OF THE CONGO (DRC)</h1>
        <p>
			In 2019, ongoing insecurity and a continuing outbreak of Ebola Virus Disease (EVD) contributed to a continued volatile humanitarian situation in DRC. With 12.8 million people in need of humanitarian assistance, humanitarian organisations operated in an extremely challenging and complex environment, facing access challenges and limited logistics infrastructure. The Logistics Cluster worked with a total of 203 organisations across the country, providing key coordination and information management services as well as advocating for urgent infrastructure rehabilitation projects throughout the year. 
		</p>
		<p>
			Humanitarians working on the response in DRC are facing major access constraints across an area that is the largest country in sub-Saharan Africa. Timely and accurate logistics information provided through the Logistics Cluster is critical to strengthen operational decision-making. In 2019, a total of 237 information management updates were published on a dedicated webpage, including 97 maps detailing accessibility and other general logistics information. 
		</p>
        <q>
			We really like that the Logistics Cluster provides information management and we particularly use the cluster maps for our operations. We also really appreciate the dynamic in the working groups where we can reflect and exchange on the challenges we are facing together with the partner organisations.
		</q>
		<p class="quote">
            - Julien Lescop, Systems Director, Concern Worldwide, Goma
        </p>
       <p>
		Effective information sharing and coordination is also crucial to avoid duplication of efforts and to capitalise on the collective presence. The Logistics Cluster continued to work with the humanitarian community throughout the country and held 55 coordination meetings across the seven locations of Kinshasa, Goma, Bukavu, Ituri, Tshikapa, Kananga and Kalemie, where humanitarian organisations could exchange information on logistics issues and challenges. In 2019, a new mechanism was established to co-facilitate the country-level meetings in Kinshasa with an NGO. Humanity and Inclusion took up the role as the first NGO co-facilitator in-country. 
	   </p>
	   <p>
		The lack of a reliable road network across the country complicated the humanitarian response and led to high operating costs. The Logistics Cluster continued to advocate on behalf of the humanitarian community for the rehabilitation of roads and bridges as a means to improving humanitarian access both in the short and long term. 
	   </p>
	   <p>
		A total of 51 rehabilitation projects were carried out by Logistics Cluster partners over the year, including project EMIR and the rehabilitation of 1,200 kilometres of road and the runway of Tshikapa airport. 
	   </p>
        
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$2.5</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$3.6</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->


        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
