<section id="drc" class="layout-column layout-center blend blend-blue operation">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">November 2008</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">8.5</span> <small>million</small></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i>[OCHA, November 2017]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">185</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">162</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">71</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">5,403</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">3,492 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

      </div>

      <div class="text">
        <h1 class="title">DEMOCRATIC REPUBLIC OF CONGO (DRC)</h1>
        <p>
          Conflict and general insecurity in the Democratic Republic of the Congo (DRC) have created one of the world’s most complex and long-standing humanitarian crisis.
        </p>
        <p>
          <strong>The Logistics Cluster is operational in Kinshasa and in the provincial capitals of Bukavu, Goma, Bunia, Kalémie and Lubumbashi</strong> to coordinate the logistics response and to provide critical information improving access and reach to the affected population. Since violent clashes erupted in Kasai, causing a severe humanitarian crisis in the region and major displacement the Logistics Cluster has been stepping up operations.
        </p>
        <p>
          <strong>Two staging areas for the humanitarian community</strong> have been set up for the humanitarian community in Kananga (960 m2) and Tshikapa (640 m2) and are managed by Handicap International-Atlas Logistique. Logistics Cluster staff are present in Kananga to help manage the supply chain and provide technical assistance to partners.
        </p>
        <p>
          <strong>Road transport services have been also made available to humanitarian organisations by Handicap International-Atlas Logistique</strong> and a civil-military expert is being deployed to the Logistics Cluster to facilitate civil-military coordination.
        </p>
        <p>
          These common logistics services have been managed using the Logistics Cluster run Relief Items Tracking Application (RITA) to ensure full accountability of the cargo handled.
        </p>
        <p>
          In 2017, the Logistics Cluster has been also supporting the response to the Ebola outbreak in the Bas Uele Province with logistics coordination and Information Management at national and provincial levels, as well as facilitating air cargo movements to the affected zones.
        </p>
        <p>
          In addition, the Logistics Cluster has continued to work with national authorities to <strong>build institutional capacity in disaster response and mitigation</strong>, as well as to strengthen local capacities in data collection and data management with dedicated trainings in Bukavu, Butembo, Kananga, Kinshasa, Tshikapa, through which, <strong>183 people from 46 organisations have been trained</strong>.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$1.6</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$1.6</span> <small>million</small></span>
            <span class="label">received</span>
          </div>


          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
