<section id="drc" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">November 2008</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.5</span> <small>million</small></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[OCHA, 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">133</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">75</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">34</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">645 </span><span>mt</span></span>
          <span class="label">Air transport</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">DEMOCRATIC REPUBLIC OF CONGO (DRC)</h1>
        <p>The delivery of relief items to vulnerable populations in the DRC is deeply affected by the challenges related to covering a vast geographical area with limited logistics infrastructure and networks, often in poor condition, paired with growing insecurity and conflict.</p>
        <p>
          The Logistics Cluster is operational in Kinshasa and in the provincial capitals of Bukavu, Goma, Bunia, Kalémie and Lubumbashi to coordinate the logistics response and to provide critical information improving access and reach to the affected populations.
        </p>
        <p>
          Shortage of funding has limited the Logistics Cluster intervention in DRC. The cluster has therefore focused on supporting and coordinating partners activities, such as the infrastructure projects carried out by organisations such as UNOPS and ACTED, by which more than 560 km of roads and 50 bridges have been rehabilitated, air transport made available by UNHAS and ECHO and road transport by Handicap International.
        </p>
        <p>
          In order to strengthen the government and the humanitarian community’s emergency preparedness measures and contingency plans, the Logistics Cluster has trained more than 480 people from 169 organisations in GIS data collection and analysis, hence supporting the development of a broader and more accurate record of the infrastructure in the DRC.
        </p>
        <p>
          In addition, the Logistics Cluster has been working in close collaboration with the North Kivu Department of Civil Protection, regional government authorities, the Goma Volcanic Observatory and the humanitarian community to build institutional capacity in disaster response and mitigation.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$1.2</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$430</span> <small>thousand</small></span>
            <span class="label">received</span>
          </div>


          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">37%</span>
              <img src="images/37-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
