<section id="ecuador" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Earthquake</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">April 2016</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">720</span> <span>thousand</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[UN and Government of Ecuador, April 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">35</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">60</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">21</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">2,765</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="People icon" class="highlight-icon"> <span class="title">113 </span><span>mt</span></span>
          <span class="label">Air transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="People icon" class="highlight-icon"> <span class="title">495 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">Ecuador</h1>
        <p>
          The Government of Ecuador lead the emergency response following the 7.8 magnitude earthquake that hit the central coast of Ecuador on 16 April 2016, killing over 650 people, injuring thousands and causing extensive damage to buildings and infrastructure.
        </p>
        <p>
          The  Logistics  Sector has been  supporting  relief  efforts by establishing logistics hubs in Manta, Pedernales and Quito where storage capacity was made available by WFP for interagency cargo including Education,  WASH,  Shelter  and  Non Food Items (NFIs),  Camp  Management, Protection and Health  sectors  and office spaces to facilitate the operations and eventually provide short-term working space to organisations.
        </p>
        <p>
          The United Nations Humanitarian Response Depot (UNHRD), a common service managed and provided by the World Food Programme (WFP), supported the emergency response at the onset of the operation, transporting relief items on behalf of World Vision International, Catholic Relief Services, AECID, WFP and the Ministry of Foreign Affairs Panama.
        </p>
        <p>
          During the first month of the emergency response, the Logistics Sector coordinated humanitarian cargo dispatches, from Centro Logístico de Asistencia Aumanitaria (CELAH) logistic hub to emergency facilities in Pedernales and Manta. In addition, the Logistics sector delivered Mobile Storage Units (MSUs) and other equipment to hubs in Pedernales and Manta.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$756</span> <small>thousand</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$600</span> <small>thousand</small></span>
            <span class="label">received</span>
          </div>


          <div class="right fund-percentage">
            <span class="fund-value">79%</span>
            <!-- Change svg chart -->
            <img src="images/car-fund.svg" alt="Funded percentage">
            <span class="label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
