<section id="emergencies" class="layout-column layout-center layout-center-start">

  <div class="slide-left">
    <h1 class="title red m-a-0">2019 Operations</h1>
    <p class="serif black">At the field level the Logistics Cluster is responsible for coordination and information management (IM) of the logistics response. When necessary, the Logistics Cluster also coordinates access to common logistics services facilitating the delivery and storage of supplies.</p>
    

    <div class="hidden-md-up">
      <img src="images/2019-operations@2x.png" alt="2019 Operations" class="img-fluid" />
    </div>
    
    <ul class="operations">
      <li>
        Bangladesh
	  </li>
	  <li>
		  Cameroon
	  </li>
      <li>
        Central African Republic
      </li>
      <li>
        Democratic Republic of the Congo
      </li>
      <li>
         Haiti
	  </li>
	  <li>
		  Iraq
	  </li>
      <li>
         Libya
	  </li>
	  <li>
		  Malawi
	  </li>
	  <li>
		  Mozambique
	  </li>
      <li>
        Nigeria
      </li>
      <li>
         South Sudan
      </li>
      <li>
        Syria
	  </li>
	  <li>
		  Venezuela
	  </li>
      <li>
        Yemen
	  </li>
	  <li>
		  Zimbabwe
	  </li>
    </ul>
  </div>

</section>
