<section id="emergencies" class="layout-column layout-center layout-center-start">

  <div class="slide-left m-l-3">
    <h1 class="title red m-a-0">2020 Operations</h1>
    <p class="serif black">At the field level the Logistics Cluster is responsible for logistics coordination and information management (IM) in the humanitarian response. When necessary, the Logistics Cluster also coordinates access to common logistics services facilitating the delivery and storage of supplies.</p>
    

    <div class="hidden-md-up">
      <img src="images/2020-operations.jpg" alt="2020 Operations" class="img-fluid" />
    </div>
    
    <ul class="operations">
      <li>
        Bangladesh
    </li>
    <li>
      Burkina Faso
    </li>
      <li>
        Central African Republic
      </li>
      <li>
        COVID-19 (global) 
      </li>
      <li>
        Democratic Republic of the Congo
      </li>
      <li>
         Haiti
	  </li>
	  <li>
		  Lebanon
	  </li>
      <li>
         Libya
    </li>
    <li>
      Nigeria
    </li>
      <li>
        Pacific
      </li>
      <li>
        Somalia
      </li>
      <li>
         South Sudan
      </li>
      <li>
        Sudan
      </li>
      <li>
        Syria
	  </li>
	  <li>
		  Venezuela
	  </li>
      <li>
        Yemen
	  </li>
    </ul>
  </div>

</section>
