<section id="emergencies" class="layout-column layout-center layout-center-start">

  <div class="slide-left">
    <h1 class="title red m-a-0">2018 Operations</h1>
    <p class="serif black">At the field level the Logistics Cluster is responsible for coordination and information management (IM) of the logistics response. When necessary, the Logistics Cluster also coordinates access to common logistics services facilitating the delivery and storage of supplies.</p>
    <ul class="operations">
      <li>
        Bangladesh
      </li>
      <li>
        Cameroon
      </li>
      <li>
        Central African Republic
      </li>
      <li>
        Democratic Republic of Congo
      </li>
      <li>
         Indonesia
      </li>
      <li>
         Iraq
      </li>
      <li>
         Libya
      </li>
      <li>
        Nigeria
      </li>
      <li>
        Somalia*
     </li>
      <li>
         South Sudan
      </li>
      <li>
        Syria
      </li>
      <li>
        Ukraine*
      </li>
      <li>
        Yemen
      </li>
    </ul>
  </div>

  <p class="note">
    <i>*In February 2018, the Logistics Cluster in Ukraine handed over coordination and information management activities to a Logistics Sector Working Group, co-led by OCHA and UNHCR. Following an evaluation of the performance of the group, the Logistics Cluster was officially deactivated by end of 2018. The Logistics Cluster in Somalia was deactivated in October 2018 the coordination continues in a informal Logistics Working Group led by WFP.</i>
  </p>

</section>
