<section id="emergencies" class="layout-column layout-center">

  <div class="slide-center">
    <h1 class="title">2016 Operations</h1>
    <p class="serif">At the field level the Logistics Cluster is responsible for coordination and Information Management of the logistics response. When necessary, the Logistics Cluster also coordinates access to common logistics services facilitating the delivery and storage of supplies.</p>
  </div>

</section>
