<section id="emergencies" class="layout-column layout-center layout-center-start">

  <div class="slide-left">
    <h1 class="title red m-a-0">2016 Operations</h1>
    <p class="serif black">At the field level the Logistics Cluster is responsible for coordination and Information Management of the logistics response. When necessary, the Logistics Cluster also coordinates access to common logistics services facilitating the delivery and storage of supplies.</p>
    <ul class="operations">
      <li>
        Central African Republic
      </li>
      <li>
        Democratic Republic of Congo
      </li>
      <li>
        Ethiopia
      </li>
      <li>
        Fiji
      </li>
      <li>
        Haiti
      </li>
      <li>
         Iraq
      </li>
      <li>
        Nigeria
      </li>
      <li>
        Somalia
      </li>
      <li>
         South Sudan
      </li>
      <li>
        Syria
      </li>
      <li>
        Ukraine
      </li>
      <li>
        Yemen
      </li>
    </ul>
  </div>

</section>
