<section id="ethiopia" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Drought</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">March 2016</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">10.1</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[OCHA, March 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">25</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">148</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">28</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">54,600</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="People icon" class="highlight-icon"> <span class="title">662 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">ETHIOPIA</h1>
        <p>In late 2015 and early 2016, Ethiopia experienced one of its worst droughts in decades. </p>
        <p>
          Under the National Disaster Risk Management Commission (NDRMC), WFP, as the global lead agency for the Logistics Cluster, has been working together with the Government of Ethiopia and the humanitarian community to identify logistics gaps and bottlenecks and propose mitigating activities to ensure an effective response. Within this framework, the Logistics Cluster seconded seven logistics advisors to the NDRMC to provide support and advice on different aspects of the supply chain.
        </p>
        <p>
          The Logistics Cluster supported the NDRMC facilitating the transport of non-food items and augmenting storage capacity to assist with the large volume of humanitarian cargo arriving in country.
        </p>
        <p>
          As of December 2016, the Logistics Cluster has erected 117 MSUs in 90 locations around the country,  achieving 100% of the target for storage augmentation on behalf of the government and the humanitarian community.
        </p>
        <p>
          The Logistics Cluster also facilitated access to financial resources for the NDRMC to secure a temporary surge in qualified staff. A total of 1,002 staff, including storekeepers and data entry clerks have been recruited to support the response. Training programmes have been offered to more than 600 newly recruited NDRMC staff and to the humanitarian partners on supply chain management, MSU erection and warehouse management.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$10.8</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$10.8</span> <small>million</small></span>
            <span class="label">received</span>
          </div>


          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
