<section id="fiji" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Cyclone Winston</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">February 2016</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">350</span> <span>thousand</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[OCHA, April 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">39</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">34</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">11</span></span>
          <span class="label">Coordination meetings</span>
        </div>

      </div>

      <div class="text">
        <h1 class="title">Fiji</h1>
        <p>In late 2015 and early 2016, Ethiopia experienced one of its worst droughts in decades.</p>
        <p>
          At the request of the government, a DHL Disaster Response Team (DRT) arrived in country to support the NDMO with receiving and storage of humanitarian relief at Nasouri Airport and additional ports of entry.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$208</span> <small>thousand</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$208</span> <small>thousand</small></span>
            <span class="label">received</span>
          </div>


          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
