<section id="fiji" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Cyclone Winston</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">February 2016</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">350</span> <span>thousand</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i>[OCHA, April 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">39</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">35</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">11</span></span>
          <span class="label">Coordination meetings</span>
        </div>

      </div>

      <div class="text">
        <h1 class="title">Fiji</h1>
        <p>In response to category 5 Tropical Cyclone Winston which struck Fiji in February 2016, the Logistics Cluster supported the Fiji National Disaster Management Office (NDMO) and humanitarian community with logistics coordination and information management in an advisory role. The Logistics Cluster, on permanent activation through the Regional Pacific Cluster System, deployed dedicated staff to facilitate logistics coordination, information management activities and identify logistics gaps.</p>
        <p>
          In support of the NDMO and Fiji National Cluster System, OCHA and the Logistics Cluster implemented a system to consolidate and streamline requests from the humanitarian community for use of military assets in country. In addition, support was given to the NDMO to establish a system to track relief imports, monitoring the quantity of relief goods arriving in country by air and sea to support logistics planning.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$209</span> <small>thousand</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$209</span> <small>thousand</small></span>
            <span class="label">received</span>
          </div>


          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
