<section id="focus" class="layout-column layout-center blend">

  <div class="slide-center layout-row layout-row-2">
    <div class="highlight text-left">
      <h1 class="title">Focus on local leadership and on the creation of local capacities to respond to emergencies </h1>
    </div>
    <div class="text">

      <p class="serif">
        In 2016 the Logistics Cluster started implanting its new three year strategy. The strategy puts partnership and collaboration at its core. <br>

        The Logistics Cluster community aims to meet humanitarian needs by supporting national logistics preparedness in key disaster-prone countries, engaging with stakeholders from different sectors to leverage their capacity, and systemically sharing and implementing best practices. <br>

        The 2016-2018 Logistics Cluster strategy was designed through a participatory process led by a working group comprised of thirteen organisations, including those that have been participating to the Logistics Cluster Global Meetings.
      </p>
    </div>
  </div>

</section>
