<section id="focus" class="blend layout-column layout-center">

  <div class="grid-2">
    <div class="category">
      <h3 class="boxed">Preparedness</h3>
    </div>
    <div class="highlight">
      <h1 class="title">
        Strengthen the immediate response capacity of national actors in disaster-prone countries and identify best capacities for potential humanitarian response
      </h1>
    </div>
    <div class="">

      <p class="serif">
        The core idea of the supply chain preparedness efforts <strong>is to support local and international actors, before an emergency, by working together to identify and address systemic challenges in local supply chain systems, in a sustainable way through handover to national governments and actors.</strong>
      </p>
      <p>The key feature of the supply chain preparedness initiative is the <strong><a href="http://unwfp.maps.arcgis.com/apps/MapSeries/index.html?appid=bc6ab99b622a4ef799b0cd0ad869b090" target="_blank">Preparedness Platform.</a></strong> </p>
      <p>
        <strong>This is an innovative dynamic mapping and analysis platform based on existing technology.</strong> It combines and leverages multiple supply chain and hazard risk datasets including satellite/drone imagery <strong>on a single visualisation interface shared by all stakeholders at an international, national and local level.</strong>
      </p>
      <p>
        The Platform can be used to simulate and plan a supply chain response, and to then adapt and rollout that plan when a disaster hits. It will help to analyse previous responses and possible future scenarios, thus supporting informed, data-driven preparedness decisions, such as the prepositioning of relief items, and response planning efforts.
      </p>
      <p>
        <strong>Ownership of the tool lies with the national governments and actors. WFP, as the lead agency of the Logistics Cluster, manages and maintains the platform at a global level, and is responsible for providing the necessary training to ensure</strong> sustainability and to strengthen national capacity.
      </p>
      <p>
        The Preparedness project has been carrying out its first <strong>field-based work in Haiti since March 2017.</strong> The focus has been network engagement and partnership expansion through a multi-sectoral approach, to generate buy-in for the Preparedness Platform while testing the system’s user interface.
      </p>
    </div>
  </div>

  <div class="overlay"></div>

</section>
