  <!-- <script type="text/javascript" src="bundle.js"></script> -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    function fade() {
      $( "#intro .boxed" ).addClass('fade-up');
      $( "#intro h1" ).addClass('fade-up');
      console.log('fade');

      if( $(window).scrollTop() < 200 ) {
        $( ".boxed" ).removeClass('fade-up');
        $( "h1" ).removeClass('fade-up');
        console.log('scroll top');
      }
    }

  </script>
  </body>
</html>
