<section id="foreword" class="layout-column layout-center">
	
	<div class="content text">
		<h1 class="title black mb-3">foreword</h1>
		<div class="grid grid-foreword">
			<img src="images/athalie.jpg" class="img-foreword" alt="Athalie">
			<div class="black">
				<p class="serif" style="margin-top: 0; background-color: yellow;">[TEXT IS MISSING HERE]</p>		
				<p class="mb-3">
					- Athalie Mayo <br />
					Global Logistics Cluster Coordinator
				</p>
			</div>
		</div>
	</div>	
</section>
