<section id="foreword" class="layout-column layout-center">

  <div class="content">
      <div class="text-left text black">
		  <h1 class="title">foreword</h1>
		  <img src="/images/athalie.jpg" class="img-float" alt="Athalie">
          <p class="serif">
            Ten per cent of the world's population is still living in extreme poverty and at least two billion people live in areas affected by conflict, fragility and violence. 
          </p>
          <p class="serif">
            The Global Humanitarian Overview estimates that in 2019, more than 122 million people will need humanitarian assistance and protection, the majority because of the impact of conflict and violence.
          </p>
          <p class="serif">
            Additionally, disasters caused by natural hazards stress economies and resilience systems. The World Bank has calculated that disasters push 26 million people into poverty every year.
          </p>
          <q>
            We are witnessing extremely high levels of humanitarian needs. 
          </q>
          <p class="serif">
            While this poses a great challenge for the humanitarian community and its ability to respond, the humanitarian system is more effective and impactful today.
          </p>
          <p class="serif">
            Thanks to the digital transformation of our work, to cutting-edge solutions and their application to supply chain and to satellite communication, we are better at identifying target groups, their specific needs, and we are quicker to respond when crises strike.
          </p>
          <p class="serif">
            But technology cannot replace the knowledge, experience and determination of those who work every day for and with the people we serve. Their long-term commitment and dedication makes a difference that cannot and should not go unnoticed.
          </p>
          <p class="serif">
            This is why I would like the Logistics Cluster staff directly involved in our operations to tell you about our achievements in 2018. With their words and through their experiences, I am sure that you will be able to fully appreciate the breadth of our contribution to the successful implementation of humanitarian activities in some of the world’s most complex operational environments. 
          </p>
  
          <p class="mb-3">
            - Athalie <br />
            Global Logistics Cluster Coordinator
          </p>
       </div>
  </div>

</section>
