<section id="haiti" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Hurricane Matthew</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">October 2016</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">2.1</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[OCHA, November 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">150</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">127</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">35</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">1,565</span> <span>mt</span></span>
          <span class="label">Storage</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="People icon" class="highlight-icon"> <span class="title">706 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="People icon" class="highlight-icon"> <span class="title">2,237 </span><span>mt</span></span>
          <span class="label">Sea transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="People icon" class="highlight-icon"> <span class="title">556 </span><span>mt</span></span>
          <span class="label">Air transport</span>
        </div>

      </div>

      <div class="text">
        <h1 class="title">Haiti</h1>
        <p>
          As Hurricane Matthew made landfall in Haiti on 4 October 2016, provoking severe damage to road and ICT infrastructure, housing and health facilities, the Global Logistics Cluster and WFP Haiti office put in place a swift emergency response.
        </p>
        <p>
          The Logistics Emergency Team partners (Agility, Maersk, UPS), asked to support the response, provided pro bono airlifts and ocean freight and customs clearance support. Warehouse space, forklifts and trucks were also made available allowing for cost and time efficient reception and primary transportation of aid.
        </p>
        <p>
          In the meantime, in coordination with the Directorate of Civil Defence (DPC) a Logistics Working Group was established with logistics and coordination hubs in Port au Prince, Les Cayes and Jéremie.
        </p>
        <p>
          WFP, as the lead agency of the Logistics Cluster, coordinated access to US military air assets, and Netherlands Navy vessels, through the EU Civil Protection, for responders to reach inaccessible communities. WFP also made available a fleet of off-road trucks and contracted commercial air and sea services.
        </p>
        <p>
          In November 2016 it was decided that Haiti will be the pilot country of the Logistics Cluster preparedness project. A Preparedness Officer was identified to lead activities starting in the first quarter of 2017.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$3</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$3</span> <small>million</small></span>
            <span class="label">received</span>
          </div>


          <div class="right fund-percentage">
            <span class="fund-value">100%</span>
            <!-- Change svg chart -->
            <img src="images/car-fund.svg" alt="Funded percentage">
            <span class="label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
