<section id="haiti" class="blend blend-blue operation">

	<div class="grid-operation">
  
	  <div class="category">
		<h3 class="boxed">Complex emergency</h3>
	  </div>
  
	  <div class="highlight text-left">
		<h1 class="title hidden-md-up">Haiti</h1>
  
		<div class="country-numbers">
		  <h2 class="serif">November 2008</h2>
		  <span class="label">Logistics Cluster Activation</span>
		</div>
  
		<div class="country-numbers">
		  <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">12.8</span> <small>million</small></span>
		  <span class="label">people in need of humanitarian assistance <small class="dimmed"><i>[OCHA, December 2018]</i></small></span>
  
		</div>
  
		<div class="country-numbers">
		  <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">286</span></span>
		  <span class="label">Organisations Supported</span>
		</div>
  
		<div class="country-numbers">
		  <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">226</span></span>
		  <span class="label">IM products published</span>
		</div>
  
		<div class="country-numbers">
		  <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">70</span></span>
		  <span class="label">Coordination meetings</span>
		</div>
  
		<div class="country-numbers">
			<span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">6,199 </span><span>mt</span></span>
			<span class="label">Road transport</span>
		  </div>
  
		<div class="country-numbers">
		  <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">4,120</span> <span>m<sup>3</sup></span></span>
		  <span class="label">Storage</span>
		</div>
  
	  </div>
  
	  <div class="hidden-md-up">
		<img src="images/2018/drc.jpg" alt="Julien Marcheix, Desk Officer, Global Logistics Cluster, DRC" class="img-fluid" />
	  </div>
  
	  <div class="operation-right">
		<div class="text">
		  <h1 class="title hidden-md-down">Haiti</h1>
		  <p>
			  The DRC is affected by an extremely complex and long-standing humanitarian crisis requiring continuous efforts from organisations on the ground to respond to the needs of the affected population. 
		  </p>
		  <q>
			  I have been working on the DRC response for more than two years, since I was part the Red Cross Movement, and I’ve learned first-hand that to be relevant, the humanitarian response needs to be continuously readjusted. 
		  </q>
		  <p>
			  This is because of the complexity of the operating context, but also because of the multiple crises affecting the country such as spikes in conflict, population displacements and health emergencies which generate new needs and priorities.
		  </p>
		  <p>
			  The Logistics Cluster is operational in Kinshasa and in the provincial capitals of Bukavu, Goma, Bunia, Kalémie and Kananga, providing information management and coordination to support the humanitarian actors involved in the response. Our staff on the ground regularly share useful logistics information – such as storage capacity, access updates and logistics maps – enabling responders to plan their operations while taking into consideration the available logistics capacity, road accessibility and access constraints.
		  <p>
			  The cluster has also been working on strengthening local capacity by providing training sessions dedicated to building information management, GIS and logistics skills which are critical to improving the quality of the response.
		  </p>
		  <p>
			  In 2017, following the worsening of the situation in the Kasai region the cluster began facilitating access to common storage and transport services provided by WFP and Humanity and Inclusion in Kananga and Tshikapa. This scale-up of activities required additional capacity on the ground and strengthened support from the Global Support team.
		  </p>
		  <p>
			  From January to June, 4,120 m<sup>3</sup> of relief items were received into storage and 6,199 m3 of cargo was transported to different locations across the country. In total, 32 organisations used these logistics services.
  
		  </p>
		  <p class="quote">
			  - Julien Marcheix, Desk Officer, Global Logistics Cluster
		  </p>
		</div>
  
		<div class="numbers">
		  <div class="text-center">
			<span class="serif"><span class="title">$2.5</span> <small>million</small></span>
			<span class="label">requirement</span>
		  </div>
  
		  <div class="text-center">
			<span class="serif"><span class="title">$2.5</span> <small>million</small></span>
			<span class="label">received</span>
		  </div>
  
  
		  <div class="text-center">
			<div class="fund-percentage fund-percentage-100 layout-column layout-center">
			  <span class="fund-value">100%</span>
			</div>
			<span class="label fund-percentage-label">funded</span>
		  </div>
		</div>
	  </div>
  
	</div>
  
	<div class="overlay overlay-blue"></div>
  </section>
  