<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Logistics Cluster | Year In Review 2019</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Logistics Cluster, Annual Report, 2019, Logistics">
    <meta name="description" content="Logistics Cluster Annual Report 2019">
    <meta name="author" content="Logistics Cluster">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <!-- Google Analytics -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-425361-5', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  </head>
