<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Logistics Cluster | Year In Review 2019</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Logistics Cluster, Annual Report, 2019, Logistics">
    <meta name="description" content="Logistics Cluster Annual Report 2019">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Logistics Cluster">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65855222-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-425361-5');
    </script>
  </head>
