<section id="indonesia" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Indonesia</h1>

      <div class="country-numbers">
        <h2 class="serif">October 2018</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">11</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, November 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">119</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">145</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">57</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">81,163</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">75 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">1,169 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Indonesia</h1>
        <p>
            A magnitude 7.5 earthquake struck Indonesia’s Central Sulawesi province on 28 September 2018, triggering a tsunami and landslides that caused widespread destruction and loss of life, as well as the displacement of over 200,000 people. The earthquake affected the west coast of Donggala, while the tsunami affected the bay of Palu. In addition, the coastline of Palu City and Sigi district was affected by liquefaction.
        </p>
        <q>
            I was in Lebanon, working with the Logistics Cluster as an Information Management Officer for the Syria response, when I was asked to deploy as surge capacity to support the government-led response, so off I went, with very little notice, to my first emergency deployment.
        </q>
        <p>
            The first task was to work with the Government of Indonesia and humanitarian organisations responding to the emergency to coordinate the logistics response and provide information to actors on the ground. 
        </p>
        <p>
            In the meantime, we started assessing the logistics capacity and gaps in the affected areas. Based on our findings and the flow of relief items and the constraints in accessing the affected population, we identified the need for common logistics services. In response, WFP, as lead agency of the Logistics Cluster, made road transport and temporary storage available to the humanitarian community. 
        </p>
        <p>
            We worked closely with local and international NGOs, the Indonesian Red Cross (PMI) and UN agencies including UNICEF and UNHCR. Activities were focused on facilitating access to transport and storage services for requesting organisations and governmental bodies. A fleet of 40 trucks was deployed to facilitate deliveries to different locations within Sulawesi, as well as to common warehouse facilities; 939 mt of relief items were transported using these assets. In addition, six MSUs were set-up in Garuda, in the centre of Palu city, for the onward movement of relief supplies to further destinations and in just two months 4,862 m3 of humanitarian cargo was received into storage.
        </p>
        <p>
            Furthermore, we supported the Indonesian National Board for Disaster Management (BNPB), led by the national logistics cluster, informing government strategy as requested, and providing coordination and information management from Central Sulawesi and from Jakarta. Information on the pipeline for relief items, transport plans, existing stocks, port infrastructure and access constraints was collected and shared with relevant governmental bodies.
        </p>
        <p class="quote">
            - Agnes Semaan, Information Management Officer, Indonesia
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$10.3</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$6</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-50 layout-column layout-center">
            <span class="fund-value">59%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

        <small><i>A bridge rehabilitation project was included in the initial requirement, however due to operational changes this support was finally not required. Therefore, the Logistics Cluster activities in Iraq in 2017 were fully funded.</i></small>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
