<section id="intro" class="layout-column layout-center blend">
  <div class="slide-center">
    <!-- Insert logo -->
    <h2 class="text-shadow boxed">Logistics Cluster</h2>
    <h1 class="text-shadow text-uppercase">Year in Review 2016</h1>
  </div>
  <a href="#car" class="link">scroll down</a>
  <div class="overlay overlay-red"></div>
</section>
