<section id="intro" class="layout-column layout-center blend">
  <div class="slide-center">
    <img src="images/logo.svg" alt="Logistics Cluster Logo" class="logo">
    <h1 class="text-shadow text-uppercase">Year in Review 2016</h1>
  </div>
  <a href="#car" class="link">
    scroll down
    <img src="images/down.svg" alt="Icon arrow down">
  </a>
  <div class="overlay overlay-red"></div>
</section>
