<section id="intro" class="layout-column layout-center blend">

  <div class="slide-center layout-row layout-row-2">
    <div class="left layout-column layout-center" style="position: relative;">
      <svg width="339px" height="640px" viewBox="-30 -28 339 640" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <rect id="mbn1" x="0" y="0" width="279" height="580" rx="44"></rect>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="mbn-ftr2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.00392156863   0 0 0 0 0.203921569   0 0 0 0 0.37254902  0 0 0 0.2 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
        </defs>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <use fill="black" fill-opacity="1" filter="url(#mbn-ftr2)" xlink:href="#mbn1"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#mbn1"></use>
          <ellipse fill="#D8DEE3" cx="140" cy="546.974808" rx="18" ry="17.9748081"></ellipse>
          <ellipse fill="#D8DEE3" cx="107" cy="34.9944018" rx="4" ry="3.99440179"></ellipse>
          <rect fill="#D8DEE3" x="129" y="33" width="37" height="4" rx="2"></rect>
        </g>
      </svg>
      <img src="images/2018/2018-website.png" alt="Logistics Cluster Website" title="Logistics Cluster website" class="mobile-img">
    </div>
    <div class="right text-left">
      <h1 class="title">The Logistics Cluster</h1>
      <p class="serif">
        enables global, regional and local actors to meet humanitarian needs. Before crises, we work with stakeholders in high risk countries and regions to strengthen local logistics capacities. In crises, where these capacities have been exceeded, we provide leadership, coordination, information and operational services.

      </p>
      <p class="serif">
        Globally, the Logistics Cluster is a community of partners actively working to overcome logistics constraints, and to develop and share best practices and solutions.
      </p>
      <p class="serif">
        The cluster approach was adopted in 2005 as a result of the Humanitarian Reform process launched by the UN Emergency Relief Coordinator, through the Inter-Agency Standing Committee (IASC). The reform process focused on strengthening coordination and accountability and enhancing partnerships in key sectors, including Logistics.
      </p>
      <p class="serif">
        Because of its expertise in humanitarian logistics and its field capacity, the UN World Food Programme was chosen by the IASC to be the lead agency of the Logistics Cluster. In this role, when necessary, WFP acts as a provider of last resort, offering common logistics services  to all humanitarian responders.
      </p>
      <p class="serif">
        The Logistics Cluster leverages its network active partners to best fill critical logistics gaps. When local infrastructure is severely damaged or inaccessible and local capacities have been exceeded, WFP, as the lead agency of the cluster, acts as a provider of last resort, offering assets and services to humanitarian responders to enable them to reach the affected population. The Logistics Cluster coordinates access to common transport services (road, river, sea and air), storage facilities and fuel provided by WFP or any organisation with relevant, available capacity.
      </p>
      <p class="serif">
        The Logistics Cluster is therefore key to ensuring an efficient humanitarian response, reducing duplication of humanitarian efforts and saving costs.
      </p>
    </div>
  </div>

</section>
