<section id="intro" class="layout-column layout-center blend">

  <div class="slide-center layout-row layout-row-2">
    <div class="left layout-column layout-center">
      <svg width="339px" height="640px" viewBox="-30 -28 339 640" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <rect id="mbn1" x="0" y="0" width="279" height="580" rx="44"></rect>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="mbn-ftr2">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.00392156863   0 0 0 0 0.203921569   0 0 0 0 0.37254902  0 0 0 0.2 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
        </defs>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <use fill="black" fill-opacity="1" filter="url(#mbn-ftr2)" xlink:href="#mbn1"></use>
          <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#mbn1"></use>
          <ellipse fill="#D8DEE3" cx="140" cy="546.974808" rx="18" ry="17.9748081"></ellipse>
          <ellipse fill="#D8DEE3" cx="107" cy="34.9944018" rx="4" ry="3.99440179"></ellipse>
          <rect fill="#D8DEE3" x="129" y="33" width="37" height="4" rx="2"></rect>
        </g>
      </svg>
      <img src="images/website2_@2x.png" alt="Logistics Cluster Website" title="Logistics Cluster website" class="mobile-img">
    </div>
    <div class="right text-left">
      <h1 class="title">The Logistics Cluster</h1>
      <p class="serif">
        brings together organisations responding to humanitarian emergencies. At the global level the Logistics Cluster provides strategic guidance to broaden knowledge and improve decision making in humanitarian logistics and works with local governments on system-wide preparedness and contingency planning.
      </p>
      <p class="serif">
        The Global Logistics Cluster support team, hosted in WFP Headquarters in Rome, also provide logistics surge capacity to reinforce operations on the ground and is in charge of training and lessons learned.
      </p>
    </div>
  </div>

</section>
