<section id="iraq" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Iraq</h1>

      <div class="country-numbers">
        <h2 class="serif">May 2014</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">11</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, November 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">119</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">145</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">57</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">81,163</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">75 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">1,169 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Iraq</h1>
        <p>
            As the context within Iraq shifts to early recovery efforts, logistics coordination remains key in ensuring that the needs related to these new humanitarian activities are met, while the capacity and resources to address the regular relief efforts are maintained.
          </p>
        <p>
            Despite the improving security situation in some areas, insecurity does still remain a challenge along with bureaucracy which creates access limitations. This has a serious impact on the humanitarian supply chain in-country, hampering the timely movement of goods, humanitarian staff, and the provision of services. 
        </p>
        <q>
            In my role as Logistics Cluster Coordinator, I have been working with humanitarian responders and government bodies to clarify import and clearance procedures for different entry points and routes and have defined capacity building initiatives for the government and national actors.
        </q>
        <p>
            We have also continued to support humanitarian organisations with customs clearance procedures through the established One Stop Shop (OSS). The OSS provides a free-of-charge service which includes the facilitation of customs clearance for incoming cargo into the Kurdistan Region of Iraq, and coordination with authorities for the smooth movement of humanitarian aid. This year the OSS processed XXX clearance requests, representing XXX mt and US$ XXX of humanitarian cargo.
        </p>
        <p>
            While addressing these access issues we continued to facilitate storage in key areas, allowing humanitarian responders to position relief cargo closer to beneficiaries. From January to December 2018, the Logistics Cluster received 29,387 m3 of humanitarian relief items for storage, on behalf of 24 organisations. During the same period, the Logistics Cluster provided up to XX m² of common storage space in X locations in key operational areas including Ninewa, Salah al Din and Anbar governorates, as well as loaned XX MSUs to XX different actors.
        </p>
        <p class="quote">
            - Cameron Kiss, Logistics Cluster Coordinator, Iraq 
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$10.3</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$6</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-50 layout-column layout-center">
            <span class="fund-value">59%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

        <small><i>A bridge rehabilitation project was included in the initial requirement, however due to operational changes this support was finally not required. Therefore, the Logistics Cluster activities in Iraq in 2017 were fully funded.</i></small>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
