<section id="iraq" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">May 2014</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">11</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, November 2017]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">119</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">145</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">57</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">81,163</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">75 </span><span>mt</span></span>
          <span class="label">Air transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">1,169 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

      </div>

      <div class="text">
        <h1 class="title">Iraq</h1>
        <p>
          As the operation to retake Mosul, which started in October 2016, created additional logistics bottlenecks, access constraints and gaps in the capacity of the humanitarian community, the Logistics Cluster significantly scaled up activities across Iraq throughout 2017.
        </p>
        <p>
          The Logistics Cluster has <strong>increased storage capacity and emergency airlifts in the key operational areas</strong> of Erbil, Dahuk, Baghdad, Tikrit and the Ninewa governorate.
        </p>
        <p>
          Common storage facilities have been set up throughout the Ninewa governorate within or in close proximity to displacement emergency sites and camps – with 18 logistics hubs operational during the height of the response in mid-2017. These have mostly been based along the Mosul corridor, in response to needs identified by partners.
        </p>
        <p>
          On behalf of WHO and the Health Cluster, the Logistics Cluster facilitated emergency airlifts, organised by WFP Aviation, of 30 specially equipped ambulances to Erbil, to support the humanitarian response in and around the Mosul frontlines.
        </p>
        <p>
          Furthermore, the Logistics Cluster has been working with humanitarian actors and authorities to establish a <strong>One Stop Shop (OSS) to facilitate and streamline the customs clearance process for humanitarian cargo within the Kurdistan Region of Iraq (KRI)</strong>. Since it was established in December 2016, the OSS has been providing free-of-charge services to all local and international humanitarian actors. These services include facilitation of customs clearance for incoming cargo and coordination with all relevant authorities for the smooth movement of humanitarian assistance into the KRI, reducing the time required for clearance by half. <strong>On average, the OSS processes 85 clearance requests each month, representing more than US$ 12 million of humanitarian relief items</strong>.
        </p>
        <p>
          Throughout the last year, <strong>the Logistics Cluster trained 237 people from 68 organisations across Iraq in warehouse and commodity management in emergency contexts</strong>.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$10.2</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$5.3</span> <small>million</small></span>
            <span class="label">received</span>
          </div>

          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">55%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
