<section id="iraq" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">May 2014</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">10</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, November 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">75</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">72</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">34</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">40,741</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>

      </div>

      <div class="text">
        <h1 class="title">Iraq</h1>
        <p>
          The surge in violence in Iraq has resulted in deteriorating humanitarian situation and in increasing access issues.
        </p>
        <p>
          The Logistics Cluster has been coordinating with humanitarian organisations throughout the preparedness and planning phase for the Mosul operation, while continuing its engagement with the 2016 Humanitarian Response Plan.
        </p>
        <p>
          Coordination meetings are held in Erbil, Dahuk and Baghdad to address logistics gaps and bottlenecks and coordinate the prepositioning and shipment of relief items.
        </p>
        <p>
          Contingency to facilitate initial road transport for emergency humanitarian supplies, including through inter-agency convoys, has been put in place.
        </p>
        <p>
          Warehouse capacity has been scaled up in the major hubs of Erbil and Dahuk, new hubs established in key locations, and additional strategic forward operating bases made available in, or in close vicinity to, displacement camps and emergency site locations to facilitate distribution.
        </p>
        <p>
          Specialised logistics staff have been deployed and are planned as a contingency to strengthen coordination in the different hubs and to work on potential areas of constraint, such as border crossing and airports.
        </p>
        <p>
          The Logistics Cluster has been liaising with authorities on behalf of the humanitarian community to raise issues of common concern and address logistics humanitarian access constraints. Notably the cluster has been working with humanitarian actors and authorities to establish a One Stop Shop to facilitate and streamline the customs clearance process for humanitarian cargo.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$5.5</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$5.5</span> <small>million</small></span>
            <span class="label">received</span>
          </div>

          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
