<section id="libya" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Libya</h1>

      <div class="country-numbers">
        <h2 class="serif">September 2018</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">1.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, January 2018]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">26</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">22</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">4</span></span>
        <span class="label">Coordination meetings</span>
      </div>

    </div>

    <div class="hidden-md-up">
      <img src="images/2018/libya.jpg" alt="Valentina Signori, Logistics Sector Coordinator, Libya" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Libya</h1>
        <p>
            Libya has faced six years of political instability, conflict and insecurity, alongside a deteriorating public sector and economy. 
        </p>
        <p>
            It is estimated that 800,000 people, including refugees, migrants, internally displaced persons, returnees, non-displaced affected people and host communities, will require urgent humanitarian assistance throughout 2019. 
        </p>
        <p>
            Prospects remain uncertain in the medium and long term, while fighting and recurrent shifts in areas of control are expected to impact the humanitarian operational environment.
        </p>
        <p>
            A growing need for stronger logistics coordination and information sharing among responding actors was identified, primarily to address gaps in the overall humanitarian logistics knowledge and ensure a more coordinated operational response.
        </p>
        <p>
            I was deployed to Libya as Logistics Sector Coordinator in September after three years with the Logistics Cluster in Iraq, in order to facilitate the establishment of a centralised information sharing mechanism that could collect, analyse and share information on key logistics aspects such as the status of the entry points, supply routes, humanitarian customs procedures and other administrative processes that could cause significant delays to the arrival of relief supplies.
        </p>
        <q>
            After initial rounds of consultations with partners on the ground, I was able to institute regular coordination meetings, start mapping strategic logistics infrastructure and compile guidance and Standard Operating Procedures on customs and clearance procedures. 
        </q>
        <p>
            Based on the gaps and needs identified by humanitarian organisations, I am now working to secure common logistics services that will allow for the prepositioning of emergency stocks in the main hubs of Tripoli, Benghazi and Sebha, and for emergency distributions where needed most.
        </p>
        <p>
            Engagement and coordination among partners remains critical in identifying operational bottlenecks in this volatile environment, and in avoiding duplication of efforts to ensure the best use of available resources in-country. 
        </p>
        <p>
            To date, the Logistics Sector has connected with 26 humanitarian organisations operating across Libya, launched a dedicated webpage, held monthly coordination meetings, and produced and shared 22 information management products.
        </p>
        <p class="quote">
            - Valentina Signori, Logistics Sector Coordinator, Libya 
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$330,800</span></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$300,100</span></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-90 layout-column layout-center">
            <span class="fund-value">91%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

        </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
