<section id="madagascar" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Cyclone</h3>
    </div>

    <div class="highlight text-left">
      <div class="country-numbers">
        <h2 class="serif">March 2017</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">433,985</span> <span>thousand</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [National Office for Risk and Disaster Management - BNGRC, November 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">22</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">49</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">10</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">81,163</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/sea.svg" alt="Boat icon" class="highlight-icon"> <span class="title">675 </span><span>m<sup>3</sup></span>
        <span class="label">Sea transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">1,263 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/river.svg" alt="Barge icon" class="highlight-icon"> <span class="title">2,622 </span><span>mt</span></span>
        <span class="label">River transport</span>
      </div>
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title">Madagascar</h1>
        <p>
          Intense Tropical Cyclone Enawo, a category 4 on the Saffir Simpson scale, made landfall in Madagascar’s Sava region on 7 March causing severe wind damage and widespread flooding throughout the north-eastern half of Madagascar.

        </p>
        <p>
          Following a request of the National Office for Risk and Disaster Management (BNGRC), a Logistics Sector was established. The sector identified three areas of intervention: logistics coordination, Information Management, common logistics services, including sea and river transport and storage.

        </p>
        <p>
          The logistics hubs for the response were established in the capital Antananarivo as well as in Maroantsetra and in Antalaha with storage facilities available for the humanitarian community.

        </p>
        <p>
          Sea transportation was the only way for large amount of cargo to reach these destinations, which are rather enclaved. Due to poor conditions of the road network, access via land is difficult and sometimes impossible, while air transport is hampered by the limited number and capacity of airstrips.
        </p>
        <p>
          Sea transport from Toamasina to Maroantsetra and to Antalaha was provided by WFP. Nine rotations were organised to transport relief items on behalf of twelve organisations.
        </p>
        <p>
          Alongside BNGRC, a river transportation system was established using pirogues (dug-pout canoes), to reach over 100 remote and isolated river communities around Maroantsetra with relief items on behalf of the Education, WASH, Shelter, Nutrition, Food, Logistics and Operational Support sectors.
        </p>
        <p>
          The Logistics Sector also supported the BNGRC with the movement of passengers accompanying cargo or conducting assessments. Two speedboats of the Corps de Protection Civile were made available to transport humanitarian staff to the affected river communities to assess needs and carry out distributions.
        </p>
        <p>
          In addition, a number of rehabilitation works were conducted in Maroantsetra in order to allow or improve access and cargo delivery.
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$782</span> <small>thousand</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$782</span> <small>thousand</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
