<!-- Main navigation -->
<nav id="mainNav" class="nav">
  <ul class="nav-list">
  <!-- List item navigation for each section, add another section to the array so that it addas a new circle link -->
  <%
  var section = ['cover', 'intro', 'numbersOne', 'focus', 'outcome', 'partnerships', 'emergencies', 'bangladesh', 'car', 'drc', 'ethiopia', 'haiti', 'iraq', 'madagascar', 'nigeria', 'somalia', 'southsudan', 'syria', 'ukraine', 'yemen', 'thankyou'];
  var sectionTitle = ['Cover', 'The Logistics Cluster', '2017 in numbers', ' Local Leadership', 'Key Outcomes', 'Partnerships', '2017 Operations', 'Bangladesh', 'C.A.R.', 'D.R.C.', 'Ecuador', 'Ethiopia', 'Haiti', 'Iraq', 'Madagascar', 'Nigeria', 'Somalia', 'South Sudan', 'Syria', 'Ukraine', 'Yemen', 'Thank you!']
  for(var i=0; i<section.length; i++) {%>
    <li class="nav-item">
      <a href="#<%= section[i] %>" class="nav-item-link">
        <div class="nav-item-circle"></div>
        <span><%= sectionTitle[i] %></span>
      </a>
    </li>
  <% } %>
  </ul>
</nav>
