<!-- Main navigation -->
<nav id="mainNav" class="nav">
  <ul class="nav-list">
    <!-- List item navigation for each section, add another section to the array so that it addas a new circle link -->
    <% sections.forEach(function(section)) { %>
      <li class="nav-item">
        <a href="#<%= section.id %>" class="nav-item-link">
          <div class="nav-item-circle"></div>
          <span><%= section.title %></span>
        </a>
      </li>
      <% }); %>
    </ul>
  </nav>
  