<!-- Main navigation -->
<nav id="mainNav" class="nav">
  <ul class="nav-list">
  <!-- List item navigation for each section, add another section to the array so that it addas a new circle link -->
  <%
  var section = ['cover', 'intro', 'foreword', 'sag', 'numbersOne', 'emergencies', 'bangladesh', 'car', 'drc', 'haiti', 'libya', 'malawi', 'mozambique', 'nigeria', 'southsudan', 'syria', 'yemen', 'zimbabwe', 'updates', 'preparedness', 'strategy', 'thankyou'];
  var sectionTitle = ['Year In Review 2019', 'The Logistics Cluster', 'Foreword', 'GSAG', '2019 in numbers', '2019 Operations', 'Bangladesh', 'C.A.R.', 'D.R.C.', 'Haiti', 'Libya', 'Malawi', 'Mozambique', 'Nigeria', 'South Sudan', 'Syria', 'Yemen', 'Zimbabwe', 'Operational Updates', 'Preparedness', 'Strategy', 'Thank you!']
  for(var i=0; i<section.length; i++) {%>
    <li class="nav-item">
      <a href="#<%= section[i] %>" class="nav-item-link">
        <div class="nav-item-circle"></div>
        <span><%= sectionTitle[i] %></span>
      </a>
    </li>
  <% } %>
  </ul>
</nav>
