<!-- Main navigation -->
<nav id="mainNav" class="nav">
  <ul class="nav-list">
  <!-- List item navigation for each section, add another section to the array so that it addas a new circle link -->
  <%
  var section = ['Intro', 'CAR', 'DRC', 'Ethiopia', 'Ecuador', 'Fiji', 'Haiti', 'Iraq', 'Nigeria'];
  for(var i=0; i<section.length; i++) {%>
    <li class="nav-item">
      <a href="#" class="nav-item-link">
        <div class="nav-item-circle">

        </div>
      </a>
    </li>
  <% } %>
  </ul>
</nav>
