<!-- Main navigation -->
<nav id="mainNav" class="nav">
  <ul class="nav-list">
  <!-- List item navigation for each section, add another section to the array so that it addas a new circle link -->
  <%
  var section = ['cover', 'intro', 'stephen', 'numbersOne', 'emergencies', 'bangladesh', 'cameroon', 'car', 'drc', 'indonesia', 'iraq', 'libya', 'nigeria', 'southsudan', 'syria', 'yemen', 'thankyou'];
  var sectionTitle = ['Year In Review 2018', 'The Logistics Cluster', 'Introduction', '2018 in numbers', '2018 Operations', 'Bangladesh', 'Cameroon', 'C.A.R.', 'D.R.C.', 'Indonesia', 'Iraq', 'Libya', 'Nigeria', 'South Sudan', 'Syria', 'Yemen', 'Thank you!']
  for(var i=0; i<section.length; i++) {%>
    <li class="nav-item">
      <a href="#<%= section[i] %>" class="nav-item-link">
        <div class="nav-item-circle"></div>
        <span><%= sectionTitle[i] %></span>
      </a>
    </li>
  <% } %>
  </ul>
</nav>
