<section id="malawi" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Natural disaster</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Malawi</h1>

      <div class="country-numbers">
        <h2 class="serif">March 2019</h2>
        <span class="label"></span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">870,000</span> </span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">31</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">55</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">9</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">1,305 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">1,761</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>


    </div>

    <div class="hidden-md-up">
      <img src="images/malawi.jpg" alt="Malawi" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Malawi</h1>
        <p>
            In early March, a severe weather system formed off the eastern coast of Mozambique, bringing heavy rains and strong winds to southern Malawi, before tracking back to the Mozambique channel. Here it intensified into Cyclone Idai which made landfall in Mozambique on 14 March, continuing to Malawi where it impacted approximately 870,000 people and caused significant infrastructure damage to the country’s south (OCHA). Through coordination, information sharing and facilitation of access to common logistics services, the Logistics Sector, co-led by WFP and the Malawian Ministry of Transport and Public Works (MoTPW), assisted the humanitarian community in their efforts to deliver lifesaving items to affected areas. 
        </p>
        <q>
            The Logistics Cluster is always the first port of call when a disaster strikes, and Cyclone Idai was no exception. In Malawi, the facilitation of Logistics Common Services was integral to the efficiency and timeliness of ShelterBox's response, while regular sector meetings provided an open platform for partners to share operational plans, discuss logistics constraints, and problem-solve solutions.
		</q>
		<p class="quote">
            - Frances Walker, Logistics & Procurement Coordinator, Shelterbox
        </p>
        <p>
            The Logistics Sector facilitated access to common logistics services for the government and responding humanitarian organisations.  A total of 1,761 m<sup>3</sup> of relief items were received for storage in five locations throughout the country. As water levels fell and road conditions improved, the Logistics Sector facilitated road transport of 1,305 mt of lifesaving humanitarian cargo.
        </p>
       <p>
		Due to both the isolated nature of some affected communities and the impact of heavy rains on road infrastructure, the Logistics Sector also facilitated transport of 3 mt of relief items by boats positioned in Bangula and Chikwawa. In addition, transport of 129 humanitarian passengers to areas cut-off by road was facilitated on WFP-chartered boats. 
	   </p>
	   <p>
		Over the course of the response, the Logistics Sector held nine coordination meetings out of a dedicated coordination cell in Blantyre, providing an information and coordination platform to emergency responders from 31 organisations (including the Department of Disaster Management Affairs, MoTPW, line ministries NGOs and UN agencies). The Logistics Sector also published a total of 55 information management updates via a dedicated webpage. 
	   </p>
	   <p>
		As the situation improved, the Logistics Sector transferred all the core sector functions to the national NDMO and phased out of facilitation of common logistics services. With support from the Global Logistics Cluster, preparedness initiatives were rolled out following the Cyclone Idai emergency operation, aiming to strengthen global-regional-local networks, capacities and collaboration, before, during and after emergencies.
	   </p>
      </div>

    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
