<section id="mozambique" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Natural disaster</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Mozambique</h1>

      <div class="country-numbers">
        <h2 class="serif">March 2019</h2>
        <span class="label"></span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">2.2</span> <small>million</small></span>
        <span class="label">people in need of humanitarian assistance </span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">102</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">127</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">3</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
		  <span class="serif">
			<svg class="highlight-icon red">
				<use xlink:href="sprite.svg#Logistics"></use>
			</svg>
			<span class="title">1,814 </span><span>mt</span>
		</span>
          <span class="label">road, sea, river and air</span>
        </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">3,974</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>


    </div>

    <div class="hidden-md-up">
      <img src="images/mozambique.jpg" alt="Mozambique" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Mozambique</h1>
        <p>
            Following Category 3 Cyclone Idai making landfall in central Mozambique on 14 March, the Logistics Cluster was activated on 20 March to assist the humanitarian community in their efforts to deliver lifesaving items to affected areas. Six weeks later the operation in Mozambique expanded after Category 4 Cyclone Kenneth made landfall in Cabo Delgado Province in the country’s north. Both cyclones caused significant damage to logistics infrastructure across the affected areas including warehouses, roads and bridges, with the number of people affected reaching over 2.2 million. 
		</p>
		<p>
			During the response, the Logistics Cluster provided support to 102 organisations across multiple coordination cells in Maputo, Beira, Chimoio and Pemba, and published a total of 127 information management updates including 36 maps via a dedicated webpage. The Logistics Cluster, through WFP in its role as lead agency and other humanitarian partners, also supported responding organisations through facilitation of access to common services, including storage of 3,974 m<sup>3</sup> of relief items across eight locations, transport of 1,814 mt of humanitarian cargo via road, sea, river and air, and the distribution of 3,238 litres of fuel. Support was also provided in the form of cargo flight reception at both Beira and Pemba airports, with the Logistics Cluster receiving 101 flights totalling 2,143 mt of relief items. 
		</p>
        <q>
            I was in Lebanon, working with the Logistics Cluster as an Information Management Officer for the Syria response, when I was asked to deploy as surge capacity to support the government-led response, so off I went, with very little notice, to my first emergency deployment.
		</q>
		<p class="quote">
            - Agnes Semaan, Information Management Officer, Indonesia
        </p>
		<p>
			As the situation improved and national structures had the capacity to meet humanitarian needs, the Logistics Cluster transferred the core cluster functions to the national NDMO and began to phase out facilitation of common logistics services. In its exit strategy, the Logistics Cluster included a transition phase until formal de-activation of the cluster, which comprised the provision of technical support in logistics preparedness to the NDMO. To strengthen global-regional-local networks, capacities and collaboration, before, during and after emergencies, the Logistics Cluster also rolled out preparedness initiatives following the Cyclone Idai and Cyclone Kenneth operation.
		</p>
       
	  </div>
	  
	  <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$8.7</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$8.7</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div>


        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
