<section id="nigeria" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Nigeria</h1>

      <div class="country-numbers">
        <h2 class="serif">August 2016</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">52</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">95</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">20</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">31,863 </span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
	  </div>
	  
	  <div class="country-numbers">
        <span class="serif">
			<!-- <img src="images/storage.svg" alt="Document icon" class="highlight-icon">  -->
			<svg class="highlight-icon red">
				<use xlink:href="sprite.svg#Report"></use>
			</svg>
			<span class="title">8,060</span>
		</span>
        <span class="label">Humanitarian cargo movement notification forms processed</span>
      </div>

    </div>

    <div class="hidden-md-up">
      <img src="images/nigeria.jpg" alt="Nigeria" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Nigeria</h1>
        <p>
            The Logistics Sector in Nigeria has provided support to the government-led response in the north-east of the country since August 2016. In 2019, 7.1 million people were in need of humanitarian assistance in the worst affected states of Borno, Adamawa, and Yobe (OCHA). Through the provision of coordination, information management, capacity building and the facilitation of common services, the sector supported humanitarian organisations responding to the crisis. 
        </p>
       <p>
		In 2019, the Logistics Sector supported humanitarian organisations through the administration of a cargo movement notification system for insecure routes and served in a liaison role between state security services and humanitarian organisations moving relief materials. Active support was also provided for the Civil-Military Coordination established by OCHA and the office of the Deputy Humanitarian Coordinator. 
	   </p>
	   <p>
		Each month, the sector’s civil-military coordination team processed approximately 670 movement notifications submitted to the Nigerian Armed Forces (NAF), concerning the movement of over 1,850 trucks carrying humanitarian cargo to deep field locations. These notifications were consolidated and sorted into a weekly dispatch plan that was used to organise humanitarian convoys, and any necessary escorts, across the six key supply routes leading out from Maiduguri. 8,060 notifications, indicating the movement of 22,226 trucks to 92 different destinations, were processed on behalf of 33 organisations in 2019. 
	   </p>
	   <q>
		The Logistics Sector loaned us two Mobile Storage Units at no cost. These units have helped us to make our supply chain system more efficient in responding to our program needs.
		</q>
		<p class="quote">
			- Bramwel M. Maina, Deputy Response Coordinator, Operations, FHI 360, Nigeria
		</p>
	   <p>
		While en route to final distribution points, organisations had the option to temporarily store any cargo in sector-managed common storage facilities strategically located in Monguno, Banki, Ngala, Bama, Dikwa and Damasak. These facilities were operated by ACTED, INTERSOS, and Solidarités International. In 2019, 31,863 m<sup>3</sup> of relief goods were received for storage. 
	   </p>
	   <p>
		In 2019, the sector transitioned sector-managed storage services away from Maiduguri where the local market has recovered, in favour of field locations. The sector instead facilitated the loan of 20 Mobile Storage Units (MSUs) to 11 organisations. The Logistics Sector also supported partners to install both these and other MSUs where needed. The size of covered storage space on loan in 2019 exceeded 5,000 m<sup>2</sup>. 
	   </p>
	   <p>
		Given the security risks along main supply routes and the poor road infrastructure, critical humanitarian aid such as medicines and therapeutic food supplements was also regularly airlifted from Maiduguri to remote locations throughout Borno state. Première Urgence Internationale (PUI), in partnership with UNHAS, operated a sector-managed air cargo consolidation service in Maiduguri, collecting cargo destined for air transport and delivering it to the airport for UNHAS airlift. In 2019, 18 organisations arranged delivery of over 67 mt of cargo to UNHAS via this service. 
	   </p>
	   <p>
		The Logistics Sector provides coordination to support responding organisations in creating synergies and avoiding duplication of efforts. A total of 20 coordination meetings were held in 2019, providing a vital forum for humanitarian organisations to discuss common logistics issues. In conjunction with this, information management remained key to keeping organisations working in Nigeria informed and supporting them in their operational planning. 95 information management updates, including maps, were shared via information sharing tools such as the dedicated webpage and mailing list. 
	   </p>
	   <p>
		In 2019, the Logistics Sector increased its efforts to reinforce the capacity of its partners, particularly through trainings targeted at national staff. A total of 270 participants from 48 organisations were trained in 18 trainings across four locations over the course of the year. 
	   </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$3.6</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$2.4</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-60 layout-column layout-center">
            <span class="fund-value">67%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
