<section id="nigeria" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <div class="country-numbers">
        <h2 class="serif">August 2016</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">8.5</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, September 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">56</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">97</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">25</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">32,497</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">60 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title">Nigeria</h1>
        <p>
          The Logistics Sector in Nigeria provides support to the Government-led coordination of the humanitarian logistics response in the North-East of the country by facilitating access to common logistics services and maintaining an open forum for discussing and addressing logistics issues.
        </p>
        <p>
          <strong>The Logistics Sector in Nigeria represents best practice in the inter-agency collaboration, where humanitarian actors not only actively participate in the sector activities, but also take charge of the management of common storage facilities.</strong>
        </p>
        <p>
          The Inter-Agency Logistics Base in Maiduguri has a storage capacity of 2,460 m<sup>2</sup>, which includes a temperature-controlled storage area, a dedicated timber shed a kitting area and air cargo consolidation services in coordination with UNHAS operation. The site is managed by Première Urgence Internationale on behalf of the Logistics Sector.
        </p>
        <p>
          Other common storage sites are 1,280 m<sup>2</sup> in Monguno, managed by Solidarités International (SI), and 280 m<sup>2</sup> in Banki, managed by INTERSOS. Five additional common storage sites were being set-up by the end of the year, namely in Ngala (640 m<sup>2</sup>), to be managed by eHealth Africa, in Damasak and in Dikwa, both to be managed by ACTED, in Bama to be managed by INTERSOS and in Rann (managing organisations to be identified).
        </p>

        <p>
          Along with facilitating common storage, the Logistics Sectors also actively supports the Civil-Military coordination mechanisms established by OCHA. This support includes facilitation of cargo movements and coordination of military escort arrangements where required. Since November 2016, the Logistics Sector has facilitated, on behalf of 25 organisations, 10,889 truck movement requests for relief cargo, 6,176 of which, required a military escort.
        </p>

        <p>
          <strong>The Logistics Sector also works for reinforcing the logistics expertise of the humanitarian workers operating in the northeast.</strong> In 2017, 173 people have been trained in the course of nine trainings covering MSU setup, warehouse management and customs procedures.
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$4</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$4</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
