<section id="nigeria" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Nigeria</h1>

      <div class="country-numbers">
        <h2 class="serif">August 2016</h2>
        <span class="label">Logistics Sector Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">52</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">26,647  </span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
    </div>

    <div class="country-numbers">
      <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">80  </span> <span>mt</span></span>
      <span class="label">Air Transport</span>
  </div>
    
    <div class="country-numbers">
      <span class="serif"><img src="images/training.svg" alt="Training icon" class="highlight-icon"> <span class="title">64  </span> <span>m<sup>3</sup></span></span>
      <span class="label">Humanitarians trained</span>
  </div>
	  

    </div>

    <div class="hidden-md-up">
      <img src="images/nigeria.jpg" alt="Nigeria" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Nigeria</h1>
        <p>
          The Logistics Sector in Nigeria provides support to the Government-led coordination of the humanitarian logistics response in the North-East of the country. Security risks along main supply routes and poor road infrastructure, combined with the scale of the need, have created a significant strain on the logistics capacity of humanitarian responders in the affected states: Adamawa, Borno and Yobe.
        </p>
        <p>
          The Logistics Sector has been supporting the humanitarian community by facilitating access to common logistics services and maintaining regular bilateral and collective engagement in an open forum for discussing and addressing logistics issues as they arise. The Logistics Sector has been also providing guidance and promoting joint inter-agency logistical planning and coordination throughout the year. The Logistics Sector in Nigeria represents best practice in the inter-agency collaboration, where humanitarian actors not only actively participate in the sector activities, but also take charge of the management of common storage facilities. 
        </p>
        <p>
          The Logistics Sector manages six different sites and offers a storage area of 5,160 square meters on a free-to-user basis to humanitarian organisations.  The sites are managed by Salient Humanitarian Organization in Bama (440m2), INTERSOS in Banki (640 m2), ACTED in Dikwa (640 m2) and Damasak (640 m2), Solidarités International in Monguno (1600 m2) and eHealth Africa in Ngala (880m2).  Sector-managed storage facilities received 26,647m³ (8771.172 mt) of humanitarian cargo for 21 organisations. The Logistics Sector consolidated and airlifted 185 m3 (80 mt) of cargo to various field location for 25 partner organization through the Air Cargo Consolidation service offered by the implementing partner Première Urgence Internationale (PUI) in Maiduguri. 
        </p>
        <p>
          Along with facilitating common storage, the Logistics Sectors also actively supports the Civil-Military coordination mechanisms established by OCHA. This support includes facilitation of cargo movements and coordination of military escort arrangements where required. The Logistics Sector processed a total of 7, 283 humanitarian cargo movement notification forms through the Nigerian Armed Forces throughout the year. These represent the proposed movement of 21, 937 trucks carrying humanitarian cargo to 73 locations on behalf of 40 organisations across Borno, Adamawa and Yobe (BAY) states.
        </p>
        <p>
          The Logistics Sector continues to provide MSU loans to augment the storage capacity of partners organizations along with the necessary installation and maintenance support. Currently 21 MSUs are loaned to 10 different partner organisations across Borno state. 
        </p>
        <p>
          Through its mailing list the Logistics Sector communicates to actors involved in the emergency response and serves as a repository of logistics information. The list has 311 subscribers from various UN agencies, NGOs, Government representatives and donors. The Logistics Sector provides support to the Government of Nigeria and the Humanitarian Community with updated information on the operating environment. In 2020, 52 information products were issued, including concept of operation, meeting minutes, operating procedures, standard operating procedures, operational overviews, etc.
        </p>
        <p>
          The Logistics Sector also works for reinforcing the logistics expertise of the humanitarian workers operating in the northeast. Majority of the training programs offered by the sector involves face-to-face interaction and hands-on exercises often at outdoor locations. Logistics Sector’s training plans were greatly affected by the movement restriction imposed throughout the year. During 2020, the Logistics Sector trained 64 humanitarian personnel in the course of two trainings covering cargo movement refresher and orientation on child protection issues. 
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$3.6</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$2.4</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-60 layout-column layout-center">
            <span class="fund-value">67%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
