<section id="nigeria" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Conflict</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">August 2016</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[OCHA, November 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">34</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">11</span></span>
          <span class="label">Coordination meetings</span>
        </div>

      </div>

      <div class="text">
        <h1 class="title">Nigeria</h1>
        <p>
          Conflict in northeast Nigeria has left widespread devastation; 2.1 million people displaced, depleted resources and severe access issues.
        </p>
        <p>
          The Logistics Sector has been supporting the Government-led response by chairing Logistics Coordination meetings in Maiduguri since August 2016 and by consolidating and sharing up-to-date information about the operating environment to inform agencies’ decision making and ensure coordination.
        </p>
        <p>
          The Logistics Sector is also supporting the Civil/Military coordination mechanisms established by OCHA by providing expertise in convoy consolidation and management and by promoting joint planning and streamlining of requests. Furthermore, the team in place in Maiduguri is offering guidance for cross border movements of aid entering from Cameroon.
        </p>
        <p>
          In order to supplement the logistics capacities of the humanitarian organisations operating in northeast Nigeria, the Logistics Sector aims to facilitate access to multi-lateral common storage and cargo consolidation services in Maiduguri and Damaturu, at no cost to the user. Assessments to identify a suitable storage and transhipment facility are ongoing.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$1.6</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$1.6</span> <small>million</small></span>
            <span class="label">received</span>
          </div>

          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
