<section id="numbersOne" class="layout-column layout-center">

  <div class="slide-center">

    <div class="layout-row layout-center">
      <h3 class="boxed">2019 in NUMBERS</h3>
    </div>

    <!-- Operations --> <!-- SRFs and Items -->
    <div class="layout-row layout-row-3">

      <div class="left text-right">
          <span class="title">15 Operations</span>
          <label class="label">
            BANGLADESH, CAMEROON, CENTRAL AFRICAN REPUBLIC, DEMOCRATIC REPUBLIC OF THE CONGO, HAITI, IRAQ, LIBYA, MALAWI, MOZAMBIQUE, NIGERIA, SOUTH SUDAN, SYRIA, VENEZUELA, YEMEN, ZIMBABWE
          </label>

        <span class="title">1,736</span>
        <span class="label">Information updates POSTED ON LOGCLUSTER.ORG</span>
        
        <span class="title">3,540</span>
        <span class="label">Service Request Forms processed</span>

        </div>

      <div class="middle layout-row layout-center-stretch">
        <div class="v-line"></div>

        
      </div>

      <div class="right text-left">

        

        <span class="title">52</span>
        <span class="label">INTER-AGENCY HUMANITARIAN CONVOYS Coordinated BY ROAD AND RIVER</span>

        <span class="label mb-0">facilitated the delivery of</span>
        <span class="title">32,246 MT</span>
        <label class="label">
          of RELIEF SUPPLIES
        </label>

        <span class="label mb-0">facilitated the common storage of</span>
        <span class="title">149,975 m<sup>3</sup></span>
        <span class="label">of HUMANITARIAN CARGO</span>
      </div>
    </div>

    <!-- <span class="title title-orgs">715</span>
    <span class="label label-orgs">partners</span> -->

    <img src="images/2019-organisations.svg" alt="2019 partners bar chart" class="img-fluid chart fade-down">
      


  </div>

</section>
