<section id="numbersOne" class="layout-column layout-center">

  <div class="slide-center">

    <div class="layout-row layout-center">
      <h3 class="boxed">2018 in NUMBERS</h3>
    </div>

    <!-- Operations --> <!-- SRFs and Items -->
    <div class="layout-row layout-row-3">

      <div class="left text-right">
          <span class="title">12 Operations</span>
          <label class="label">
            BANGLADESH, CAMEROON, CENTRAL AFRICAN REPUBLIC, DEMOCRATIC REPUBLIC OF THE CONGO, INDONESIA, IRAQ, LIBYA, NIGERIA, SOMALIA, SOUTH SUDAN, SYRIA, YEMEN
          </label>

        <span class="title">606</span>
        <span class="label">organisations supported</span>

        <img src="images/2018-organisations.svg" alt="Organisations supported pie chart" class="img-fluid chart">
      </div>

      <div class="middle layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">

        <span class="title">1,411</span>
        <span class="label">Information updates across operations pages<br>(including ConOps, Maps, Meeting Minutes)</span>
        
        <span class="title">3,987</span>
        <span class="label">Service Request Forms processed</span>

        <span class="title">69</span>
        <span class="label">INTER-AGENCY HUMANITARIAN CONVOYS Coordinated</span>

        <span class="label mb-0">facilitated the delivery of</span>
        <span class="title">43,134 MT</span>
        <label class="label">
          of RELIEF SUPPLIES
        </label>

        <span class="label mb-0">supported the distribution of</span>
        <span class="title">1.5 MILLION</span>
        <span class="label">LITRES of FUEL </span>
        <!-- <span class="label">relief items on behalf of <strong>170</strong> organisations</span> -->

        <span class="label mb-0">facilitated the common storage of</span>
        <span class="title">353,108 m<sup>3</sup></span>
        <span class="label">of HUMANITARIAN CARGO</span>
      </div>
    </div>


  </div>

</section>
