<section id="numbersTwo" class="layout-column layout-center">
  <div class="slide-center">
    <!-- Website -->

    <div class="layout-row layout-center">
	  <h3 class="boxed">DIGITAL PRESENCE</h3>
	  <p>Awareness comes from information - when and where you need it.</p>
    </div>

    <div class="layout-row layout-row-1 fix-grid">
      <div class="left">
        <img src="images/2018-webpage-views.svg" alt="Webpage yearly views" class="img-fluid">
      </div>

      <div class="v-line"></div>

      <div class="right layout-column layout-center">
        <i class="fa fa-desktop icon icon-large" aria-hidden="true"></i>
        <span class="title">Page views</span>
      </div>
    </div>

    <!-- Social Media -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Social Media</h3>
    </div>

    <div class="layout-row layout-row-1 fix-grid">

      <div class="left text-right">
        <!-- facebook -->

        <div class="icon-social">
          <i class="fa fa-facebook-official icon icon-facebook" aria-hidden="true"></i>
          <h3 class="tooltip">Facebook</h3>
        </div>

        <span class="title">2,158</span>
        <span class="label">new followers</span>

                 <!-- twitter -->

                 <div class="icon-social">
                    <i class="fa fa-twitter icon icon-twitter" aria-hidden="true"></i>
                    <h3 class="tooltip">Twitter</h3>
                  </div>

                  <span class="title">1,321</span>
                  <span class="label">new followers</span>

              <!-- linkedin -->

          <div class="icon-social">
              <i class="fa fa-linkedin icon icon-linkedin" aria-hidden="true"></i>
              <h3 class="tooltip">Linkedin</h3>
            </div>
  
            <span class="title">2,120</span>
            <span class="label">new followers <br />(quadrupled in 16 months activity) </span>
  



      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>


      <div class="right text-left layout-column layout-center-start">
      
        
          <span class="title">over 2.5 million</span>
          <span class="label">Impressions </span>

          <span class="title">57,200</span>
          <span class="label">Reactions</span>

      </div>

      

    </div>

  </div>

  <!-- instagram -->

  <div class="icon-social">
      <i class="fa fa-instagram icon icon-instagram" aria-hidden="true"></i>
      <h3 class="tooltip tooltip-left">Instagram</h3>
    </div>

    <span class="title">543</span>
    <span class="label">followers (doubled in 20 months)</span>

</section>
