<section id="numbersThree" class="layout-column layout-center">

  <div class="slide-center">

    <div class="layout-row layout-center">
      <h3 class="boxed">Deployments</h3>
    </div>

    <!-- Staff -->
    <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>
      
    <div class="layout-row layout-row-1">

      <div>
        <span class="title">26</span>
        <span class="label">GLC staff deployed</span>

        <span class="title">1,689</span>
        <span class="label">days</span>
    
        <span class="title">13</span>
        <span class="label">countries</span>

      </div>
    </div>

    <!-- Global meeting -->
    <div class="layout-row layout-center">
      <h3 class="boxed">Global Meetings</h3>
    </div>

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <h1 class="title red">Washington DC </h1>
        <span class="label">May</span>
        <span class="title">50</span>
        <span class="label">attendees</span>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <h1 class="title red">Rome </h1>
        <span class="label">November</span>
        <span class="title">62</span>
        <span class="label">attendees</span>
      </div>
    </div>

    <div class="layout-row layout-row-1">
      <div class="">
        <span class="title">79</span>
        <span class="label">organisations represented</span>
      </div>
    </div>

    <!-- Trainings -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Training</h3>
    </div>

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <span class="title">101</span>
        <span class="label">Training courses</span>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <span class="title">1,943</span>
        <span class="label">people trained</span>
      </div>
    </div>

    <div class="layout-row layout-row-1">
      <div class="">

        <span class="title">520</span>
        <span class="label">organisations trained</span>

        <span class="title">13 trainings</span>
        <span class="label">at global level</span>

        <span class="title">88 trainings</span>
        <span class="label">at field level</span>
      </div>
    </div>

    <div class="layout-row layout-center-stretch">
      <div class="v-line"></div>
    </div>

    <!-- Preparedness -->

    <div class="layout-row layout-center">
        <h3 class="boxed">Preparedness</h3>
      </div>
  
      <div class="layout-row layout-center-stretch">
          <div class="v-line"></div>
        </div>
    <div class="layout-row layout-row-1">
        <div class="">
  
          <span class="title">3 ACTIVE COUNTRIES</span>
          <span class="label">Madagascar, Bangladesh and Indonesia </span>
  
          <span class="title">1 active region </span>
          <span class="label">Pacific</span>
  
          <span class="title">20</span>
          <span class="label">workshops </span>

          <span class="title">548</span>
          <span class="label">participants </span>

          <span class="title">265</span>
          <span class="label">organisations </span>
        </div>
      </div>

      <div class="layout-row layout-center-stretch">
          <div class="v-line"></div>
        </div>

    <!-- Lessons Learned -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Lessons Learned</h3>
    </div>

    <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

    <div class="layout-row layout-row-1">
      <div class="">
        <span class="title">1 Exercise</span>
        <span class="label">
          <a href="#" target="_blank">Haiti</a>
        </span>
      </div>
    </div>

  </div>

</section>
