<section id="numbersTwo" class="layout-column layout-center">
  <div class="slide-center">
    <!-- Website -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Website</h3>
    </div>

    <div class="layout-row layout-row-1">
      <div class="left">
        <img src="images/2017-webpage-views.svg" alt="Webpage yearly views" class="img-fluid">
      </div>

      <div class="v-line"></div>

      <div class="right layout-column layout-center">
        <i class="fa fa-desktop icon icon-large" aria-hidden="true"></i>
        <span class="title">LC webpage views</span>
      </div>
    </div>

    <!-- Social Media -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Social Media</h3>
    </div>

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <!-- facebook -->

        <i class="fa fa-facebook-official icon icon-facebook" aria-hidden="true"></i>

        <span class="title">1,478</span>
        <span class="label">new followers</span>

        <span class="title">52,713</span>
        <span class="label">Average impressions per month</span>

        <span class="title">3,678</span>
        <span class="label">Average impressions per post</span>

        <!-- linkedin -->

        <i class="fa fa-linkedin icon icon-linkedin" aria-hidden="true"></i>

        <span class="label">first post in August 2017</span>

        <span class="title">574</span>
        <span class="label">Followers </span>

        <span class="title">10,395</span>
        <span class="label">Average reach per month reach</span>

        <span class="title">22,244</span>
        <span class="label">Average impressions per month</span>

      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>


      <div class="right text-left">
        <!-- twitter -->

        <i class="fa fa-twitter icon icon-twitter" aria-hidden="true"></i>

        <span class="title">1,204</span>
        <span class="label">new followers (485 in 2016)</span>

        <span class="title">40,040</span>
        <span class="label">Average impressions per month</span>

        <span class="title">1,961</span>
        <span class="label">Average impressions per tweet</span>

        <!-- instagram -->

        <i class="fa fa-instagram icon icon-instagram" aria-hidden="true"></i>
        <span class="label">first post was in April 2017</span>

        <span class="title">259</span>
        <span class="label">followers</span>

        <span class="title">48 likes</span>
        <span class="label">Most liked photo</span>

      </div>

    </div>

  </div>
</section>
