<section id="numbersThree" class="layout-column layout-center">

  <div class="slide-center">

    <div class="layout-row layout-center">
      <h3 class="boxed">Deployments</h3>
    </div>

    <!-- Staff -->

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <span class="title">18</span>
        <span class="label">GLC staff deployed to 10 operations</span>

        <span class="title">2,013</span>
        <span class="label">days</span>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <span class="title">26</span>
        <span class="label">staff members from partnering <br> organisations seconded to 10 operations</span>

        <span class="title">2,587</span>
        <span class="label">days</span>
      </div>
    </div>

    <!-- Global meeting -->
    <div class="layout-row layout-center">
      <h3 class="boxed">Global Meetings</h3>
    </div>

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <h1 class="title red">London</h1>
        <span class="label">July</span>
        <span class="title">66</span>
        <span class="label">attendees</span>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <h1 class="title red">Brussels</h1>
        <span class="label">November</span>
        <span class="title">53</span>
        <span class="label">attendees</span>
      </div>
    </div>

    <div class="layout-row layout-row-1">
      <div class="">
        <span class="title">42</span>
        <span class="label">organisations represented</span>
      </div>
    </div>

    <!-- Trainings -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Trainings</h3>
    </div>

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <span class="title">15</span>
        <span class="label">Trainings facilitated</span>
        <small class="label"><i>2 LRT, 2 Access Training,<br> 10 Logistics Cluster Induction Training, <br>1 Logistics Cluster Coordinators Workshop</i></small>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <span class="title">400</span>
        <span class="label">trained</span>
      </div>
    </div>

    <div class="layout-row layout-row-1">
      <div class="">
        <span class="label">Participation in </span>
        <span class="title">8 trainings</span>
        <span class="label">2 FASTER, 2 EUCPM, 1 CBT Workshop 1 EDREX, 1 OPEX, 1 TRIPEX </span>
      </div>
    </div>

    <div class="layout-row layout-center-stretch">
      <div class="v-line"></div>
    </div>

    <!-- Lessons Learned -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Lessons Learned</h3>
    </div>

    <div class="layout-row layout-row-1">
      <div class="">
        <span class="title">3 Exercises</span>
        <span class="label">DRC, Iraq, Syria</span>
      </div>
    </div>

  </div>

</section>
