<section id="car" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <!-- Staff -->

    <div class="layout-row">

      <div class="highlight text-left">
        <span class="number red">18</span>
        <span class="label">GLC staff deployed 10 operations 2,013 days</span>
        <!-- insert piechart -->
      </div>

      <div class="text">
        <span class="number red">26</span>
        <span class="label">staff members from partnering organisations seconded to emergencies 2,587 days</span>
      </div>
    </div>

    <!-- Global meeting -->
    <div class="layout-row layout-center">
      <h3 class="boxed">Global Meetings</h3>
    </div>

    <div class="layout-row layout-center">

      <div class="left">
        <span class="number">66</span>
        <span class="label label-red">attendees</span>
      </div>

      <div class="middle">
        <h1>London</h1>
      </div>

      <div class="right">
        <span class="number">42</span>
        <span class="label label-red">organisations</span>
      </div>
    </div>

    <div class="layout-row">

      <div class="left">
        <span class="number">53</span>
        <span class="label label-red">attendees</span>
      </div>

      <div class="middle">
        <h1>Brussels</h1>
      </div>

      <div class="right">
        <span class="number">42</span>
        <span class="label label-red">organisations</span>
      </div>
    </div>

    <!-- Trainings -->

    <!-- Global meeting -->
    <div class="layout-row layout-center">
      <h3 class="boxed">Trainings</h3>
    </div>

    <div class="layout-row">

      <div class="left">
        <span class="number red">15</span>
        <span class="label">Trainings facilitated </span>
      </div>

      <div class="right">
        <span class="number red">400</span>
        <span class="label">trained</span>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
