<section id="numbersThree" class="layout-column layout-center">

  <div class="slide-center">

	<!-- Global meeting -->
    <div class="layout-row layout-center">
		<h3 class="boxed">Global Meetings</h3>
	  </div>

	  <p class="serif red">Together for the best response</p>
  
	  <div class="layout-row layout-row-1">
  
		<div class="left text-right">
		  <h1 class="title red">Dubai </h1>
		  <span class="label">9-11 April</span>
		  <span class="title">41</span>
		  <span class="label">attendees</span>
		  <span class="title">31</span>
		  <span class="label">stakeholders</span>
		</div>
  
		<div class="layout-row layout-center-stretch">
		  <div class="v-line"></div>
		</div>
  
		<div class="right text-left">
		  <h1 class="title red">Dublin </h1>
		  <span class="label">24-26 September</span>
		  <span class="title">61</span>
		  <span class="label">attendees</span>
		  <span class="title">42</span>
		  <span class="label">stakeholders</span>
		</div>
	  </div>
  
	  <div class="layout-row layout-row-1">
		<div class="">
		  <span class="title">52</span>
		  <span class="label">organisations represented</span>
		</div>
	  </div>

	   <!-- Trainings -->

	   <div class="layout-row layout-center">
		<h3 class="boxed">Training</h3>
	  </div>
	  <p class="serif red">Building a common approach – train together, respond together</p>
  
	  <div class="layout-row layout-row-1">
  
		<div class="left text-right">
		  <span class="title">296</span>
		  <span class="label">organisations trained</span>
		</div>
  
		<div class="layout-row layout-center-stretch">
		  <div class="v-line"></div>
		</div>
  
		<div class="right text-left">
		  <span class="title">2,245</span>
		  <span class="label">people trained</span>
		</div>
	  </div>
  
	  <div class="layout-row layout-row-1">
		<div class="">
  
		  <span class="title">113</span>
		  <span class="label">Training courses</span>
  
		  <span class="title">15 trainings</span>
		  <span class="label">at global level</span>
  
		  <span class="title">98 trainings</span>
		  <span class="label">at field level</span>
		</div>
	  </div>
  
	  <div class="layout-row layout-center-stretch">
		<div class="v-line"></div>
	  </div>

    <!-- Preparedness -->

    <div class="layout-row layout-center">
        <h3 class="boxed">Preparedness</h3>
	  </div>
	  <p class="serif red">Thinking ahead saves time, lives and money. </p>
  
      <div class="layout-row layout-center-stretch">
          <div class="v-line"></div>
        </div>
    <div class="layout-row layout-row-1">
        <div class="">
  
          <span class="title">9 ACTIVE COUNTRIES</span>
          <span class="label">Bangladesh,Lao PDR, Madagascar, Malawi, Mozambique, Iraq, Philippines, Haiti, South Sudan</span>
  
          <span class="title">1 active region </span>
          <span class="label">Pacific (12 countries)</span>
  
          <span class="title">21</span>
          <span class="label">workshops & trainings</span>

          <span class="title">728</span>
          <span class="label">participants </span>

          <span class="title">312</span>
          <span class="label">stakeholders engaged</span>

          <span class="title">19</span>
          <span class="label">locations</span>
        </div>
	  </div>
	  
	  <div class="layout-row layout-center-stretch">
		<div class="v-line"></div>
	  </div>

    <div class="layout-row layout-center">
      <h3 class="boxed">Deployments</h3>
	</div>
	
	<p class="serif red">Response capacity when it’s needed the most</p>

    <!-- Deployments -->

    <div class="layout-row layout-row-1">

      <div>
        <span class="title">20</span>
		<span class="label">GLC staff deployed</span>
		
		<span class="title">33</span>
        <span class="label">deployments</span>

        <span class="title">806</span>
        <span class="label">days</span>
    
        <span class="title">20</span>
        <span class="label">countries</span>

      </div>
    </div>

  </div>

</section>
