<section id="numbersThree" class="layout-column layout-center">

  <div class="slide-center">

    <div class="layout-row layout-center">
      <h3 class="boxed">GLC staff </h3>
    </div>

    <!-- Staff -->

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <span class="title">18</span>
        <span class="label">deployed 10 operations</span>

        <span class="title">2,013</span>
        <span class="label">days</span>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <span class="title">26</span>
        <span class="label">staff members from partnering <br> organisations seconded to</span>

        <span class="title">2,587</span>
        <span class="label">emergencies days</span>
      </div>
    </div>

    <!-- Global meeting -->
    <div class="layout-row layout-center">
      <h3 class="boxed">Global Meetings</h3>
    </div>

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <h1 class="title red">London</h1>
        <span class="title">66</span>
        <span class="label">attendees</span>

        <span class="title">42</span>
        <span class="label">organisations</span>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <h1 class="title red">Brussels</h1>
        <span class="title">53</span>
        <span class="label">organisations</span>

        <span class="title">42</span>
        <span class="label">organisations</span>
      </div>
    </div>

    <!-- Trainings -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Trainings</h3>
    </div>

    <div class="layout-row layout-row-1">

      <div class="left text-right">
        <span class="title">15</span>
        <span class="label">Trainings facilitated</span>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <span class="title">400</span>
        <span class="label">trained</span>
      </div>
    </div>

  </div>

</section>
