<section id="numbersTwo" class="layout-column layout-center">
  <div class="slide-center">
    <!-- Website -->

    <div class="layout-row layout-center">
	  <h3 class="boxed">DIGITAL PRESENCE</h3>
	</div>
	
	<p class="serif red">Awareness comes from information - when and where you need it</p>

    <div class="layout-row layout-row-1 fix-grid">
      <div class="left layout-column layout-center">
		<svg class="icon-large red">
			<use xlink:href="sprite.svg#Laptop"></use>
		</svg>
		<span class="title">529,295</span>
		<span class="label">Page views
		<br /> <strong class="red">37%</strong> of which were operational documents</span>
		
		<svg class="icon-large red">
			<use xlink:href="sprite.svg#See"></use>
		</svg>
		<span class="title">over 2.5 million</span>
		<span class="label">SOCIAL MEDIA REACH </span>
      </div>

      <div class="v-line"></div>

      <div class="right layout-column layout-center">
		<svg class="icon-large red">
			<use xlink:href="sprite.svg#Assessment"></use>
		</svg>
		<span class="title">766,730</span>
		<span class="label">LCA webpage views </span>
		
		<svg class="icon-large red">
			<use xlink:href="sprite.svg#Favourite"></use>
		</svg>
		<span class="title">57,200</span>
          <span class="label">Reactions</span>
      </div>
    </div>

  </div>

</section>
