<section id="numbersOne" class="layout-column layout-center">

  <div class="slide-center">

    <div class="layout-row layout-center">
      <h3 class="boxed">2017 in NUMBERS</h3>
    </div>

    <!-- Operations --> <!-- SRFs and Items -->
    <div class="layout-row layout-row-3">

      <div class="left text-right">
        <span class="title">512</span>
        <span class="label">organisations supported</span>

        <span class="title">1,752</span>
        <span class="label">Service Request Forms processed</span>

        <img src="images/2017-organisations.svg" alt="Organisations supported pie chart" class="img-fluid chart">
      </div>

      <div class="middle layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <div class="right text-left">
        <span class="title">13 Operations</span>
        <label class="label">
          Bangladesh, Central African Republic, Democratic Republic of the Congo, Ethiopia, Hurricane Matthew, Madagascar, Iraq, Nigeria, Somalia, South Sudan, Syria, Ukraine, Yemen
        </label>

        <span class="title">94</span>
        <span class="label">INTER-AGENCY HUMANITARIAN CONVOYS Coordinated</span>

        <span class="label mb-0">facilitated the delivery of</span>
        <span class="title">68,315 MT</span>
        <label class="label">
          of RELIEF SUPPLIES
        </label>

        <span class="label mb-0">supported the distribution of</span>
        <span class="title">1.3 MILLION</span>
        <span class="label">LITRES of FUEL </span>
        <!-- <span class="label">relief items on behalf of <strong>170</strong> organisations</span> -->

        <span class="label mb-0">facilitated the common storage of</span>
        <span class="title">286,100 m3</span>
        <span class="label">of HUMANITARIAN CARGO</span>
      </div>
    </div>



    <!-- IM products -->
    <div class="layout-column layout-center">
      <span class="boxed">
        Information updates across operations pages<br>(including ConOps, Maps, Meeting Minutes)
      </span>

      <div class="v-line"></div>
    </div>

    <div class="layout-row layout-center">
      <img src="images/2017-imUpdates.svg" alt="IM Updates chart" class="bar-chart-h img-fluid">
    </div>

  </div>

</section>
