<section id="numbersOne" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">
    <h3 class="boxed">2016 in NUMBERS</h3>

    <!-- Operations -->
    <div class="layout-row">

      <div class="highlight text-left">
        <span class="number red">45</span>
        <span class="label">organisations supported</span>
        <!-- insert piechart -->
      </div>

      <div class="text">
        <span class="number red">12 Operations</span>
        <p>
          Central African Republic, Democratic Republic of Congo, Ethiopia, Fiji, Haiti, Iraq, Nigeria, Somalia, South Sudan, Syria, Ukraine, Yemen.
        </p>
      </div>
    </div>

    <!-- SRFs and Items -->
    <div class="layout-row layout-center">

      <div class="left">
        <!-- insert icon -->
        <span class="number">1,433</span>
        <span class="label label-red">Service Requests Forms </span>
      </div>

      <div class="right">
        <!-- insert icon -->
        <span class="number">87,239 mt</span>
        <span class="label label-red">relief items on behalf of <strong>170</strong> organisations</span>
      </div>
    </div>

    <!-- IM products -->

    <!-- Social Media -->
  </div>

  <div class="overlay overlay-blue"></div>
</section>
