<section id="numbersTwo" class="layout-column layout-center">
  <div class="slide-center">
    <!-- Website -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Website</h3>
    </div>

    <div class="layout-row layout-row-1">
      <div class="left">
        <img src="images/webpage-views.svg" alt="Webpage yearly views" class="img-fluid">
      </div>

      <div class="v-line"></div>

      <div class="right layout-column layout-center">
        <i class="fa fa-desktop icon icon-large" aria-hidden="true"></i>
        <span class="title">LC webpage views</span>
      </div>
    </div>

    <!-- Social Media -->

    <div class="layout-row layout-center">
      <h3 class="boxed">Social Media</h3>
    </div>

    <div class="layout-row layout-row-1">

      <!-- facebook -->
      <div class="left text-right">

        <i class="fa fa-facebook-official icon icon-facebook" aria-hidden="true"></i>

        <span class="title">1,102</span>
        <span class="label">New page likes</span>

        <span class="title">3,521</span>
        <span class="label">Average reach per post</span>

        <span class="title">22,297</span>
        <span class="label">Average reach per month </span>
      </div>

      <div class="layout-row layout-center-stretch">
        <div class="v-line"></div>
      </div>

      <!-- twitter -->
      <div class="right text-left">
        <i class="fa fa-twitter icon icon-twitter" aria-hidden="true"></i>

        <span class="title">485</span>
        <span class="label">New followers </span>

        <span class="title">3,509</span>
        <span class="label">Average reach per post</span>

        <span class="title">31,875</span>
        <span class="label">Average reach per month </span>
      </div>

    </div>

  </div>
</section>
