<section id="outcome" class="layout-column layout-center">

  <div class="centered">
    <div>
      <h1 class="title">Key outcomes</h1>
      <p class="serif">
        <strong>In June 2016, six disaster-prone countries were identified as supply chain preparedness pilot projects – Haiti, Bangladesh, Madagascar, Indonesia, Myanmar and Nigeria. Four of the chosen countries have since been affected by large-scale emergencies. </strong>
      </p>
    </div>

    <div class="outcome hidden-md-up">
      <h2>Preparedness Platform </h2>
      <p>
        The Preparedness Platform was key to enabling the exercise. Thanks to this mapping tool, it was possible to analyse and visualise information on the logistics network, identify corridors, as well as potential bottlenecks and to graphically articulate the response.
      </p>
      <p>
        Logistics Concept of Operations were developed on the basis of local knowledge and logistics datasets contained in the Platform, including potential supply chain points of entry, logistics routes and prepositioning locations, as well as risk mitigation actions.
      </p>
    </div>

    <div class="outcome-grid">
      <div class="">
        <h2>Haiti</h2>
        <p>
          The initial phases of the pilot project in <strong>Haiti</strong> have shown positive results leading up to the potential impact of Hurricanes Irma and Maria. The Haitian government authorities, in cooperation with local government, civil society and commercial stakeholders, have endorsed the approach and support to the Platform.
        </p>
      </div>

      <div class="outcome hidden-md-down">
        <h2>Preparedness Platform </h2>
        <p>
          The <strong>Preparedness Platform</strong> was key to enabling the exercise in Madagascar. Thanks to this mapping tool, it was possible to analyse and visualise information on the logistics network, identify corridors, as well as potential bottlenecks and to graphically articulate the response.
        </p>
        <p>
          Logistics Concept of Operations were developed on the basis of local knowledge and logistics datasets contained in the Platform, including potential supply chain points of entry, logistics routes and prepositioning locations, as well as risk mitigation actions.
        </p>
      </div>

      <div class="outcome-row">
        <h2>Madagascar</h2>
        <p>
          The key concepts of a multi-sectoral approach and the use of the Preparedness Platform were tested in <strong>Madagascar</strong> where a Logistics Preparedness Response Planning Exercise brought together twenty-seven participants from ten organisations, including the Government of Madagascar, Malagasy Red Cross, Private Sector Humanitarian Platform Madagascar, Institut Pasteur and ECHO.
        </p>
        <p>
          The three-day response planning exercise included three different emergency scenarios: two cyclones and one plague outbreak. National capacities and the potential scale and impact of the disasters were assessed, outlining supply chain capability required, potential gaps and the appropriate response actions.
        </p>
      </div>
    </div>

  </div>

</section>
