<section id="outcome" class="layout-column layout-center">

  <div class="slide-center centered">
    <div class="text-left">
      <h1 class="title">Key outcomes</h1>
      <p class="serif">
        Logistics Cluster preparedness focuses on six priority countries, chosen in consultation with Logistics Cluster partners. Partner organisations were requested to identify disaster-prone and at-risk countries that most urgently required support in augmenting national logistics response capacities, based on various risk indices and national-level logistics performance and capacity indicators. From an initial list of 30 countries, six were chosen that now form for the focus of Logistics Cluster preparedness activities.
      </p>
    </div>

    <div class="outcome text-right">
      <h2 cla>Madagascar</h2>
      <p>
        the Logistics Sector Working Group, led by WFP, has been connecting country level staff to local private sector networks, as a means of promoting joint preparedness planning between humanitarian and private sectors under the government lead. A working group has also been formed with other humanitarian actors within the country Logistics sector focusing on implementing Minimum Preparedness Actions, with the Global Cluster providing support to the in-country staff.
      </p>
    </div>

    <div class="outcome text-left">
      <h2>Indonesia</h2>
      <p>WFP is supporting the government to establish a network of six humanitarian logistics facilities, the development of a warehouse management system and an e-learning platform for the training of national partners. Particular focus is given to early warning and information readiness through national partnership building. </p>
    </div>

    <div class="outcome text-right">
      <h2>Myanmar</h2>
      <p>
        the Logistics Sector Working Group is supporting the government in developing a response plan for different scenarios. WFP has also helped the government to establish logistics components of a National Incident Command System.
      </p>
    </div>

    <div class="outcome text-left">
      <h2>Bangladesh</h2>
      <p>
        the Logistics Sector Working Group is supporting the government in defining a contingency plan together with 16 partners and is fostering the involvement of the private sector. The cluster is also promoting the establishment of a humanitarian staging area including strengthening the development of IM tools and data preparedness and developing logistics and supply chain trainings with the government
      </p>
    </div>

    <div class="outcome text-right">
      <h2>Haiti</h2>
      <p>
        the Logistics Sector Working Group is currently responding to the Hurricane Matthew emergency. In early 2017, dedicated Sector preparedness staff will be deployed along with LET staff on mission, as the response transitions into a recovery and preparedness phase. Preparedness staff will support government actors and local private sector initiatives to map supply capacities and gaps, identifying local actors to address those gaps. Simulation and scenario planning exercises will also be conducted.
      </p>
    </div>

    <div class="outcome text-left">
      <h2>Nigeria</h2>
      <p>Since the Logistics Sector Working Group is currently involved in responding to the ongoing emergency, Sector preparedness activities are currently limited. A Logistics Capacity Assessment is ongoing for Borno state.</p>
    </div>

    <div class="outcome text-right">
      <h2>Pacific</h2>
      <p>
        the Pacific Preparedness Logistics Cluster, under the lead of WFP, is strengthening the Emergency Preparedness Response capacity of the Pacific region and national humanitarian actors. Within this framework, and separately from the six preparedness focus countries, the Logistics Cluster is working on regional shipping and supply chain assessments, mapping and standardisation of relief stocks, private sector engagement, Unsolicited Bilateral Donations management systems, training and simulation exercises and equipment prepositioning.
      </p>
    </div>

  </div>

</section>
