<section id="nigeria" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Pacific</h1>

      <div class="country-numbers">
        <h2 class="serif">August 2016</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">782  </span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
    </div>

    <div class="country-numbers">
      <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">125  </span> <span>mt</span></span>
      <span class="label">Air Transport</span>
  </div>
    
    <div class="country-numbers">
      <span class="serif"><img src="images/training.svg" alt="Training icon" class="highlight-icon"> <span class="title">18  </span> <span>m<sup>3</sup></span></span>
      <span class="label">Passengers</span>
  </div>
	  

    </div>

    <div class="hidden-md-up">
      <img src="images/pacific.jpg" alt="Pacific" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Pacific</h1>
        <p>
            Ordinarily, the region is highly dependent on sea and air transport due to its geography. The Pacific island countries and territories (PICTs) are also vulnerable to tropical cyclones as well as other natural hazards such as volcanic and seismic activity. The COVID-19 pandemic negatively impacted the region through entry point restrictions imposed by each government to keep the virus out or to slow its spread.
        </p>
        <p>
            During the year, a number of major tropical cyclones (Tino, Harold, Yasa and Zazu) affected several PICTs. Supporting the governments of affected PICTs in their response operations became more complicated because COVID-19 restrictions prevented physical deployment of personnel. Preparedness activities were similarly hampered by the restrictions.
        </p>
        <p>
            The Pacific Logistics Cluster (PLC) provided regional partners with Coordination and Information Management services linking partners’ logistics needs with available logistics services as well as promoting sharing of information on the general regional situation. The cluster also facilitated access to common logistics services to help fill gaps in commercial services such as transit warehousing in the Nadi hub, air cargo and passenger services through the WFP Pacific Air Service.  More than 220 MT (125MT freight and 95 storage) or 1,750 m3 (968 m3 freight and 782 m3 storage) of cargo and 18 passengers were facilitated on these services. 
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$3.6</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$2.4</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-60 layout-column layout-center">
            <span class="fund-value">67%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
