<section id="partnerships" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Partnerships</h3>

    <div class="layout-row">
      <div class="highlight text-left">
        <p class="serif">In 2016 the LET supported the disaster response operation in Haiti with:</p>

        <div class="country-numbers">
          <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">155 </span><span>mt</span></span>
          <span class="label">Air freight</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">2,000</span> <span>m<sup>2</sup></span></span>
          <span class="label">Storage space</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="truck icon" class="highlight-icon"> <span class="title">640 </span><span>mt</span></span>
          <span class="label">Shipping capacity</span>
        </div>

      </div>

      <div class="text">
        <p>The Logistics Emergency Team (LET) is composed of some of the largest global logistics and transportation companies: Agility, Maersk and UPS. They work together to support the Logistics Cluster in providing support to the humanitarian community during emergency response.</p>
        <p>
          The core principle of the LET partnership is to combine local knowledge and resources of the commercial logistics industry to provide more effective and efficient disaster relief. The LET companies provide pro-bono assets and services and deploy highly trained logistics experts to join the Logistics Cluster's staff for the disaster response operations. The LET has supported the humanitarian community with logistics capacity and expertise during 12 emergency responses.
        </p>
        <p>
          The LET also assists in improving response preparedness by collecting information for Logistics Capacity Assessments (LCAs) and country-specific preparedness measures. The LET has so far supported 7 preparedness projects.
        </p>
        <p>
          In 2015 LET companies have been working with the Logistics Cluster to provide assistance in preparedness projects including mapping of ocean freight routes, air freight hubs, support with collection of data for LCAs and bilateral engagement with Logistics Cluster partners for Pandemic Preparedness.
        </p>
      </div>
    </div>


  </div>

</section>
