<section id="partnerships" class="layout-column layout-center blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Partnerships</h3>
    </div>

    <div class="highlight text-left">

      <div class="country-numbers">
        <span class="serif"><img src="images/container.svg" alt="Plane icon" class="highlight-icon"> <span class="title">40’ refer </span></span>
        <span class="label">on Vos Apollo</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/container.svg" alt="House icon" class="highlight-icon"> <span class="title">40’ refer</span></span>
        <span class="label">Cox’s Bazar Logistics Hub</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/training.svg" alt="truck icon" class="highlight-icon"> <span class="title">OpEx Bravo</span></span>
        <h2 class="text-center">Stuttgart</h2>
        <span class="label">Trainings</span>
      </div>

    </div>

    <div class="operation-right">
      <div class="text">
        <p>
          Set in motion by the World Economic Forum in 2005, the <strong>Logistics Emergency Teams (LET)</strong> is a partnership between the World Food Programme (WFP) and some of the largest global logistics and transportation companies, developed to improve the humanitarian response to emergencies.

        </p>
        <p>
          LET member companies deploy teams of logistics experts and provide assets and equipment to support the operational capacity on the ground. The LET has also conducted Logistics Capacity Assessments (LCAs) of high-risk areas, providing valuable information to the humanitarian community.


        </p>
        <p>
          In 2017, the original members, <strong>Agility, A.P. Moeller Maersk, and UPS welcomed DP World</strong>, into the LET, enlarging the network of the partnership and strengthening its capacity.

        </p>
        <p>
          n 2017 there was no formal LET activation, but the Global Logistics Cluster reached out to individual members to support specific requirements in response operations in Yemen and in Bangladesh.


        </p>
        <p>
          In <strong>Yemen</strong>, in September, following the cholera outbreak and the consequent need to ensure vital medications were preserved, <strong>Agility donated a refrigerated container to store and transport anti-cholera medicines from Djibouti to Yemen aboard a WFP chartered vessel.</strong>


        </p>
        <p>
          In <strong>Bangladesh</strong>, where the influx of Rohingya refugees from Myanmar created health concerns for the people hosted in the camps, the humanitarian community carried out an emergency anti-cholera vaccination campaign. <strong>Agility donated a 40-foot refrigerated container</strong>, which was placed at the Logistics Hub in Cox’s Bazar, to provide storage space for responding organisations.

        </p>
        <p>
          In October, <strong>DP World supported the OpEx Bravo Exercise</strong>. The training hosted by the German Federal Agency for Technical Relief, the German Foreign Office and the Government of Luxembourg, was delivered by the Logistics Cluster and the Emergency Telecommunications Cluster. Trainees from 37 humanitarian organisations had access to DP World’s experts at the company’s Stuttgart operations, receiving first-hand experience of port operations and efficiency methods applied in emergency relief situations. 
        </p>
      </div>
    </div>

  </div>

  <div class="overlay"></div>

</section>
