<section id="partnerships" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Partnerships</h3>

    <div class="layout-row">
      <div class="highlight text-left">
        <p class="serif">In 2016 the LET supported the disaster response operation in Haiti with:</p>

        <div class="country-numbers">
          <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">155 </span><span>mt</span></span>
          <span class="label">Air freight</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">2,000</span> <span>m<sup>2</sup></span></span>
          <span class="label">Storage space</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="truck icon" class="highlight-icon"> <span class="title">640 </span><span>mt</span></span>
          <span class="label">Shipping capacity</span>
        </div>

      </div>

      <div class="text">
        <p>This assistance included custom clearance support. </p>
        <p>
          In addition a number of assets, such as trucks, forklifts and containers where either donated or loaned to support logistics operations.
        </p>
        <p>
          The LET also assists in improving response preparedness by collecting information for Logistics Capacity Assessments (LCAs) and country-specific preparedness measures. The LET has so far supported 7 preparedness projects.
        </p>
        <p>
          In 2015 LET companies have been working with the Logistics Cluster to provide assistance in preparedness projects including mapping of ocean freight routes, air freight hubs, support with collection of data for LCAs and bilateral engagement with Logistics Cluster partners for Pandemic Preparedness.
        </p>
      </div>
    </div>

  </div>

  <div class="overlay"></div>

</section>
