<section id="preparedness" class="layout-column layout-center blend">

  <div class="content">
      <div class="text-left text">
          <h1 class="title">Preparedness</h1>
          <p>
			Local responders and field-based initiatives are at the centre of the Logistics Cluster Preparedness Project. The project’s primary aim is to support local governments, national and international NGOs, UN agencies, development partners and the private sector to have a coordinated approach towards improved local supply chain resilience, and to ensure actors are ready for a joint humanitarian logistics response.
		  </p>
		  <p>
			Throughout 2019, preparedness activities were focused on 9 countries. Initiatives were also undertaken across the Pacific region under the lead of WFP, through the Pacific Humanitarian Team (PHT) cluster system. Below, read through some of the project’s 2019 highlights from the field.
		  </p>
		  <q class="border-white">
			Building capacity on the ground has enormous potential, and should be at the centre of any preparedness activities
		  </q>
		  <p>
			Sean Rafter, Managing Director, HELP Logistics
		  </p>
		  <p>
			In <strong>Bangladesh</strong>, a major milestone was completed in August when a three-day, simulation-based emergency logistics gaps analysis workshop was held. The in-country Preparedness Officer worked closely with the Ministry for Disaster Management and Relief, WFP and the Global Logistics Cluster (GLC) to bring together 90+ stakeholders for a Gaps Analysis Workshop. The event explored a potential earthquake scenario in the densely populated city of Dhaka, with participants identifying key logistics gaps that could exist in the event of a large-scale emergency. Following the workshop, a Logistics Preparedness Action Plan was drafted to address the challenges identified and it is currently under review by the Government and the Bangladesh National Logistics Cluster.
		  </p>
		  <p>
			In <strong>Laos</strong>, the Logistics Cluster is supporting the Ministry of Labour and Social Welfare with capacity building to support its Mobile Storage Unit pre-positioning strategy, an important measure to ensure rapid temporary relief item storage in strategic areas following disasters. The GLC team also supported an after-action review focused on logistics and coordination during the recent flooding response in six provinces. During the event, key priority activities were identified, which will be integrated as part of the drafting of a government-led Logistics Preparedness Action Plan.
		  </p>
		  <p>
			In <strong>Madagascar</strong>, a joint Memorandum of Understanding between WFP and the National Disaster Management Agency, BNGRC, was signed with the aim of strengthening logistics coordination mechanisms at regional and national levels. Following activities implemented in 2018, five sub-national workshops took place in high-risk regions to reinforce local coordination mechanisms. In June, the first ever Logistics Response Team Training to be conducted in French was held in-country. The training was a critical step to share best practice, build capacity and bring responders together before emergency.
		  </p>
		  <p>
			Following the Cyclone Idai response earlier this year, preparedness activities began in both <strong>Malawi</strong> and <strong>Mozambique</strong>, with workshops being held in both countries to bring together members of government ministries and humanitarian actors to map logistics gaps and address contingency planning. Work will continue in both countries to develop next steps, working towards the development of a common logistics preparedness action plan. A scoping mission was also undertaken in <strong>Zimbabwe</strong>, with project activities to begin rollout in February 2020. The transition from emergency operations to preparedness activities in all three countries solidifies the Logistics Cluster’s commitment to strengthen collaboration of global, regional and local logistics networks before, during and after an emergency.
		  </p>
		  <p>
			In <strong>South Sudan</strong>, the Global Logistics Cluster supported Ebola Virus Disease preparedness actions alongside the ongoing emergency response. In the <strong>Philippines</strong> activity implementation began in December 2019. During the second half of 2019, preparedness activities were also launched in both <strong>Haiti</strong> and <strong>Iraq</strong> with Preparedness Officers deployed in September. However, ongoing instability in both countries has so far limited project progress.
		  </p>

       </div>
  </div>

</section>
