<section id="sag" class="layout-column layout-center bg-red">

  <div class="grid grid-pair">
      <div class="text-left text">
          <h1 class="title">Global Strategic Advisory Group</h1>
          <p>
            The Global Strategic Advisory Group (GSAG) was created in 2016 to foster shared ownership of the Logistics Cluster through representing the community of partners and providing strategic guidance to the Global Logistics Cluster Support Team.
		  </p>
		  

		  <div class="mb-3 mt-3">
			<q class="border-white">
				For me, it’s really a privilege and a responsibility to represent my peers’ views in the GSAG, and to help steer the Logistics Cluster for the benefit of all partners.
			  </q>
			  <p>
				- Mary Jelliti, Logistics and Procurement Manager, GOAL 
			  </p>
		  </div>

		  <p>
			2019 was a year of translating vision and ambitions into workplans and concrete guidance. The GSAG held two face-to-face meetings and eleven teleconferences, providing guidance and leadership across a range of topics including Global Logistics Meetings and the Logistics Cluster Strategy. It revised the terms of reference of both the GSAG itself and the Logistics Cluster Global Working Groups, both of which were presented to and endorsed by the community of partners. 
		  </p>
		  
		  <div class="mb-3 mt-3">
			<q class="border-white">
				With the GSAG we try to support the Global Cell in Rome with the strategic views of the partners.
			  </q>
			  <p>- Theo Lingens, Deputy Head of Logistics Division, German Federal Agency for Technical Relief (THW)</p>
		  </div>
		  
		  <p>
			Anyone can utilise the GSAG as their representative body to put issues on the Logistics Cluster agenda. The members can be contacted through <a href="mailto: sag-logs@logcluster.org ">sag-logs@logcluster.org </a>
		  </p>
	</div>
	
	<div class="bg-photo" id="sag-photo">
		<div class="">
			<h2>GSAG Composition</h2>
			  <p class="serif">
				In 2020, Alex Marianelli joined the SAG in his role of Director of Supply Chain at WFP, replacing former Director of Supply Chain John Crisci. The other members have remained the same during the year. These are: non-governmental agency representatives Susan Hodgson (Head of Humanitarian Supply Chain, Save the Children), Fabrice Perrot (Director of Logistics, Solidarites International), and Mary Jelliti (Logistics and Procurement Manager, GOAL); governmental organisation representatives Didier Merckx (Team Leader, Transport and Logistics & ECHO Flights, European Civil Protection and Humanitarian Aid Operations (ECHO)), and Theo Lingens (Deputy Head of Logistics Division, German Federal Agency for Technical Relief (THW)); and Field Cluster Coordinator representative Katja Hildebrand (Logistics Cluster Coordinator, Central African Republic). Athalie Mayo serves as the Fixed Chair of the SAG. 	
			  </p>
			  <p class="serif">
				The SAG usually meets face-to-face twice a year, in addition to monthly teleconferences. This year, the meetings were all held online. On top of the regular sessions, the SAG generously supported the Logistics Cluster through a number of ad hoc meetings and at very short notice to provide guidance and advice. While the specific focus of most meetings was COVID-19, other topics have passed the SAG too.
			  </p>
			  <p class="serif">
				This year, exceptionally, there has not been a vote for SAG membership at the Global Logistics Meeting (GLM), due to the challenges of managing the vote in an online setting. The current SAG members have kindly agreed to remain in post until the next GLM in the spring of 2021. 
			  </p>
			  <p class="serif">
				Anyone can utilise the GSAG as their representative body to put issues on the Logistics Cluster agenda. The members can be contacted through sag-logs@logcluster.org. 
			  </p>
			  <p class="serif">
				More information about the GSAG and its full composition can be found <a href="https://logcluster.org/strategic-advisory-group">here</a>.
			  </p>
		</div>
	</div>
  </div>

</section>
