<section id="sag" class="layout-column layout-center bg-red">

  <div class="grid grid-pair">
      <div class="text-left text">
          <h1 class="title">Global Strategic Advisory Group</h1>
          <p>
            The Global Strategic Advisory Group (GSAG) was created in 2016 to foster shared ownership of the Logistics Cluster through representing the community of partners and providing strategic guidance to the Global Logistics Cluster Support Team.
		  </p>
		  

		  <div class="mb-3 mt-3">
			<q class="border-white">
				For me, it’s really a privilege and a responsibility to represent my peers’ views in the GSAG, and to help steer the Logistics Cluster for the benefit of all partners
			  </q c>
			  <p>
				- Mary Jelliti, Logistics and Procurement Manager, GOAL 
			  </p>
		  </div>

		  <p>
			2019 was a year of translating vision and ambitions into workplans and concrete guidance. The GSAG held two face-to-face meetings and eleven teleconferences, providing guidance and leadership across a range of topics including Global Logistics Meetings and the Logistics Cluster Strategy. It revised the TORs of both the GSAG itself and the Logistics Cluster Global Working Groups, both of which were presented to and endorsed by the community of partners. 
		  </p>
		  
		  <div class="mb-3 mt-3">
			<q class="border-white">
				With the GSAG we try to support the Global Cell in Rome with the strategic views of the partners
			  </q>
			  <p>- Theo Lingens, Deputy Head of Logistics Division, German Federal Agency for Technical Relief (THW)</p>
		  </div>
		  
		  <p>
			Anyone can utilise the GSAG as their representative body to put issues on the Logistics Cluster Agenda. The members can be contacted through <a href="mailto: sag-logs@logcluster.org ">sag-logs@logcluster.org </a>
		  </p>
	</div>
	
	<di class="bg-photo" id="sag-photo">
		<div>
			<h2>GSAG Composition</h2>
			  <p class="serif">
				Recent changes to the GSAG composition include the addition of Deputy Head of Logistics Division for the German Federal Agency for Technical Relief (THW), Theo Lingens, as new governmental organisation representative, Logistics Cluster Coordinator in the Central African Republic, Katja Hildebrand, as Field Cluster Coordinator representative, Global Logistics Cluster Coordinator Athalie Mayo as fixed chair, and Logistics and Procurement Manager for GOAL, Mary Jelliti, as NGO representative.
			  </p>
		</div>
	</div>
  </div>

</section>
