<section id="nigeria" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Somalia</h1>

      <div class="country-numbers">
        <h2 class="serif">April 2020</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">xx</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">XX</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">xx  </span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
    </div>

    <div class="country-numbers">
      <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">380  </span> <span>mt</span></span>
      <span class="label">Road Transport</span>
  </div>
    
    <div class="country-numbers">
      <span class="serif"><img src="images/training.svg" alt="Training icon" class="highlight-icon"> <span class="title">49  </span> <span>m<sup>3</sup></span></span>
      <span class="label">Humanitarians trained</span>
  </div>
	  

    </div>

    <div class="hidden-md-up">
      <img src="images/somalia.jpg" alt="Somalia" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Somalia</h1>
        <p>
            Conflict, insecurity and deteriorating infrastructure exacerbated by seasonal flooding hampers the logistics capability of the humanitarian community to deliver assistance to vulnerable populations in Somalia. The Logistics Cluster was re-activated on 26 April 2020 (previously Logistics Working Group) due to the demand for coordination, information management and common logistics services for the new ‘triple threat’ COVID-19, Locust and Floods emergency that became urgent in 2020. 
        </p>
        <p>
            Inter-state road transport via road is limited due to insecurity and conflict. Overland transport from Kenya to border regions in Somalia has not been possible since April 2019 due to the closure of Mandera border. Access by sea is the most viable option for prepositioning high volumes of humanitarian supplies, however, only four ports - Mogadishu, Bossaso, Berbera and Kismayo - remain operational. 
        </p>
        <p>
            Due the lack of stable road infrastructure and continued insecurity, and/or restrictions on border crossings, as well as seasonal flooding which can cause road access challenges during certain periods of the year rendering some key roads inaccessible; air transport remained the most viable option to deliver assistance to some locations across Somalia.  
        </p>
        <p>
            Multiple access challenges arose in 2020 as a result of COVID-19 restrictions, such as closures of airports and a lack of available commercial transport options. These challenges however made no significant impact on the Logistics Cluster’s ability to provide multiple common logistics common service options. 
        </p>
        <p>
            From May – December 2020, the Logistics Cluster facilitated the transportation of over 380 MT of relief items on behalf of 12 partners. The Logistics Cluster facilitated the provision of air and road transportation as part of the floods’ response of over 266 MT of relief items – such as tents, beds, NFI kits and sandbags - on behalf of six organisations (OPM/MoH, Gredo, UNHCR, IOM, CESVI and MOHADM) to Baidoa, Beletwyne, El Berde, Dollow, Hobyo and Jowhar. For the COVID-19 response, over 114 metric tonnes of COVID-19 related supplies were airlifted to Dhusamareb, Kismayo, Baidoa, Jowar, Hargeisa, Beletwyene, Garowe, Guriel and Barawe on behalf of CESVI, HALO Foundation, MOHADM, NRC, OPM/MoH, UNHCR, UNICEF and WHO.
        </p>
        <p>
            Logistics Cluster partners had reported challenges in the transportation of humanitarian cargo, into and within Somalia, due to delays in tax exemption approvals – which impacted the ability of urgent health items to be dispatched as rapidly as needed. However, the Logistics Cluster collaborated with OCHA to provide information to facilitate the advocacy of accelerated customs clearance of humanitarian cargo.  
        </p>
        <p>
            A user survey conducted in December 2020 received a good range of responses from multiple sectors such as Health, WASH, Shelter, Food Security, Nutrition, Logistics etc. The overall feedback was very positive – for example, in response to the question How would you describe the content/quality of the Logistics Cluster coordination? 90% of respondents replied, ‘very good/good’. 30% of respondents felt the Cluster provided ‘Extreme Value’ while 60% of respondents agreed ‘Much Value’. 76% of respondents agreed the Logistics Cluster’s information management was ‘good’ when it came to contributing to operational decision-making. 
        </p>
        <p>
            On 8 September, 49 participants from 21 organisations joined a virtual Logs Cluster training. They engaged in robust discussions on the gaps and bottlenecks in emergency logistics operations and brainstormed ways in which collaboration amongst the partners would streamline efforts. 
        </p>
        <p>
            Puntland became a hotspot in November/December 2020 due to the devastating effects of Cyclone Gati that damaged much infrastructure and cut off key transport routes. The Logistics Cluster provided coordination and IM services (flood-affected road maps, cargo consolidated airlifts) to facilitate the delivery of relief items to affected populations. Additionally, as part of the Cyclone Gati Response, the Logistics Cluster collaborated with OCHA to facilitate the expedition of tax exemption for emergency humanitarian cargo for those affected in the Puntland region. 
        </p>
        <p>
            Jointly with UNHAS, the Logistics Cluster supported the transportation of Ministry of Health (MoH) medical teams, blood samples and COVID-19 medical supplies to key locations across Somalia. To provide additional storage capacity for MoH, the Logistics Cluster facilitated the loan and installation of an MSU which was set up in Mogadishu Airport (AAIA). The Logistics Cluster, together with WFP, supported the MoH and the OPM with the development of an easy-to-use cargo tracking tool for COVID-19 donations, stocks, and dispatches. This was handed over to the MoH in July. 
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$3.6</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$2.4</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-60 layout-column layout-center">
            <span class="fund-value">67%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
