<section id="somalia" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Slow-onset natural disaster</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Somalia</h1>

      <div class="country-numbers">
        <h2 class="serif">September 2009</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">6.2</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, December 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">36</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">31</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">13</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">700 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">1,156 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/sea.svg" alt="Boat icon" class="highlight-icon"> <span class="title">1,045 </span><span>mt</span></span>
        <span class="label">Sea transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">2,902</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>

    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Somalia</h1>
        <p>
          In February 2017, following a prolonged drought, the humanitarian situation in Somalia rapidly deteriorated. Levels of malnutrition and drought-related disease outbreaks rose throughout the country.
        </p>
        <p>
          In response to the emergency, a Drought Operations Coordination Centre (DOCC) was established in Mogadishu. All clusters, including the Logistics Cluster, are represented within the DOCC and are engaged in daily planning for the multi-sectoral response.
        </p>
        <p>
          The Logistics Cluster has been providing <strong>essential coordination and information management to mitigate duplication of efforts by humanitarian actors and to maximise the use of available logistics assets and resources.</strong>
        </p>
        <p>
          Regular logistics coordination meetings have been held in Mogadishu and Nairobi to foster dialogue with other clusters and organisations, assessment missions carried out to key locations to identify logistics gaps and bottlenecks and gather data, and relevant operational information shared through the publication of route accessibility maps, supplier/transporter lists, situation updates, and briefings.
        </p>
        <p>
          <strong>The Logistics Cluster facilitates access to sea, road and air transportation on behalf of the humanitarian community through WFP assets.</strong>  Humanitarian supplies are being transported by sea on a monthly basis from the Port of Mombasa to Mogadishu, Berbera, Bossaso, Kismayo, and Djibouti and by road into and throughout Somalia. In addition, two WFP cargo planes have been positioned in Mogadishu to facilitate the airlift of critical humanitarian supplies.
        </p>
        <p>
          To complement transport services, WFP also made available <strong>storage facilities</strong> throughout the country, as well as two refrigerated units in the WFP complex inside of the Mogadishu International Airport, for the storage of heat-sensitive relief items.
        </p>

        <small><i>Funding is through WFP operations</i></small>

      </div>

    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
