<section id="somalia" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">September 2009</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">5</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, November 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">16</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">18</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">5</span></span>
          <span class="label">Coordination meetings</span>
        </div>

      </div>

      <div class="text">
        <h1 class="title">Somalia</h1>
        <p>
          Acute humanitarian needs persist in Somalia. Vulnerability remain critical, due to continued insecurity and extremely low levels of socio-economic development resulting in limited ability to absorb recurrent shocks. 
        </p>
        <p>
          Insecurity, lack of transport services and infrastructure hamper access and humanitarian operations.
        </p>
        <p>
          A coordination hub is established in Nairobi to allow for liaison with other clusters and organisations and to channel operational information critical to decision making.

        </p>

      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
