<section id="southsudan" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">South Sudan</h1>

      <div class="country-numbers">
        <h2 class="serif">October 2010</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, December 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">139</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">222</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">82</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">6,141 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">205 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/river.svg" alt="Barge icon" class="highlight-icon"> <span class="title">1,474 </span><span>mt</span></span>
        <span class="label">River transport</span>
      </div>
    </div>

    <div class="operation-right">

      <div class="text">
        <h1 class="title hidden-md-down">South Sudan</h1>
        <p>
          Over the past four years the humanitarian crisis in South Sudan has deepened and spread, affecting people in areas previously considered stable and exhausting the coping capacity of those already impacted.
        </p>
        <p>
          The ongoing insecurity in conjunction with an extremely poor transport infrastructure have left the humanitarian sector with limited options to deliver lifesaving cargo to the displaced populations scattered across the country. Air and river transport are often the only means to deliver humanitarian cargo to remote locations cut off from any road access. While some road access is possible this is generally limited to the six month dry season.
        </p>
        <p>
          <strong>The Logistics Cluster has been facilitating air transport to priority locations</strong> with dedicated air assets, made available by WFP Aviation, bringing large quantities of relief cargo to hard-to-reach locations. <strong>Air services have been complemented by IOM which provides shunting services</strong> to and from the airstrips and deliveries to nearby locations, in the dry season, in the Boyond Wau and Beyond Bentiu responses.
        </p>
        <p>
          The Logistics Cluster has also been coordinating access to trucking services and river transport via barge to move larger payloads of NFIs and, working closely with OCHA and WFP Access Units, <strong>facilitated 23 convoys on behalf of the humanitarian community.</strong>
        </p>
        <p>
          To complement transportation services, WFP, as the lead of the Logistics Cluster, has made available common storage warehouses in several locations across the country and provided MSUs for the strategic prepositioning of relief items based on organisations’ needs.
        </p>
        <p>
          <strong>The Logistics Cluster plays a key role in South Sudan, beyond the facilitation of common services. The cluster coordinates among the numerous humanitarian organisations on the ground, fostering cooperation and best practices to overcome common logistics constraints</strong> and it has been providing capacity building training to 134 national logistics staff from the 19 organisations.
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$29.9</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$29.9</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
