<section id="southsudan" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">South Sudan</h1>

      <div class="country-numbers">
        <h2 class="serif">October 2010</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, December 2018]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">148</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">256</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">74</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">558 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">5,262 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/river.svg" alt="Barge icon" class="highlight-icon"> <span class="title">947 </span><span>mt</span></span>
        <span class="label">River transport</span>
      </div>
    </div>

    <div class="operation-right">

      <div class="text">
        <h1 class="title hidden-md-down">South Sudan</h1>
        <p>
            I joined the Logistics Cluster team in South Sudan as an Information Management Officer in September 2018, after having served in Central African Republic in the same capacity. 
        </p>
        <q>
            Despite my previous experience in a complex emergency, nothing really prepares you for a challenging, large-scale operation such as South Sudan where we provide a full range of common, integrated services.
        </q>
        <p>
            In 2018 alone, in close collaboration with OCHA and WFP Access Unit, we coordinated 51 convoys on behalf of the humanitarian community. This figure is double what was achieved last year and is a constant effort in coordination. The convoy schedule was significantly increased between January and March to maximise the use of the roads during the dry season and to facilitate prepositioning of goods in areas that become hard-to-reach or even cut off during the rainy season. We must be both flexible and alert to maximise the use the window of opportunity dry season presents, while also minimising risks.  
        </p>
        <p>
            Because of the access issues, exacerbated in the rainy season, during which numerous areas become inaccessible, the Logistics Cluster also facilitates air transport all year long to priority locations, through dedicated assets made available by WFP Aviation. This allowed the transport of 5,262 mt of relief cargo to hard-to-reach locations in 2018. These air services are complemented by IOM Common Transport Services which provide shunting to and from airstrips along with transport to access closed sites.
        </p>
        <p>
            River transport through barges is also made available to move larger payloads of Non-Food Items. In 2018, 1,015 mt of relief items were transported along the Nile River across seven barge movements from Bor to Malakal in close cooperation with WFP.
        </p>
        <p>
            To complement transportation services, WFP, as lead agency of the Logistics Cluster, has made common storage warehouses available to the humanitarian community in several locations across the country and provided MSUs for the strategic prepositioning of relief items. MSUs are a critical part of the relief supply chain - it is where the humanitarian action takes shape.
        </p>
        <p class="quote">
            - Lila Ricart, Information Management Officer, South Sudan
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$28.8</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$28.8</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
