<section id="southsudan" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">October 2010</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">5.1</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[OCHA, November 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">117</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">207</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">92</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">12,160</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">5,187 </span><span>mt</span></span>
          <span class="label">Air transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">175 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/river.svg" alt="Barge icon" class="highlight-icon"> <span class="title">1,278 </span><span>mt</span></span>
          <span class="label">River transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/convoy.svg" alt="Convoy icon" class="highlight-icon"> <span class="title">7</span></span>
          <span class="label">Convoys coordinated</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">South Sudan</h1>
        <p>
          Ongoing insecurity and poor transport infrastructure leave the humanitarian sector with limited options to deliver lifesaving cargo to the displaced populations scattered across South Sudan.
        </p>
        <p>
          The Logistics Cluster has been working to ensure the humanitarian community has access to otherwise inaccessible locations by coordinating air transport of emergency response cargo. Working through WFP Aviation, large quantities of relief cargo have been transported to hard-to-reach locations. Air services have been complimented by IOM which provides shunting services to and from the airstrips.
        </p>
        <p>
          The Logistics Cluster has also been facilitating river transport via barge and access to common storage facilities, and has partnered with other humanitarian organisations such as ACTED, IOM and IRC for the management of the common warehouses.
        </p>
        <p>
          The Logistics Cluster encouraged organisations to preposition cargo during the dry season, improving the efficiency of the humanitarian supply chain. Road convoy coordination played a key role in enabling the prepositioning and distribution of humanitarian cargo and reduced the risk exposure of organisations using road transport.
        </p>
        <p>
          Regular coordination meetings are held in Juba and key locations, such as Bor, Bentiu, Malakal, Wau and Rumbek, to ensure effective interagency response by sharing relevant logistical information, identifying bottlenecks and finding appropriate solutions. The Logistics Cluster regularly participated in the Inter-Cluster Working Group and the Civil-Military Access Working Group, both chaired by OCHA.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$26</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$26</span> <small>million</small></span>
            <span class="label">received</span>
          </div>

          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
