<section id="southsudan" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">South Sudan</h1>

      <div class="country-numbers">
        <h2 class="serif">October 2010</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">7.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance</span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">205</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">282</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">79</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif">
			<svg class="highlight-icon red">
				<use xlink:href="sprite.svg#Logistics"></use>
			</svg>
			  <span class="title">6,481 </span><span>mt</span></span>
          <span class="label">Road, River and Air transport</span>
        </div>

      <div class="country-numbers">
		<span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> 
			<span class="title">48 </span></span>
        <span class="label">INTER-AGENCY HUMANITARIAN CONVOYS Coordinated BY ROAD AND RIVER</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/2018/ssd.jpg" alt="Lila Ricart, Information Management Officer, South Sudan" class="img-fluid" />
    </div>

    <div class="operation-right">

      <div class="text">
        <h1 class="title hidden-md-down">South Sudan</h1>
        <p>
			The Logistics Cluster was first activated in 2011 to address logistical challenges including a fragile security situation, limited access, and a wet season  that renders much of South Sudan inaccessible for half the year. In 2019, the cluster continued to play a key role in supporting 205 humanitarian organisations with coordination, information management, Ebola Virus Disease (EVD)  preparedness, capacity building, and facilitation of access to common logistics services.

		</p>
		<p>
			An improved security situation combined with expanded physical and humanitarian access enabled the Logistics Cluster to drive logistics efficiencies by expanding road and river transport over the more costly option of air transport for the movement of relief items to hard-to-reach areas. The Logistics Cluster, with support from the WFP Access and Security Units, coordinated 41 humanitarian convoys along seven major supply routes on behalf of the humanitarian community. In conjunction with IOM’s Common Transport Services project, the cluster also transported humanitarian cargo to areas surrounding the Bentiu and Wau hubs by road via the Beyond Responses, reducing the reliance on air operations. Beyond Response Operations were implemented over the course of the year and 54 locations in Northern Bahr El Ghazal, Unity, Warrap and Western Bahr El Ghazal States were reached by road rather than by air. 
		</p>
        <q>
            During 2019, the Logistics Cluster has continued  their unwavering support to Relief International in delivering humanitarian and lifesaving relief items to vulnerable communities in Upper Nile. The Logistic Cluster has also invested and contributed crucially to building the capacity of Relief International in terms of training and sharing knowledge and expertise.
		</q>
		<p class="quote">
            - Charles Otuma, Deputy Country Director - Operations, Relief International South Sudan
        </p>
        <p>
            During the dry season, the Logistics Cluster increased the frequency of road convoys and facilitated the pre-positioning of stock in common storage facilities across 22 locations, mitigating the impact of the ensuing rainy season. In addition, in 2019 the cluster loaned 10 Mobile Storage Units (MSU) to six organisations for partner-managed common storage in deep field locations where the cluster does not have a presence.  
        </p>
        <p>
			Following the successful increase of river movement by WFP Logistics, the Logistics Cluster more than doubled the number of 2018 movements of relief items along the Nile River. For the first time, the cluster also coordinated boat convoys to destinations relying heavily on humanitarian assistance located along the Sobat river such as Mandeng, Ulang and Old Fangak by El Zharaf river. With ten barge movements and seven boat convoys over the course of the year, 1,357 mt of humanitarian cargo was transported by river.
        </p>
        <p>
            While there was an increased focus on road and river transport, the use of air transport remained necessary to move relief items to locations unreachable by any other means. Through WFP Aviation, the Logistics Cluster facilitated access to five air assets based in the strategic hubs of Juba, Rumbek and Bor. A total of 4,362 mt of humanitarian cargo was delivered by air. 
        </p>
        <p>
			The importance of maintaining air transport services available to the humanitarian community was underlined as unprecedented flooding affected nearly 1 million people across the country in October 2019. The Logistics Cluster scaled up its logistical support to the humanitarian community and transported a total of 745 mt of flood-related cargo to affected areas. As the majority of response locations were only reachable by air as a consequence of airstrips being badly damaged or even inundated with water, the Logistics Cluster, through WFP Aviation, acquired an additional helicopter (Mi8) fully dedicated to the response based in Bor. When available, and landing conditions permitted, the cluster also used a fixed wing aircraft to support the flooding response. 
		</p>
		<p>
			To strengthen both the current and future response operations, the Logistics Cluster increased support to capacity building of national humanitarian logistics staff in a range of skills and across levels of expertise. A dedicated training officer joined the Logistics Cluster team in-country, facilitating 33 trainings for 671 participants (114 female, 557 male) from 148 organisations throughout the year. Trainings were held in eight locations across South Sudan and covered subjects such as basic and advanced humanitarian logistics, MSU erection, warehouse management and an introduction to the Logistics Cluster and wider cluster system.
		</p>
		<p>
			To address common logistics gaps and minimise duplication of effort, the Logistics Cluster continued to provide logistical coordination and information management services to organisations operating across South Sudan. In 2019, 79 coordination meetings were held in seven locations and 282 information updates were published.  
		</p>
		<p>
			On behalf of WFP Logistics South Sudan, the Logistics Cluster continued to take an active role in EVD Preparedness activities in 2019. As lead of the EVD Logistics Technical Working Group and representing WFP on the National Task Force, the Logistics Cluster established common storage for EVD items in four high-risk locations. The cluster also coordinated with UNHRD on the procurement of four ambulances donated to priority areas, with WFP Engineering on the construction of three isolation units, and facilitated access to bookings for a dedicated UNHAS aircraft for EVD support missions and sample collection.
		</p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">US$26.9</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$26.3</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-98 layout-column layout-center">
            <span class="fund-value">98%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
