<section id="stephen" class="layout-column layout-center blend">

  <div class="slide-center">

     <div class="text-left">
        <h1 class="title">Introduction</h1>
        <p class="serif">
          The Logistics Cluster enables global, regional and local actors to meet humanitarian needs. Before crises, we work with stakeholders in high-risk countries and regions to strengthen local capacities, working with governments and local actors on system-wide preparedness and contingency planning. In crises, where local capacities have been exceeded, we provide leadership, coordination, information management and operational services.
          Globally, the Logistics Cluster is a community of partners actively working to overcome logistics constraints, and develop and share best practices and solutions. 
        </p>
        <p class="serif">
          Because of its expertise in humanitarian logistics and its field capacity, the World Food Programme was chosen by the Inter-Agency Standing Committee as the lead agency of the Logistics Cluster. In this role, where necessary, WFP acts as a provider of last resort offering common logistics services to all humanitarian responders, ensuring an efficient emergency response, reducing duplication of humanitarian efforts, and saving costs.
        </p>
        <p class="serif">
          The Global Logistics Cluster support team, hosted in the WFP Headquarters in Rome, provides logistics surge capacity and support to the humanitarian community, reinforcing operations on the ground. 
        </p>
        <p class="serif">
          The team is also responsible for delivering several trainings aimed at developing the logistics response of the humanitarian community, providing NGO and UN staff with the necessary skills and tools to respond in an emergency. 
        </p>
        <p class="serif">
          Through these trainings, the cluster develops Logistics Cluster Coordinators, Logistics Officers and Information Management Officers, all key figures in an emergency response.
        </p>
        <p class="serif">
          At the field level, the Logistics Cluster is responsible for the coordination and information management of logistics responses. When necessary, the Logistics Cluster coordinates access to common logistics services, facilitating the delivery and storage of supplies. 
        </p>
        <p class="serif">
          Throughout 2018, the Logistics Cluster has supported 552 organisations, including national and international NGOs, UN agencies, foundations, civil society organisations and government agencies. This support includes hosting coordination meetings to discuss gaps and bottlenecks and develop common operational solutions; producing and sharing Information Management products to assist in day-to-day activities as well as strategic planning; coordinating humanitarian inter-agency convoys, and facilitating the delivery and storage of relief supplies. 
        </p>
        <p class="serif">
          Current field operations include Bangladesh, Cameroon, Central African Republic, Democratic Republic of the Congo, Indonesia, Iraq, Libya, Nigeria, Somalia, South Sudan, Syria and Yemen. 
        </p>
     </div>
  </div>

</section>
