<section id="strategy" class="layout-column layout-center">
	<div class="content">
		<div class="text-left text black">
			<h1 class="title">STRATEGY IMPLEMENTATION PLAN</h1>
			<p>In September 2019, the Logistics Cluster community finalised its first ever Strategy Implementation Plan (SIP) for activities at global level, demonstrating the strength of the cluster partnership. </p>
			<p>As a management, monitoring, and evaluation tool for the Logistics Cluster activities at global level, the SIP will strengthen accountability, enhance coordination amongst the various stakeholders, and increase visibility and direct involvement of partners in these activities. </p>
			<p>The SIP structure is divided into four thematic: “Support to Emergency Preparedness”, “Network and Mobilise Collective Strengths”, “Support to Emergency Response”, and “Learn and Drive Best Practices” each with their own set of activities as well as specific output and outcome indicators.   </p>
			<p>A total of 33 organisations signed up in 2019 to support to the 2020 SIP, either as activity leads or contributors. Nonetheless, the 2020 implementation of the SIP has been significantly hampered by the ongoing COVID-19 outbreak. This has halted the vast majority of the work committed by the partner organisations and has resulted in only a few outputs and outcomes being achieved. </p>
			<img src="images/strategy.png" alt="Strategy Goals" class="img-float img-float-right">
		</div>
	</div>	
</section>