<section id="strategy" class="layout-column layout-center">

  <div class="grid grid-pair">
      <div class="text-left text">
          <h1 class="title">STRATEGY IMPLEMENTATION PLAN</h1>
          <p class="serif">
            In September 2019, the Logistics Cluster community finalised its first ever Strategy Implementation Plan for activities at the global level demonstrating the strength of the cluster partnership.
          </p>
         <p>
			As a management, monitoring and evaluation tool for global level cluster activities, the plan will strengthen accountability and enhance coordination amongst the multitude of cluster stakeholders, and increase the visibility and direct involvement of partners in cluster activities.
		 </p>
		 <p>
			The current community-driven strategy was adopted by the Logistics Cluster in 2016, but the decision to strengthen collaboration with a results-based management framework was only taken in May 2018.
		 </p>
		 <p>
			Subsequently, a dedicated Working Group led a year-long drafting process to translate the “vision” and “goals” of the Logistics Cluster Strategy for 2016-2021 into a measurable roadmap for action.
		 </p>
		 <p>
			Consultations were held with Logistics Cluster partners at the Global Meetings in Rome 2018 and Dubai 2019 with the KPI, Preparedness, and Lessons Learned Working Groups, and with the Global Logistics Cluster Support Team.
		 </p>
		 <p>
			The resulting draft plan was finalised and endorsed at the Global Meeting in Dublin in September 2019.
		 </p>
		 <p>
			Before the end of the year, 33 organisations had signed up 107 times to implement activities in the plan. Discussions on activity areas were also kicked off to capture the know-how and experience of the broader community ahead of the implementation phase starting in 2020.
		 </p>
       </div>
    <div class="img">
      <img src="images/strategy.png" alt="Strategy Goals" class="img-fluid">
    </div>
  </div>

</section>
