<section id="syria" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Syria</h1>

      <div class="country-numbers">
        <h2 class="serif">January 2013</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">13.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, December 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">70</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">78</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">37</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">6,876 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">22,760 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">61,582</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Syria</h1>
        <p>
          <strong>The Logistics Cluster facilitates access to crucial logistics services for operations across the region</strong>, following the UN Security Council Resolution 2165, which established the Whole of Syria (WoS) approach, bringing together regional separate operations – Turkey, Jordan and Syria – into a single framework. In addition, the Logistics Cluster facilitates common logistics services inside Syria.
        </p>
        <p>
          The Logistics Cluster has been working relentlessly with relevant organisations active in the region to enhance coordination and the effectiveness of the overall response, through the provision of a set of tailored logistics services including warehousing, road and air transport contingency fuel provision and storage, cross-border coordination and transhipment services.
        </p>
        <p>
          <strong>Inside Syria, relief cargo has been transported to affected communities, often to cut-off locations, through Inter-Agency Humanitarian Convoys. In 2017 the Logistics Cluster coordinated 55 convoys in close collaboration with the Syrian Arab Red Crescent (SARC), OCHA and UN agencies.</strong>
        </p>
        <p>
          <strong>Air operations, using WFP assets, were facilitated to Qamishli (airlifts) until June 2017 and to Deir-ez-Zor (airdrops) until September 2017, when land access was resumed.</strong> In light of the newly established land access to these previously cut-off locations, air operations were discontinued and replaced with free to user road transport, which has been complemented with increased warehouse capacity for a total of 16,429 m² across Syria.
        </p>
        <p>
          Alongside the facilitation of common services, to foster the discussion on logistics bottlenecks and the development of common solutions to improve the humanitarian response among the actors active in the region, the Logistics Cluster holds regular coordination meetings in Damascus, Amman, Gaziantep and Antakya.
        </p>
        <p>
          <strong>The Logistics Cluster maintained its commitment to strengthen local capacities, training 188 people from 53 different organisations in Turkey, Jordan, Syria and Lebanon.</strong>
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$12.2</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$12.2</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
