<section id="syria" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Conflict</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">January 2013</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">13.5</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, December 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">60</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">57</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">44</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">19,115</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">18,978 </span><span>mt</span></span>
          <span class="label">Air transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">75,487 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/convoy.svg" alt="Convoy icon" class="highlight-icon"> <span class="title">107</span></span>
          <span class="label">Convoys coordinated</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">Syria</h1>
        <p>
          To meet the needs of humanitarian partners operating in the Whole of Syria, the Logistics Cluster continues to provide support, including logistical coordination, information management, and capacity building through logistics training, as well as facilitating access to road and air transport, storage and transhipment services.
        </p>
        <p>
          Under the framework of the Inter-Agency Humanitarian Convoys, the Logistics Cluster has facilitated the transport of relief items through convoys to hard-to-reach and cut-off areas, organised in close collaboration with OCHA and the Syrian Arab Red Crescent (SARC).
        </p>
        <p>
          Airlift operations that began in July 2016, brought food, WASH, health and education supplies from Damascus to Qamishli on behalf of nine humanitarian organisations (ACF, GOPA, ICRC, IOM, UNFPA, UNHCR, UNICEF, WFP and WHO).
        </p>
        <p>
          Coordination meetings held in Damascus, Amman, Gaziantep and Antakya, have been working to mitigate logistics bottlenecks and develop common solutions for improved cross-line, cross-border and regular humanitarian response.
        </p>
        <p>
          Over 5,000 litres of WFP-procured diesel have been provided as donations for shelters and community centres, and 35,500 litres of diesel have been made available to the humanitarian community under cost recovery for operational purposes.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$12</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$12</span> <small>million</small></span>
            <span class="label">received</span>
          </div>

          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">100%</span>
              <img src="images/100-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
