<section id="syria" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Syria</h1>

      <div class="country-numbers">
        <h2 class="serif">January 2013</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">11.7</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">105</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">71</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">44</span></span>
        <span class="label">Coordination meetings</span>
      </div>


      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">10,000 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">16,559</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/syria.jpg" alt="Syria" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Syria</h1>
        <p>
			The Logistics Cluster was activated in Syria in January 2013. Almost seven years on, the Syrian context remained one of the most complex humanitarian crises worldwide, with an estimated 11.7 million people in need of humanitarian and protection assistance in 2019 (OCHA). In September 2014, the Whole of Syria (WoS) approach was adopted as a result of the UN Security Council Resolution 2165. The resolution brought together separate regional operations - Syria, Turkey, Iraq and up until June 2018, Jordan - into a single framework. 
		</p>
		<p>
			In 2019, based on gaps and needs identified with partners, the Logistics Cluster supported a total of 105 humanitarian organisations with coordination, information management and facilitation of common logistics services. This included cross-border transhipment services, inter-agency convoys, common transport, contingency fuel provision and warehousing. 
		</p>
        <q>
            I always look forward to Logistics Cluster meetings. I get to meet colleagues from other organisations and hear their concerns, difficulties and successes – it brings us closer together. During these meetings, boundaries between agencies blur and it’s almost like we all become part of the same unit, discussing and finding solutions to our shared logistics challenges. These fora can also help us to make operational decisions together, which is empowering.  
        </q>
        <p>
			The Logistics Cluster provided coordination support for cross-border operations and transhipment services from Turkey and Iraq. In Turkey, transhipment was managed by the Logistics Cluster at the crossing points of Bab al Hawa and Bab al Salam. Following a deterioration of the humanitarian situation in north-west Syria, the transhipment operation was vital to ensure that lifesaving aid reached affected populations, especially ahead of the winter. In 2019, the Logistics Cluster facilitated the transhipment of 8,033 trucks at the two crossings – almost a doubling of the number the year before. 
		</p>
		<p>
			In Iraq, The Logistics Cluster used the Al-Yarubiyah border crossing to facilitate the transhipment of humanitarian cargo, supporting UN partners with the delivery of predominantly medical items into north-east Syria. Over the course of the year, 40 trucks were coordinated for transhipment services. 
		</p>
		<p>
			Throughout 2019, the cluster continued to support the coordination of Inter-Agency convoys in close collaboration with OCHA and the Syrian Arab Red Crescent (SARC). Four humanitarian convoys were coordinated this year inside Syria. The cluster also supported with common transport. In total, the Logistics Cluster facilitated the road transport of 10,000 mt of relief items on behalf of eight organisations. 
		</p>
		<p>
			Making use of WFP warehouses in Aleppo, Homs, Al-Hasakeh and Rural Damascus, the Logistics Cluster facilitated access to common storage services. Following a scale-up in humanitarian response needs in north-east Syria in October 2019, the Logistics Cluster also increased available storage capacity in Qamishli, as well as provided ongoing support to SARC for the augmentation of additional warehousing space in Deir-ez-Zor. Since the beginning of the year, the Logistics Cluster facilitated the reception of a total 16,559 m<sup>3</sup> of relief items for storage. 
		</p>
		<p>
			With a complex operation spanning three countries, sharing information and coordinating between actors was paramount. In 2019, the Logistics Cluster shared 71 information management products and held 44 coordination meetings in Damascus, Erbil, Gaziantep, Antakya, and other locations within Syria. 
		</p>
		<p>
			The cluster also facilitated 13 trainings on core logistics topics across the region with a total of 369 humanitarians (319 men, 50 women) from 95 organisations participating. 
		</p>
        <p class="quote">
            - Mohammad Al-Khaldi, Logistics Officer, WFP, Damascus 
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$6.4</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$3.5</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-50 layout-column layout-center">
            <span class="fund-value">55%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
