<section id="syria" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Syria</h1>

      <div class="country-numbers">
        <h2 class="serif">January 2013</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">13.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, December 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">70</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">78</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">37</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">6,876 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">22,760 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">61,582</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Syria</h1>
        <p>
            The Logistics Cluster was activated in Syria in January 2013 to facilitate access to crucial logistics services for all operations across the region.
        </p>
        <q>
            I became Deputy Cluster Coordinator in Damascus in January 2016 before becoming Cluster Coordinator in May 2017. Since then we have been adjusting our strategy, and consequently our operations, to respond to the different needs arising as a consequence of the conflict.  
        </q>
        <p>
            In 2018 we provided coordination support for cross-border operations and transhipment services from Turkey, Iraq and Jordan for a total of 5,042 trucks. In Jordan, this service was provided until June 2018, with transhipment and transport into southern Syria managed by IOM at Al-Ramtha crossing point. In Turkey and Iraq, transhipment at the crossing points of Bab al Hawa, Bab al Salam and Al Yaroubiyah is managed by WFP.
        </p>
        <p>
            Within Syria, we have been providing common transport and storage services. Together with OCHA and the Syrian Arab Red Crescent (SARC), we coordinated Inter-Agency humanitarian convoys to hard-to-reach locations and besieged areas, and facilitated access to free-to-user transport to Qamishli, Deir-ez-Zor, Eastern Ghouta, and other newly-accessible areas using WFP assets. A total of 18 humanitarian convoys were coordinated in 2018.
        </p>
        <p>
            Making use of WFP warehouses in Aleppo, Homs, Lattakia, Qamishli, Rural Damascus and Tartous, the Logistics Cluster has coordinated the prepositioning of inter-agency cargo, as well provided temporary storage of relief items before their onward movement to further destinations and distribution points. In 2018, a total of 23,101 m3 of relief items were stored in these common warehouses.
        </p>
        <p>
            Finally, to ensure the effective coordination of a complex response that extends across three countries, and all the accompanying complications of border crossings and different customs regulations, we have worked to maintain a strong regional information management and coordination system.
        </p>
        <p class="quote">
            - Samuel Terefe, Logistics Cluster Coordinator, Syria
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$12.2</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$12.2</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
