<section id="thankyou" class="layout-column layout-center">

  <div class="slide-center">
    <h1 class="title">Thank you!</h1>
    <p>Good stuff is worth sharing!</p>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_inline_share_toolbox"></div>
  </div>

</section>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5899bf9a82039e01"></script> 
