<section id="ukraine" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <div class="country-numbers">
        <h2 class="serif">February 2015</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">4</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, August 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">41</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">14</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">7</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">2,659 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title">Ukraine</h1>
        <p>
          The Logistics Cluster has been coordinating humanitarian logistics to facilitate the delivery of life saving humanitarian assistance to the affected populations in eastern Ukraine, namely Donetsk and Luhansk non-government controlled area (NGCA) and works in close cooperation with the Humanitarian Coordinator and OCHA to advocate for improved humanitarian access and to overcome logistics bottlenecks.
        </p>
        <p>
          In 2017 the Logistics Cluster has been supporting the organisations working in Ukraine mostly by facilitating <strong>27 humanitarian convoys.</strong>
        </p>
        <p>
          <strong>The Logistics Cluster has also been assisting humanitarian actors by streamlining the complex procedures required for transport across the conflict line</strong>, advising on the required paperwork, facilitating access by providing a UN umbrella for organisations and coordinating humanitarian convoys.
        </p>
        <p>
          In addition, the Logistics Cluster has been consolidating and sharing information on customs procedures, road access and on available logistics capacity to facilitate cargo movements and in-country access.
        </p>
        <p>
          Finally, the cluster has been coordinating access to warehousing and cargo consolidation facilities in Dnipro (former Dnipropetrovsk) and to transport services to support the delivery of relief items to the Non-Government Controlled Areas.
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$1.5</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$0.8</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-50 layout-column layout-center">
            <span class="fund-value">58%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
