<section id="updates" class="layout-column layout-center bg-red">

  <div class="grid grid-updates">
      <div class="text-left text">
          <h1 class="title">Cameroon</h1>
		  <p>
			  In 2019, the Logistics Cluster continued to monitor the situation in Cameroon which is experiencing the impact of three distinct, complex humanitarian crises fuelled primarily by violence and insecurity. The cluster was activated in October 2018, specifically in relation to the North-West South-West crisis which saw insecurity and attacks against civilians cause mass movements of people.
		  </p>
		  <p>
			  A Coordinator and an Information Management Officer were deployed to Cameroon to meet with partners and conduct a logistics gaps and needs analysis. Following consultations with humanitarian organisations working on the response as well as with the WFP Country Office, the in-country commercial logistics capacity was found to be sufficient to meet humanitarian needs and no additional cluster activities were required. The cluster was therefore moved to a dormant status. 
		  </p>

		  <h1 class="title">Haiti</h1>
		  <p>
			The 2019 Humanitarian Needs Overview (HNO) identified approximately 2.6 million people in need of humanitarian assistance in Haiti and throughout 2019, the economic, social and political context deteriorated further. As of mid-November, the deteriorated security situation affected both the public and private sectors’ supply chain capacity to provide essential services. Following a gaps and needs assessment, coordination and information management were identified as the two areas in which the support of the Logistics Sector to the humanitarian community was required. 
		  </p>
		  <p>
			During the same month a Logistics Sector coordination cell was established in Port-au-Prince to coordinate inter-agency humanitarian efforts in collaboration with national counterparts. Before the end of the year, four coordination meetings were organised to facilitate the exchange of information between actors.  An initial 15 information updates were also provided through a common mailing list and a dedicated webpage. Overall, the sector supported 42 partners including 12 national stakeholders. 
		  </p>
		  
		  <h1 class="title">IRAQ</h1>
		  <p>
			The Logistics Cluster was activated in Iraq in April 2014 to support the response to the Level 3 emergency that had seen millions of people displaced across the country amidst a surge of violence. While humanitarian partners continued to respond to the needs of internally displaced persons (IDPs), host communities and returnees throughout 2019, key logistics gaps identified during previous stages of the Logistics Cluster operation had by then been bridged or changed. A more predictable supply chain and supply pipeline, resumption of local market capacity, and a downsizing of humanitarian actors' presence led to a decline in the demand for Logistics Cluster services. 
		  </p>
		  <p>
			The Logistics Cluster in Iraq was deactivated in the first quarter of 2019 and priority activities were transitioned to a WFP/Mercy Hands co-led Logistics Working Group with increased involvement of the government.
		  </p>
       </div>
    <div class="text-left text">
		<p>
			The Global Logistics Cluster, in close collaboration with the WFP Iraq country office also rolled out Preparedness Project initiatives across 2019-2020. 
		</p>
		<p>
			During its last months of operation in 2019, the cluster supported 32 partners with coordination, information management and access to common logistics services. The last two coordination meetings were held in Erbil and Baghdad in January and nine information updates were published on the dedicated webpage of the operation. As part of the transition, Mercy Hands, which had provided common storage services in Tikrit and Hamam Al Alil camps, converted the services to a cost-recovery basis for the humanitarian community and the Logistics Cluster donated loaned MSUs to users in the field.
		  </p>
		<h1 class="title">LIBYA</h1>
		<p>
			Since 2011, Libya has been affected by political, security and economic volatility and the humanitarian situation is increasingly complex. In 2019, 893,000 people were estimated to be in need of humanitarian assistance including internally displaced persons, returnees, non-displaced conflict-affected people and host communities, refugees and migrants. Violence during 2019 saw further displacement (OCHA). Humanitarian organisations faced a number of challenges to effectively deliver relief items, especially due to security and access constraints around Tripoli and in the east and south of the country. The Logistics Sector supported the humanitarian community with coordination and information management to facilitate operational planning amidst volatility.
		</p>
		<p>
			In 2019 the Logistics Sector published 36 information updates and organised eight coordination meetings for partners out of Tunis from where the international community is supporting the response. Partners also worked together to maintain a flexible network and facilitate quick sharing of information. Three organisations served as regional focal points to support logistics working groups operating out of the east, west and south – Première Urgence International (PUI), Cesvi and International Medical Corps respectively. PUI also moderated a Skype group, allowing Logistics Coordinators to exchange relevant logistics information in real time. In response to a request, the Logistics Sector facilitated the storage of 163 m<sup>3</sup> of humanitarian relief items.
		</p>

		<h1 class="title">VENEZUELA </h1>
		<p>
			The Logistics Cluster was officially activated in-country to support the humanitarian response to the crisis. Due to the absence of WFP in Venezuela, OCHA has been acting as lead agency with support from the Global Logistics Cluster in Rome. A Logistics Cluster Coordinator and Information Management Officer were deployed to the country in November 2019, gathering 15 partners in a first coordination meeting in Caracas before the end of the year. 
		</p>
		<p>
			The cluster also provided training to 47 staff members of the National Disaster Management Agency in Emergency Humanitarian Supply Chain and Warehouse Management. The team started conducting a logistics needs and gaps assessment, collecting information from national and international partner organisations as well as representatives from the private sector.
		</p>
    </div>
  </div>

</section>
