<section id="updates" class="layout-column layout-center bg-red">

  <div class="grid grid-updates">
      <div class="text-left text">
          <h1 class="title hidden-md-down">Cameroon</h1>
		  <p>
			  In 2019, the Logistics Cluster continued to monitor the situation in Cameroon which is experiencing the impact of three distinct, complex humanitarian crises fuelled primarily by violence and insecurity. The cluster was activated in October 2018, specifically in relation to the North-West South-West crisis which saw insecurity and attacks against civilians cause mass movements of people.
		  </p>
		  <p>
			  A Coordinator and an Information Management Officer were deployed to Cameroon to meet with partners and conduct a logistics gaps and needs analysis. Following consultations with humanitarian organisations working on the response as well as with the WFP Country Office, the in-country commercial logistics capacity was found to be sufficient to meet humanitarian needs and no additional cluster activities were required. The cluster was therefore moved to a dormant status. 
		  </p>
		  
		  <h1 class="title hidden-md-down">IRAQ</h1>
		  <p>
			The Logistics Cluster was activated in Iraq in April 2014 to support the response to the L3 emergency that had seen millions of people displaced across the country amidst a surge of violence. While humanitarian partners continued to respond to the needs of IDPs, Host Communities and Returnees throughout 2019, key logistics gaps identified during previous stages of the Logistics Cluster operation had by then been bridged or changed. A more predictable supply chain and supply pipeline, resumption of local market capacity, and a downsizing of humanitarian actors presence led to a decline in the demand for Logistics Cluster services. 
		  </p>
		  <p>
			The Logistics Cluster was deactivated in the first quarter of 2019 and priority activities were transitioned to a WFP-Mercy Hands co-led Logistics Working Group with increased involvement of the Government. The Global Logistics Cluster, in close collaboration with the WFP country office also rolled out Preparedness Project initiatives across 2019-2020.
		  </p>
		  <p>
			During its last months of operation in 2019, the cluster supported 32 partners with coordination, information management and access to common logistics services. The last two coordination meetings were held in Erbil and Baghdad in January and nine information updates were published on the dedicated webpage of the operation. As part of the transition, Mercy Hands, which had provided common storage services in Tikrit and Hamam Al Alil camps, converted the services to a cost-recovery basis for the humanitarian community and the Logistics Cluster donated loaned MSUs to users in the field. 
		  </p>
       </div>
    <div class="text-left text">
		<h1 class="title hidden-md-down">LIBYA</h1>

		<h1 class="title hidden-md-down">VENEZUELA </h1>
    </div>
  </div>

</section>
