<section id="updates" class="layout-column layout-center bg-red">
	
	<div class="grid grid-updates">
		<div class="text-left text">
			<h1 class="title">Haiti</h1>
			<p>
				Since the deactivation of the Logistics Cluster in June 2012, Haiti has a formal functional logistics sector under the leadership of the DGPC (General Directorate of the Civil Protection) and WFP as co-lead, providing coordination and information management services. In 2020, the logistics sector has been resuming its coordination support with the arrival of the Covid19 in Haiti and has provided regular meetings at capital level since in order to share key logistics information and updates. 
			</p>
			<p>
				Since October, with the arrival of a Preparedness officer, the logistics sector has been gradually shifting its focus into Preparedness actions, initiating some information tools and the updates of LCA sections through field missions.
			</p>
			<p>
				In addition, a GNA (Gaps and Needs Assessment) has been performed in October, which has highlighted key gaps, such as improving access to key logistics information, road access constraints and lack of suitable storage infrastructure throughout the country, and a need to reinforce the coordination mechanism at decentralized level.
			</p>
			<p>
				There is a need to improve the access to updated logistics capacity information, specifically in the mapping of infrastructures, the identification of partners’ strength and weaknesses which is part of the core requirements of the Preparedness project.
			</p>
			
			<h1 class="title">Libya</h1>
			<p>
				In 2020, the Logistics Sector has continued to provide coordination platform and logistics information sharing to the humanitarian community operating in Libya. The Logistics Sector activities focused mainly in supporting the appropriate coordination platform as well as providing logistics information sharing to allow humanitarian community (i) to have access to up to date and relevant logistics information, (ii) make sure that available in-country logistics resources are used, and (iii) avoid duplication of efforts. 
			</p>
			<p>
				In the context of COVID-19 pandemic, the Logistics Sector in Libya with the support of the Global Logistics Cluster has conducted a Gaps and Needs Analysis to advise on the most efficient logistics coordination mechanisms to address the current constraints faced by responders in-country. Due to the exceptional international measures affecting movements of staff, the analysis was conducted remotely in April and May 2020. 
			</p>
			<p>
				Using the Gaps and Needs Analysis methodology, consultations and interviews were conducted with 16 humanitarian organizations at country and global level in order to assess existing and potential logistics gaps, constraints and needs for which a Logistics support might be requested by partners involved in the Libya response and preparedness. The key recommendations of the analysis can be summarized as follow: To deploy a dedicated Logistics Sector coordinator in order to reinforce the coordination as well as the information sharing of relevant logistics information within humanitarian partners; to support and strengthen the Logistics Sector coordination mechanism in Libya as well as enhancing coordination with other relevant technical supply chain-related working group (Access and Procurement) and other relevant coordination mechanisms/forum (ICC), specifically in the area of logistics information sharing; to raise partners’ awareness on to the supply chain resources already made available by WFP and partners; and to build the capacity of partners in the technical area of Logistics through the provision of trainings. 
			</p>
			<p>
				The Gaps and Needs Analysis report was shared with the HCT and OCHA for possible advocacy with the donors in order to secure necessary funding for the Logistics Sector activities for the next 6 months (including Logistics Sector Coordinator position and Information Management activities). Unfortunately, funding shortfall did not allow to secure appropriate resources in 2020.
			</p>
			
		</div>
		<div class="text-left text" style="-ms-grid-column: 2;">
			<h1 class="title">Sudan</h1>
			<p>
				Since 2011, Libya has been affected by political, security and economic volatility and the humanitarian situation is increasingly complex. In 2019, 893,000 people were estimated to be in need of humanitarian assistance including internally displaced persons, returnees, non-displaced conflict-affected people and host communities, refugees and migrants. Violence during 2019 saw further displacement (OCHA). Humanitarian organisations faced a number of challenges to effectively deliver relief items, especially due to security and access constraints around Tripoli and in the east and south of the country. The Logistics Sector supported the humanitarian community with coordination and information management to facilitate operational planning amidst volatility.
			</p>
			<p>
				In 2019 the Logistics Sector published 36 information updates and organised eight coordination meetings for partners out of Tunis from where the international community is supporting the response. Partners also worked together to maintain a flexible network and facilitate quick sharing of information. Three organisations served as regional focal points to support logistics working groups operating out of the east, west and south – Première Urgence International (PUI), Cesvi and International Medical Corps respectively. PUI also moderated a Skype group, allowing Logistics Coordinators to exchange relevant logistics information in real time. In response to a request, the Logistics Sector facilitated the storage of 163 m<sup>3</sup> of humanitarian relief items.
			</p>
			
			<h1 class="title">VENEZUELA </h1>
			<p>
				The Logistics Cluster was activated in-country to support the humanitarian response to the crisis. Due to the absence of WFP in Venezuela, OCHA has been acting as lead agency with support from the Global Logistics Cluster in Rome. A Logistics Cluster Coordinator was deployed for most of the year 2020, managing remotely from July onwards due to the COVID-19 pandemic. 
			</p>
			<p>
				Regular coordination meetings are held to support the exchange of information between the 43 registered organisations. The cluster, through various means of communication, such as social media groups and mailing lists, tries to support the sharing of practical logistical information among its partners. 
			</p>
			<p>
				The Cluster continues its coordination and support activity with information management, providing updates and reports in terms of logistical capacity, restrictions and access. This includes guidelines and mechanisms within the framework of the COVID-19 Global Humanitarian Response Plan. 
			</p>
			<p>
				The Cluster supported the compilation and dissemination of information for the repatriation flights organized by embassies, cargo flights of the Humanitarian Air Bridge from the EU and humanitarian flights organized by the World Food Program to Venezuela, from its operational centre in Panama. 
			</p>
		</div>
	</div>
	
</section>
