<section id="yemen" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Yemen</h1>

      <div class="country-numbers">
        <h2 class="serif">June 2011</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">24.1</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance </span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">74</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">131</span></span>
        <span class="label">IM updates published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">20</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">50,648  </span> <span>m<sup>3</sup></span></span>
          <span class="label">Road transport</span>
        </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">2,203 </span> <span>m<sup>3</sup></span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/sea.svg" alt="Boat icon" class="highlight-icon"> <span class="title">21,049  </span> <span>m<sup>3</sup></span></span>
        <span class="label">Sea transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">50,457</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/yemen.jpg" alt="Yemen" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Yemen</h1>
        <p>
            In its fifth year of widespread conflict, in 2019 Yemen remained the worst humanitarian crisis in the world. An estimated 24.1 million people were in need of humanitarian assistance in a complex and fluid context including severe economic decline, food insecurity, cholera outbreaks, and natural disasters (OCHA). The Logistics Cluster has been active in Yemen since June 2011 and has since continued to adapt its strategy and activities to overcome critical logistics challenges in close coordination with the partner community. 
        </p>
        <p>
            In 2019, the Logistics Cluster supported 74 partners with coordination, information management and facilitation of access to common logistics services. The latter included air cargo transport, sea passenger transport, sea cargo transport, inland road transport and storage of relief items. 
        </p>
        <p>
            The air cargo transport service connecting Djibouti to Sana’a was specifically dedicated to urgent and life-saving relief items. Over the course of the year, 2,203 m<sup>3</sup> of cargo was airlifted through WFP-chartered flights.
        </p>

        <p>
            Since May 2016, the Logistics Cluster has been coordinating and facilitating a weekly passenger sea transport service between Djibouti and Aden and between Djibouti and Hudaydah through two WFP-chartered vessels, VOS Apollo and VOS Theia. The schedule is set to facilitate easy connection with UNHAS flights in and out of Djibouti and Aden. The vessels have a capacity of 600 mt and are therefore also used for sea cargo transport from Djibouti to Aden and to Hudaydah when the need arises. In addition, both vessels can be used for emergency evacuation purposes. This was the case in August 2019 when the vessels facilitated three accelerated staff rotations.  Since then, VOS Theia has been kept on stand-by in the port of Aden due to the volatile security situation and the sea service connecting Djibouti to Hudaydah was therefore temporarily put on hold. Over the course of 2019, a total of 344 passengers from 15 organisations and 21,049 m<sup>3</sup> of humanitarian cargo was transported via sea. 
        </p>
		<q>
            The Logistics Cluster was committed to commonly address the real needs of humanitarian organisations during the emergency response in Yemen this year. The transportation services for medical aid provided by the Logistics Cluster is one of the key elements that really impacts the design of the medical supply chain of MDM and adds value for our operation. Working together as partners, we succeeded in delivering more than 50 tonnes of medicines and medical aid by cluster air and sea freight transportation from the Djibouti Hub to both the North and South of Yemen. Thanks to the Logistics Cluster in Yemen for facilitating our humanitarian operation.

        </q>
        <p class="quote">
            - Waleed Alrubaidi, Logistic Coordinator, Médecins du Monde
        </p>
       <p>
		Challenges affecting road transport between the south and the north of the country, humanitarian access, and movement restrictions particularly impacted the downstream supply chain of Logistics Cluster partners, and as a result the delivery of humanitarian assistance to people in need. Despite the above, the Logistics Cluster continued to facilitate inland road transport. 50,648 m<sup>3</sup> of humanitarian supplies were transported on behalf of 31 organisations, covering over 216 locations across 20 governorates and 95 districts. 
	   </p>
	   <p>
		17,640 m<sup>2</sup> of common storage capacity across Aden, Bajil, Hudaydah and Sana’a was made available to the humanitarian community in Yemen and the facilities in Aden were augmented to include temperature-controlled and cold chain storage. In addition, the Logistics Cluster loaned 15 MSUs to eight organisations to be managed as common storage in strategic areas. Overall, 50,457 m<sup>3</sup> of cargo was accepted into common storage over the year. 
	   </p>
	   <p>
		During the second quarter of 2019, fuel provision services made available to the humanitarian community since 2011 were transferred to WFP Bilateral Service Provision to continue to fulfill potential ad-hoc fuel requests (diesel and petrol) from humanitarian organisations in Yemen on a cost-recovery basis.
	   </p>
	   <p>
		In 2019, coordination and information management services were provided in both Sana’a and Aden to maximise the use of available resources in-country and avoid duplication of efforts. 20 coordination meetings were organised in Sana’a and Aden and 131 information updates published. 
	   </p>
       
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$56.2</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <!-- <div class="text-center">
          <span class="serif"><span class="title">$42</span> <small>million</small></span>
          <span class="label">funds available in 2019</span>
        </div> -->

        <div class="text-center">
          <div class="fund-percentage fund-percentage-70 layout-column layout-center">
            <span class="fund-value">75%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
