<section id="yemen" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <div class="country-numbers">
        <h2 class="serif">June 2011</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">20.7</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, April 2017]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">60</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">104</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">25</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">779 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">1,677 </span><span>mt</span></span>
        <span class="label">Road transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/sea.svg" alt="Boat icon" class="highlight-icon"> <span class="title">2,316 </span><span>mt</span></span>
        <span class="label">Sea transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">18,031</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title">Yemen</h1>
        <p>
          Since March 2015, Yemen has seen a dramatic escalation of armed conflict that has led to mass displacements, a near-collapsed socio-economic situation, and a drastic deterioration in food security.
        </p>
        <p>
          Responding organisations have been facing critical challenges such as damaged road infrastructure, access disruptions, congestion at main entry points, limited international shipping options (especially by air) and fuel shortages. In 2017, the largest cholera outbreak ever recorded demanded a logistics scale-up to ensure that humanitarian organisations could deliver efficient and effective assistance to the affected population.
        </p>
        <p>
          Since 2015, the Logistics Cluster has facilitated access to common logistics services to maximise the use of available resources in-country, and avoid duplication of efforts; <strong>services include sea transport of relief items from Djibouti to Aden and Hodeidah, storage in the three hubs of Sana’a, Hodeida and Aden, overland transport inside Yemen, and fuel provision to humanitarian organisations.</strong>
        </p>

        <p>
          The Logistics Cluster also coordinates access to chartered airlifts from Djibouti to Sana’a provided to the humanitarian community by WFP Aviation. The frequency of the airlifts increased in 2017 from almost one airlift per month in the first half of the year to a peak of four flights per week in August, due to <strong>the cholera epidemic</strong> that required urgent transport of Health and WASH cargo. From August, onward, cargo flights settled on an average of two per month.
        </p>

        <p>
          Since May 2016, the Logistics Cluster also coordinates a passenger movement service between Djibouti and Aden on the WFP-chartered vessel VOS Apollo, which transports on average more than <strong>100 passengers each month; 34 organisations (UN agencies, INGOs, NNGOs) used the service in 2017.</strong>
        </p>
        <p>
          Through this common services platform, the Logistics Cluster ensured in 2017 an integrated supply chain of humanitarian cargo in support of over 50 organisations (including organisations accessing emergency fuel made available by WFP, as well as organisations using the sea passenger service).
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$18.7</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$16.8</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-90 layout-column layout-center">
            <span class="fund-value">91%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

        <small class="dimmed light"><i>Additional funding has been received for port rehabilitation and for passenger sea transport, respectively 4.5 ML and 2.9 ML. These two projects are fully funded.</i></small>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
