<section id="yemen" class="layout-column layout-center blend blend-blue">

  <div class="slide-center">

    <h3 class="boxed">Complex protracted emergency</h3>

    <div class="layout-row">

      <div class="highlight text-left">
        <div class="country-numbers">
          <h2 class="serif">June 2011</h2>
          <span class="label">Logistics Cluster Activation</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">18.8</span> <span>million</span></span>
          <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> *[OCHA, November 2016]</i></small></span>

        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">43</span></span>
          <span class="label">Organisations Supported</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">133</span></span>
          <span class="label">IM products published</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">31</span></span>
          <span class="label">Coordination meetings</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">9,262</span> <span>m<sup>3</sup></span></span>
          <span class="label">Storage</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">800 </span><span>m<sup>3</sup></span></span>
          <span class="label">Air transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">13,940 </span><span>m<sup>3</sup></span>
          <span class="label">Road transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/sea.svg" alt="Boat icon" class="highlight-icon"> <span class="title">13,912 </span><span>m<sup>3</sup></span>
          <span class="label">Sea transport</span>
        </div>

        <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">22 </span><span>mt</span></span>
          <span class="label">Convoys coordinated</span>
        </div>
      </div>

      <div class="text">
        <h1 class="title">Yemen</h1>
        <p>
          Humanitarian  organisations  responding  to  the crisis  in  Yemen have been facing  a  number  of logistical challenges that continue to impede their ability to deliver relief supplies.
        </p>
        <p>
          To ensure timely and efficient emergency logistics response, the Logistics Cluster has been supporting inter-agency logistics coordination establishing hubs inside Yemen and in Djibouti and providing information management including mapping/GIS services.
        </p>
        <p>
          Inside Yemen, the Logistics Cluster is coordinating access to common storage in Aden (640 m2), Hodeidah (640 m2) and Sana’a (320 m2), and from the same locations, overland transport. The cluster also facilitate access to WFP-managed fuel distribution points in these three locations, with 1,238,543 litres distributed in 2016.
        </p>

        <p>
          Establishing presence in Djibouti, the Logistics Cluster has been coordinating cargo transport by sea from the Port of Djibouti to the Ports of Hodeidah and Aden. Since May, the Logistics Cluster also facilitates passenger sea transport to Aden. These services are made available through WFP chartered vessels and commercial vessels.
        </p>

        <p>
          Making use WFP Aviation assets, the Logistics Cluster has also been facilitating cargo airlifts from Djibouti to Sana’a.
        </p>

        <div class="layout-row layout-row-3">
          <div class="left">
            <span class="serif"><span class="title">$11.5</span> <small>million</small></span>
            <span class="label">requirement</span>
          </div>

          <div class="middle">
            <span class="serif"><span class="title">$7.6</span> <small>million</small></span>
            <span class="label">received</span>
            <span class="dimmed">Additional funding has been received for port rehabilitation and for passenger sea transport, respectively 4.5 ML and 2.9 ML. These two projects are fully funded.</span>
          </div>

          <div class="right text-center">
            <div class="fund-percentage layout-column layout-center">
              <span class="fund-value">67%</span>
              <img src="images/63-fund.svg" alt="Funded percentage">
            </div>
            <span class="label fund-percentage-label">funded</span>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
