<section id="yemen" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Complex emergency</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Yemen</h1>

      <div class="country-numbers">
        <h2 class="serif">June 2011</h2>
        <span class="label">Logistics Cluster Activation</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">24</span> <span>million</span></span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA, December 2018]</i></small></span>

      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="Partnership icon" class="highlight-icon"> <span class="title">58</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="Information icon" class="highlight-icon"> <span class="title">133</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="Cog icon" class="highlight-icon"> <span class="title">28</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif"><img src="images/truck.svg" alt="Truck icon" class="highlight-icon"> <span class="title">12,005 </span><span>mt</span></span>
          <span class="label">Road transport</span>
        </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/plane.svg" alt="Plane icon" class="highlight-icon"> <span class="title">1,081 </span><span>mt</span></span>
        <span class="label">Air transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/sea.svg" alt="Boat icon" class="highlight-icon"> <span class="title">2,430 </span><span>mt</span></span>
        <span class="label">Sea transport</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="House icon" class="highlight-icon"> <span class="title">62,435</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>
    </div>

    <div class="hidden-md-up">
      <img src="images/2018/yemen.jpg" alt="Yemen" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Yemen</h1>
        <p>
            The Logistics Cluster has been active in Yemen since June 2011, supporting humanitarian responders with information management, coordination and access to common logistics services. Throughout this period the situation in Yemen has remained volatile, conflict has escalated, and multiple crises have affected the country, including cholera outbreaks, internal displacements and natural disasters.
        </p>
        <p>
            I have been there for most of it, first on temporary assignment, then posted in Sana’a as Cluster Coordinator and saying that this is a complex emergency is an understatement; humanitarian needs are enormous and the capacity of responding organisations is strained.  
        </p>
        <p>
            In 2018, the cluster ensured the continued transport of relief items into the country through air services that connect Djibouti to Sana’a and sea services that connect Djibouti to Aden and Hodeidah. 1,081 mt of cargo was transported using WFP-chartered flights, and 2,430 mt of cargo was transported on board two WFP-chartered vessels, as well as dhows. Cargo has included medicines and medical equipment, vaccines, bed nets, generators, solar vaccine refrigerators, and even ambulances.
        </p>

        <p>
            In addition, we coordinated the transport of 12,005 mt of humanitarian supplies on behalf of 23 organisations to 288 locations across the country, and facilitated access to common warehouse facilities in Sana’a, Aden and Hodeidah, where 62,435 m<sup>3</sup> of cargo was accepted into storage on behalf of 17 organisations.
        </p>

        <p>
            The cluster also mobilised 15 MSUs for organisations to borrow and deploy where most needed, to be managed by these organisations as common storage for all interested humanitarian responders. As of December 2018, seven MSUs have been loaned to IRC, DRC, UNICEF, ADRA and WHO.
        </p>
        <p>
            To add to the complexity, following the escalation of conflict around Hodeidah in June and the subsequent increase of humanitarian activities targeting Internally Displaced Persons (IDPs), the Logistics Cluster has been tasked with coordinating Rapid Response Mechanism (RRM) deliveries to Humanitarian Service Points and Transit Points, established to provide IDPs with relief items. 
        </p>
        <q>
            All of these achievements, which come despite the difficulties we have faced this year, have only been possible thanks to our dedicated staff who every day take responsibility for coordinating the cluster activities on the ground, and to WFP Management’s constant support of our operations. 
        </q>
        <p class="quote">
            - Christophe Morard, Logistics Cluster Coordinator, Yemen
        </p>
      </div>

      <div class="numbers">
        <div class="text-center">
          <span class="serif"><span class="title">$41.8</span> <small>million</small></span>
          <span class="label">requirement</span>
        </div>

        <div class="text-center">
          <span class="serif"><span class="title">$41.8</span> <small>million</small></span>
          <span class="label">received</span>
        </div>

        <div class="text-center">
          <div class="fund-percentage fund-percentage-100 layout-column layout-center">
            <span class="fund-value">100%</span>
          </div>
          <span class="label fund-percentage-label">funded</span>
        </div>

      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
