<section id="zimbabwe" class="blend blend-blue">

  <div class="grid-operation">

    <div class="category">
      <h3 class="boxed">Natural disaster</h3>
    </div>

    <div class="highlight text-left">
      <h1 class="title hidden-md-up">Zimbabwe</h1>

      <div class="country-numbers">
        <h2 class="serif">April 2019</h2>
        <span class="label"></span>
      </div>

      <!-- <div class="country-numbers">
        <span class="serif"><img src="images/family.svg" alt="People icon" class="highlight-icon"> <span class="title">220,000</span> </span>
        <span class="label">people in need of humanitarian assistance <small class="dimmed"><i> [OCHA]</i></small></span>

      </div> -->

      <div class="country-numbers">
        <span class="serif"><img src="images/organisations-icon.svg" alt="People icon" class="highlight-icon"> <span class="title">24</span></span>
        <span class="label">Organisations Supported</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/im.svg" alt="People icon" class="highlight-icon"> <span class="title">46</span></span>
        <span class="label">IM products published</span>
      </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/coordination.svg" alt="People icon" class="highlight-icon"> <span class="title">11</span></span>
        <span class="label">Coordination meetings</span>
      </div>

      <div class="country-numbers">
          <span class="serif"><img src="images/helicopter.svg" alt="Helicopter icon" class="highlight-icon"> <span class="title">88 </span><span>mt</span></span>
          <span class="label">Air transport</span>
        </div>

      <div class="country-numbers">
        <span class="serif"><img src="images/storage.svg" alt="People icon" class="highlight-icon"> <span class="title">541</span> <span>m<sup>3</sup></span></span>
        <span class="label">Storage</span>
      </div>


    </div>

    <div class="hidden-md-up">
      <img src="images/zimbabwe.jpg" alt="Zimbabwe" class="img-fluid" />
    </div>

    <div class="operation-right">
      <div class="text">
        <h1 class="title hidden-md-down">Zimbabwe</h1>
        <p>
			The Logistics Cluster was activated in Zimbabwe in early April, following severe flooding and infrastructural damage to Manicaland Province caused by the remnants of Cyclone Idai which crossed into the country as a tropical storm on 17 March. With approximately 90% of roads and bridges in the affected areas rendered unusable, air transport was the only means of reaching cut-off populations with assistance. 
		</p>
		<p>
			The Logistics Cluster, through WFP, facilitated access to air transport by Mi8 helicopter for the humanitarian community. Over the course of the response, 88 mt of humanitarian cargo was transported from Mutare to 15 locations in the affected districts of Chimanimani and Chipinge. To facilitate air cargo consolidation, the Logistics Cluster also made common storage available at the airfield in Mutare where 541 m<sup>3</sup> of relief items was stored over the length of the response. 
		</p>
        <q>
            I was in Lebanon, working with the Logistics Cluster as an Information Management Officer for the Syria response, when I was asked to deploy as surge capacity to support the government-led response, so off I went, with very little notice, to my first emergency deployment.
        </q>
        <p>
			Overall, 24 organisations were supported through coordination, information management and facilitation of access to crucial logistics services. A total of 11 coordination meetings were convened in Harare and Mutare and 46 information updates including access constraints maps were published on a dedicated webpage.
		</p>
		<p>
			As the situation improved and the response transitioned from emergency to early recovery, the Logistics Cluster scaled down its operational activities and began working towards rolling out preparedness initiatives, designed to build on lessons learned as part of the response to foster continued collaboration and communication within the humanitarian community in Zimbabwe.
		</p>
        <p class="quote">
            - Agnes Semaan, Information Management Officer, Indonesia
        </p>
      </div>
    </div>

  </div>

  <div class="overlay overlay-blue"></div>
</section>
