// fade and appear from top
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// fade and disappear down
@keyframes fade-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

// stretch vertically
@keyframes stretch {
  from {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}

// stretch horizontally
@keyframes stretch-h {
  from {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}

// background blend
@keyframes blend {
  from {
    background-color: transparent;
  }
  to {
    background-color: $lc-blue;
  }
}

.fade-up {
  @include animation(fade-up, 2s);
}

.fade-down {
  @include animation(fade-down, 2s);
  opacity: 1;
}

// .blend {
//   @include animation(blend, 2s);
// }

.stretch {
  @include animation(stretch, 2s);

  &:after {
    @include animation(fade-down, 3s);
  }
}

.stretch-h {
  @include animation(stretch-h, 2s);
}
