body {
  margin: 0;
  padding: 0;
}

.grid-2,
.grid-operation,
.slide-center,
.logo {
  position: relative;
  z-index: 3;
}

.mb-0 {
  margin-bottom: 0;
}

// visibility classes

.hidden-md-up {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.hidden-md-down {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

// divider styles
hr {
  border-bottom: 1px;
  border-color: rgba(255, 255, 255, .5);
}

// Grid layout

.grid-2 {
  margin: 0 auto;
  width: 90%;

  @include media-breakpoint-up(md) {
    align-items: flex-start;
    display: grid;
    grid-column-gap: 40px;
    grid-template-rows: 200px auto;
    grid-template-columns: 1fr 1fr;
  }

  .right {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }

  .highlight {
    -ms-grid-row: 2;
  }

  .category {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    grid-column: 1 / 3;
    justify-content: center;
    margin-bottom: 60px;
    text-align: center;

    -ms-grid-column-span: 2;
  }
}

.grid-operation {
  margin: 0 auto;
  width: 90%;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-rows: 200px auto auto;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 2fr;
  }

  & > div {
    margin: 0 10px;
  }

  .category {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    grid-column: 1 / 3;
    justify-content: center;
    text-align: center;

    -ms-grid-column-span: 2;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  .numbers {
    @include media-breakpoint-up(md) {
      align-items: center;
      display: grid;
      grid-column: 2;
      grid-template-columns: 1fr 1fr 1fr;

      small {
        grid-column: 1 / 4;
        margin-top: 20px;
        text-align: center;
      }

      & > div:nth-child(2) {
        -ms-grid-column: 2;
      }

      & > div:nth-child(3) {
        -ms-grid-column: 3;
      }
    }
  }

  .highlight {
    -ms-grid-row: 2;
  }

  .operation-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
}

// Flex layout
.layout {
  &-row {
    display: flex;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    @include media-breakpoint-up(lg) {
      &-1 > div {
        width: 100%;
      }

      &-2 > div {
        width: 50%;
      }

      &-3 > div {
        padding: 0 10px;
        width: 33.333333%;
      }
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-end {
    align-items: flex-end;
  }

  &-center {
    align-items: center;
    justify-content: center;

    &-stretch {
      align-items: stretch;
      justify-content: center;
      @include media-breakpoint-down(sm) {
        align-items: center;
      }
    }

    &-start {
      align-items: flex-start;
      @include media-breakpoint-down(sm) {
        align-items: center;
      }
    }
  }
}
// slide section
.slide {
  // align center
  &-center {
    margin: 20px;
    text-align: center;
    z-index: 3;
    @include media-breakpoint-up(md) {
      margin: 0 auto;
      width: 90%;
    }
  }

  &-left {
    margin: 20px;
    width: 90%;
    @include media-breakpoint-up(md) {
      margin-left: 10%;
      width: 30%;
    }
  }
}
// Logistics Cluster logo styles and dimensions
.logo {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  position: absolute;
  right: 100px;
  top: 0;
  width: 390px;

  @include media-breakpoint-down(md) {
    margin-right: -94px;
    right: 50%;
    top: 0;
    width: 50%;
  }
}
// highlight section
.highlight {

  &-image {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 390px;
  }

  &-icon {
    margin-right: 10px;
    height: 48px;
    width: 48px;
  }
}
// text section
.text {
  text-align: left;

  .title {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
// vertical line
.v-line {
  background-color: $dimmed;
  margin-bottom: 60px;
  min-height: 200px;
  position: relative;
  width: 2px !important;

  &::after {
    background-color: $dimmed;
    border-radius: 50%;
    bottom: -20px;
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: -10px;
    position: absolute;
    width: 20px;
  }
  @include media-breakpoint-down(md) {
    align-self: center;
  }
}
// spacing
.centered {
  padding: 100px 0;
  width: 90%;
  @include media-breakpoint-up(lg) {
    padding: 200px 0;
    width: 75%;
  }
}
// responsive image
.img-fluid {
  max-width: 100%;
}

.mobile-img {
  left: 50%;
  margin-left: -125px;
  position: absolute;
  top: 100px;
  width: 250px;
  z-index: 2;
}
// spacing
.m-a-0 {
  margin: 0;
}
// Chart fixes
.chart {
  height: 500px;
  width: 100%;
}
