body {
  margin: 0;
  padding: 0;
}

// divider styles
hr {
  border-bottom: 1px;
  border-color: rgba(255, 255, 255, .5);
}

// Flex layout
.layout {
  &-row {
    display: flex;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }

    &-1 > div {
      width: 100%;
    }

    &-2 > div {
      width: 50%;
    }

    &-3 > div {
      width: 33.333333%;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-center {
    align-items: center;
    justify-content: center;

    &-stretch {
      align-items: stretch;
      justify-content: center;
    }
  }
}

// slide section
.slide {
  // align center
  &-center {
    margin: 20px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin: 0 auto;
      width: 90%;
    }
  }
}

// Logistics Cluster logo styles and dimensions
.logo {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  width: 390px;
}

// highlight section
.highlight {
  margin: 50px;

  @include media-breakpoint-up(xs) {
    width: 50%;
  }

  &-image {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 390px;
  }
}

// text section
.text {
  margin: 50px;
  text-align: left;

  @include media-breakpoint-up(xs) {
    width: 50%;
  }

  @include media-breakpoint-up(lg) {
    width: 30%;
  }
}

// vertical line
.v-line {
  background-color: $dimmed;
  margin-bottom: 60px;
  min-height: 200px;
  position: relative;
  width: 2px !important;

  &::after {
    background-color: $dimmed;
    border-radius: 50%;
    bottom: -20px;
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: -10px;
    position: absolute;
    width: 20px;
  }
}

// responsive image
.img-fluid {
  max-width: 100%;
}
