section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  min-height: 100vh;
  padding-bottom: 30px;
  position: relative;
}

// background blend mode
@supports (background-blend-mode: multiply) {
  .blend {
    background-blend-mode: multiply;
    background-color: $gray;

    &-blue {
      background-color: $lc-blue;
    }

    &-red {
      background-color: $lc-red;
    }
  }
}

// overlay when background blend is not supported
@supports not (background-blend-mode: multiply) {
  .overlay {
    background-color: $black;
    bottom: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    &-blue {
      background-color: $lc-blue;
    }

    &-red {
      background-color: $lc-red;
    }
  }
}

// outcome content
.outcome {
  clear: both;

  @include media-breakpoint-up(lg) {
    width: 45%;
  }

  &.text-right {
    float: right;
  }

  p {
    font-weight: bold;
  }

  h2 {
    color: #EF3E35;
  }
}

// Background images
#cover {
  background-image: url('../images/air-ops.jpg');
}

#intro {
  background-attachment: local;
  background-color: $lc-red;
}

#numbersOne {
  background-attachment: local;
  background-image: linear-gradient($lc-blue, darken($lc-blue, 10%));
}

#numbersTwo {
  background-attachment: local;
  background-image: linear-gradient(darken($lc-blue, 10%), darken($lc-blue, 20%));
}

#numbersThree {
  background-attachment: local;
  background-image: linear-gradient(darken($lc-blue, 20%), darken($lc-blue, 30%));
}

#focus {
  background-image: url('../images/local-leadership.png');
}

#outcome {
  background-color: darken(#3134A1, 10%);
  background-image: url('../images/outcome.svg');
}

#partnerships {
  background-image: url('../images/partnership.jpg');
}

#emergencies {
  background-color: $white;
  background-image: url('../images/operations.svg');
}

#car {
  background-image: url('../images/car3.jpg');
}

#drc {
  background-image: url('../images/drc.jpg');
}

#ecuador {
  background-image: url('../images/ecuador.jpg');
}

#ethiopia {
  background-image: url('../images/ethiopia.jpg');
}

#fiji {
  background-image: url('../images/fiji.jpg');
}

#haiti {
  background-image: url('../images/haiti.jpg');
}

#iraq {
  background-image: url('../images/iraq2.jpg');
}

#nigeria {
  background-image: url('../images/nigeria.jpg');
}

#somalia {
  background-image: url('../images/somalia.jpg');
}

#syria {
  background-image: url('../images/syria.jpg');
}

#southsudan {
  background-image: url('../images/focus.jpg');
}

#ukraine {
  background-image: url('../images/ukraine.jpg');
}

#yemen {
  background-image: url('../images/yemen.jpg');
}

#thankyou {
  background-attachment: local;
  background-color: $lc-red;
}


// country numbers sections
.country {
  &-numbers {
    border-bottom: 3px solid $dimmed;
    margin-bottom: 10px;
  }
}

// country funded percentage
.fund {
  &-percentage {
    height: 170px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 170px;

    &-label {
      margin-top: 10px;
    }
  }

  &-value {
    display: block;
    font-family: $serif;
    font-size: 2.5em;
    font-weight: 900;
    left: 35px;
    position: absolute;
    top: 65px;
    z-index: 1;
  }
}
