section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  min-height: 100vh;
  padding-bottom: 30px;
  position: relative;
}

// background blend mode
@supports (background-blend-mode: multiply) {
  .blend {
    background-blend-mode: multiply;
    background-color: $gray;

    &-blue {
      background-color: $lc-blue;
    }

    &-red {
      background-color: $lc-red;
    }
  }
}

// overlay when background blend is not supported
@supports not (background-blend-mode: multiply) {
  .overlay {
    background-color: $black;
    bottom: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    &-blue {
      background-color: $lc-blue;
    }

    &-red {
      background-color: $lc-red;
    }
  }
}



// Background images
#intro {
  background-image: url('../images/air-ops.jpg');
}

#car {
  background-image: url('../images/car3.jpg');
}

#numbersOne {
  background-attachment: local;
  background-image: linear-gradient($lc-blue, darken($lc-blue, 10%));
}

#numbersTwo {
  background-attachment: local;
  background-image: linear-gradient(darken($lc-blue, 10%), darken($lc-blue, 20%));
}

#numbersThree {
  background-attachment: local;
  background-image: linear-gradient(darken($lc-blue, 20%), darken($lc-blue, 30%));
}

#ecuador {
  background-image: url('../images/ecuador.jpg');
}

#drc {
  background-image: url('../images/team1.jpg');
}

#iraq {
  background-image: url('../images/iraq2.jpg');
}


// country numbers sections
.country {
  &-numbers {
    border-bottom: 3px solid $dimmed;
    margin-bottom: 10px;
  }
}

// country funded percentage
.fund {
  &-percentage {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 170px;

    &-label {
      margin-top: 10px;
    }
  }

  &-value {
    font-family: $serif;
    font-size: 2.5em;
    font-weight: 900;
    position: absolute;
    z-index: 1;
  }
}
