section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: $white;
  min-height: 100vh;
  padding-bottom: 30px;
  position: relative;

  @media-breakpoint-up(md) {
    background-attachment: fixed;
  }
}

.overlay {
  background-color: $black;
  bottom: 0;
  left: 0;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  &-blue {
    background-color: $black;
  }

  &-red {
    background-color: $lc-red;
  }
}

// background blend mode
@supports (background-blend-mode: multiply) {
  .blend {
    background-blend-mode: multiply;
    background-color: $gray;

    &-blue {
      background-color: $lc-blue;
    }

    &-red {
      background-color: $lc-red;
    }
  }

  .overlay {
    display: none;
  }
}

// outcome content
.outcome {
  clear: both;

  @include media-breakpoint-up(lg) {
    width: 45%;
  }

  &.text-right {
    float: right;
  }

  p {
    font-weight: bold;
  }

  h2 {
    color: #EF3E35;
  }
}

// Background images
#cover {
  background-image: url('../images/2017/Madagascar.JPG');

  .slide-center {
    margin-top: 400px;

    @include media-breakpoint-down(md) {
      margin-top: 300px;
    }
  }
}

#intro {
  background-attachment: local;
  background-color: $lc-red;
}

#numbersOne {
  background-attachment: local;
  background-image: linear-gradient($lc-blue, darken($lc-blue, 10%));
}

#numbersTwo {
  background-attachment: local;
  background-image: linear-gradient(darken($lc-blue, 10%), darken($lc-blue, 20%));
}

#numbersThree {
  background-attachment: local;
  background-image: linear-gradient(darken($lc-blue, 20%), darken($lc-blue, 30%));
}

#focus {
  background-image: url('../images/2017/2.jpg');
}

#outcome {
  background-color: darken(#3134A1, 10%);
  background-image: url('../images/outcome.svg');
}

#partnerships {
  background-image: url('../images/2017/yemen-2.jpg');
}

#emergencies {
  background-color: $white;
  background-image: url('../images/operations.svg');
}

#bangladesh {
  background-image: url('../images/2017/bangladesh-2.jpg');
}

#car {
  background-image: url('../images/2017/car.JPG');
}

#drc {
  background-image: url('../images/2017/drc.png');
}

#iraq {
  background-image: url('../images/iraq2.JPG');
}

#madagascar {
  background-image: url('../images/2017/madagascar-2.JPG');
}

#nigeria {
  background-image: url('../images/2017/nigeria-2.jpg');
}

#somalia {
  background-image: url('../images/2017/somalia-2.jpg');
}

#syria {
  background-image: url('../images/syria.JPG');
}

#southsudan {
  background-image: url('../images/2017/ssd.jpg');
}

#ukraine {
  background-image: url('../images/ukraine.jpg');
}

#yemen {
  background-image: url('../images/2017/yemen.jpg');
}

#thankyou {
  background-attachment: local;
  background-color: $lc-red;
}


// country numbers sections
.country {
  &-numbers {
    border-bottom: 3px solid $dimmed;
    margin-bottom: 10px;
  }
}

// country funded percentage
.fund {
  &-percentage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 150px;

    &-100 {
      background-image: url('../images/100-fund.svg');
    }

    &-90 {
      background-image: url('../images/93-fund.svg');
    }

    &-50 {
      background-image: url('../images/50-fund.svg');
    }

    &-label {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

  &-value {
    display: block;
    font-family: $serif;
    font-size: 2.5em;
    font-weight: 900;
  }
}
