body {
  font-family: $sans-serif;
}

p {
  line-height: 1.6;
}

// color classes
.red {
  @include color($lc-red);
}

.blue {
  @include color($lc-blue);
}

.dimmed {
  @include color($dimmed);
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 3.5em;
  }
}

// big number display
.number {
  display: block;
  font-size: 4em;
  font-weight: 900;

  // when you want to highlight the label below
  h2 {
    font-size: 30px;
    margin: 0;
  }
}

// secondary label
.label {
  color: $dimmed;
  display: block;
  font-family: $sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;

  &-red {
    color: $lc-red;
    font-weight: 900;
  }
}

// serif font
.serif {
  font-family: $serif;

  .title {
    font-family: $serif;
    font-weight: 700;
  }
}

// section title
h1 {
  font-family: $sans-serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
}

// Text styles
.boxed {
  border: 5px solid $white;
  display: inline-block;
  font-family: $serif;
  margin: 40px 0;
  padding: 20px;
}

.text-shadow {
  text-shadow: 0 2px 4px $gray;
}

.link {
  bottom: 50px;
  color: $dimmed;
  letter-spacing: 5px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  img {
    display: block;
    margin: 0 auto;
    opacity: .6;
  }

  &:hover {
    @include transition(color, .3s);
    color: $white;

    img {
      @include transition(opacity, .3s);
      opacity: 1;
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.icon {
  display: block;
  font-size: 64px;

  &-large {
    font-size: 6em;
  }

  &-facebook {
    color: $facebook;
  }

  &-twitter {
    color: $twitter;
  }
}
