body {
  font-family: $sans-serif;
}

p {
  line-height: 1.6;
}

// color classes
.red {
  @include color($lc-red);
}

.blue {
  @include color($lc-blue);
}

// big number display
.number {
  display: block;
  font-size: 4em;
  font-weight: 900;
}

// secondary label
.label {
  color: $dimmed;
  font-family: $sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

// section title
h1 {
  font-family: $sans-serif;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 2px;
}

// Text styles
.boxed {
  border: 5px solid $white;
  display: inline-block;
  font-family: $serif;
  padding: 20px;
}

.text-shadow {
  text-shadow: 0 2px 4px $gray;
}

.link {
  bottom: 50px;
  color: $dimmed;
  letter-spacing: 5px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
}

.text-uppercase {
  text-transform: uppercase;
}
