// Colors
$black: #000;
$white: #fff;
$gray: rgba(0, 0, 0, .5);
$dimmed: rgba(255, 255, 255, .5);
$lc-red: #c0392b;
$lc-blue: #34495e;

// Typography
$sans-serif: 'Lato', Arial, sans-serif;
$serif: 'Merriweather', Georgia, serif;
