<% include _partials/_head %>
  <body>
    <main>
      <section id="thankyou" class="layout-column layout-center">

        <div class="slide-center">
          <img src="/images/logo-white.svg" alt="Logistics Cluster" height="200px">
          <h1 class="title">Something went wrong!</h1>
          <a href="/">Please go back to the main page</a>
        </div>

      </section>
    </main>
<% include _partials/_footer %>
