<% include _partials/_head %>
  <body>
    <main>
      <!-- Main navigation, list items, circle links -->
      <% include _partials/_mainnav %>

      <!-- Cover section -->
      <% include _partials/_cover %>

      <!-- Intro section -->
      <% include _partials/_intro %>

      <!-- 2016 in numbers part one, operations -->
      <% include _partials/_numbers %>

      <!-- 2016 in numbers part two, IM products and social media -->
      <% include _partials/_numberssocial %>

      <!-- 2016 in numbers part 3, staff, global meetings and trainings -->
      <% include _partials/_numberscont %>

      <!-- Focus section -->
      <% include _partials/_focus %>

      <!-- Key outcome section -->
      <% include _partials/_outcome %>

      <!-- Partnerships section -->
      <% include _partials/_partnerships %>

      <!-- 2016 operations section -->
      <% include _partials/_emergencies %>

      <!-- Bangladesh section -->
      <% include _partials/_bangladesh %>

      <!-- CAR section -->
      <% include _partials/_car %>

      <!-- DRC section -->
      <% include _partials/_drc %>

      <!-- Ethiopia section -->
      <% include _partials/_ethiopia %>

      <!-- Haiti section -->
      <% include _partials/_haiti %>

      <!-- Iraq section -->
      <% include _partials/_iraq %>

      <!-- Madagscar section -->
      <% include _partials/_madagascar %>

      <!-- Nigeria section -->
      <% include _partials/_nigeria %>

      <!-- Somalia section -->
      <% include _partials/_somalia %>

      <!-- South Sudan section -->
      <% include _partials/_southsudan %>

      <!-- Syria section -->
      <% include _partials/_syria %>

      <!-- Ukraine section -->
      <% include _partials/_ukraine %>

      <!-- Yemen section -->
      <% include _partials/_yemen %>

      <!-- Thank you section -->
      <% include _partials/_thankyou %>
    </main>
<% include _partials/_footer %>
