<% include _partials/_head %>
  <body onscroll="fade()">
    <main>
      <!-- Main navigation, list items, circle links -->
      <% include _partials/_mainnav %>
      <!-- Intro section -->
      <% include _partials/_intro %>

      <!-- CAR section -->
      <% include _partials/_car %>
    </main>
<% include _partials/_footer %>
